<div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT1' style='position:absolute; left:0px; top:0px; width:1220px; height:676px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-GRAPHIC13' style='position:absolute; left:188px; top:104px; width:872px; height:416px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT12' style='position:absolute; left:488px; top:200px; width:0px; height:0px; border: 1px solid red;'>
C1
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT15' style='position:absolute; left:488px; top:226px; width:0px; height:0px; border: 1px solid red;'>
C2
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT18' style='position:absolute; left:488px; top:250px; width:0px; height:0px; border: 1px solid red;'>
C3
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT21' style='position:absolute; left:488px; top:276px; width:0px; height:0px; border: 1px solid red;'>
C4
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT24' style='position:absolute; left:488px; top:380px; width:0px; height:0px; border: 1px solid red;'>
R1
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT27' style='position:absolute; left:488px; top:406px; width:0px; height:0px; border: 1px solid red;'>
R2
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT30' style='position:absolute; left:488px; top:452px; width:0px; height:0px; border: 1px solid red;'>
F1
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT33' style='position:absolute; left:488px; top:478px; width:0px; height:0px; border: 1px solid red;'>
F2
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT2' style='position:absolute; left:164px; top:58px; width:158px; height:22px; border: 1px solid red;'>
  Tipos de Relación 
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT6' style='position:absolute; left:336px; top:124px; width:0px; height:0px; border: 1px solid red;'>
Codigo
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT9' style='position:absolute; left:466px; top:124px; width:98px; height:22px; border: 1px solid red;'>
Descripción
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-GRAPHIC0' style='position:absolute; left:626px; top:124px; width:94px; height:22px; border: 1px solid red;'>
Inactivo-N,J
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT34' style='position:absolute; left:488px; top:304px; width:22px; height:22px; border: 1px solid red;'>
C5
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT35' style='position:absolute; left:488px; top:328px; width:22px; height:22px; border: 1px solid red;'>
C6
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT3' style='position:absolute; left:696px; top:478px; width:50px; height:22px; border: 1px solid red;'>
Fechas
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:490px; top:86px; width:250px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:504px; top:90px; width:226px; height:46px; border: 1px solid red;'>
SISTEMA DE SEGUIMIENTO&#10;
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:1000px; top:94px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:984px; top:68px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:1002px; top:42px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:804px; top:40px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='TRLMAN01-TRLCOD' style='position:absolute; left:322px; top:144px; width: 76px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='TRLMAN01_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='TRLMAN01' [displayedColumns]='displayedColumns' [name]='TRLMAN01'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OFICINA' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OFICINA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:836px; top:38px; width: 132px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:1068px; top:90px; width: 128px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1068px; top:38px; width: 128px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1068px; top:64px; width: 128px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:0px; top:2px; width: 482px; height:92px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRST' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:774px; top:76px; width: 144px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
