<div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:96px; top:38px; width:1028px; height:168px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:112px; top:8px; width:326px; height:22px; border: 1px solid red;'>
  CENTRALES DE RIESGO POR TERCERO  
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:116px; top:82px; width:190px; height:22px; border: 1px solid red;'>
Cod. Central de Riesgo
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:172px; top:110px; width:134px; height:22px; border: 1px solid red;'>
Codigo Tercero 
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT11' style='position:absolute; left:172px; top:140px; width:132px; height:22px; border: 1px solid red;'>
Codigo  Periodo
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT14' style='position:absolute; left:28px; top:214px; width:1172px; height:422px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15' style='position:absolute; left:34px; top:230px; width:148px; height:22px; border: 1px solid red;'>
Entidad Financiera
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT18' style='position:absolute; left:350px; top:230px; width:108px; height:22px; border: 1px solid red;'>
Tipo Garantia
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT21' style='position:absolute; left:484px; top:230px; width:30px; height:22px; border: 1px solid red;'>
Cal.
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT24' style='position:absolute; left:536px; top:230px; width:116px; height:22px; border: 1px solid red;'>
Moneda Legal
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT27' style='position:absolute; left:662px; top:230px; width:128px; height:22px; border: 1px solid red;'>
Mon. Extranjera
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT30' style='position:absolute; left:800px; top:230px; width:128px; height:22px; border: 1px solid red;'>
Tipo de Credito
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT33' style='position:absolute; left:1058px; top:230px; width:64px; height:22px; border: 1px solid red;'>
Porcen.
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT36' style='position:absolute; left:226px; top:556px; width:770px; height:58px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT37' style='position:absolute; left:304px; top:574px; width:52px; height:22px; border: 1px solid red;'>
Totales
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT40' style='position:absolute; left:528px; top:560px; width:100px; height:22px; border: 1px solid red;'>
Moneda Legal
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT43' style='position:absolute; left:654px; top:558px; width:136px; height:22px; border: 1px solid red;'>
Moneda Extranjera
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT46' style='position:absolute; left:818px; top:558px; width:148px; height:22px; border: 1px solid red;'>
Total endeudamiento
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT49' style='position:absolute; left:168px; top:170px; width:136px; height:22px; border: 1px solid red;'>
Codigo  Predicta
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT52' style='position:absolute; left:416px; top:174px; width:130px; height:22px; border: 1px solid red;'>
Codigo  Scoring
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT55' style='position:absolute; left:342px; top:520px; width:124px; height:22px; border: 1px solid red;'>
 Observaciones 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT59' style='position:absolute; left:2px; top:0px; width:1186px; height:440px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT60' style='position:absolute; left:34px; top:16px; width:124px; height:22px; border: 1px solid red;'>
 Tipo de Cuenta 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT63' style='position:absolute; left:222px; top:16px; width:112px; height:22px; border: 1px solid red;'>
 Entidad Finan
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT66' style='position:absolute; left:380px; top:16px; width:104px; height:22px; border: 1px solid red;'>
 Cupo Inicial 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT69' style='position:absolute; left:522px; top:16px; width:110px; height:22px; border: 1px solid red;'>
 Saldo Actual 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT72' style='position:absolute; left:668px; top:16px; width:92px; height:22px; border: 1px solid red;'>
 Saldo Mora 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT75' style='position:absolute; left:810px; top:16px; width:76px; height:22px; border: 1px solid red;'>
 Vlr.Cuota 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT78' style='position:absolute; left:1012px; top:16px; width:72px; height:22px; border: 1px solid red;'>
 Garante 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT81' style='position:absolute; left:934px; top:16px; width:64px; height:22px; border: 1px solid red;'>
 Modali 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT84' style='position:absolute; left:1098px; top:16px; width:66px; height:22px; border: 1px solid red;'>
 Est Act 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-GRAPHIC119' style='position:absolute; left:414px; top:366px; width:124px; height:22px; border: 1px solid red;'>
 Totales 
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-LINE123' style='position:absolute; left:550px; top:2px; width:332px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT88' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT89' style='position:absolute; left:8px; top:28px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='canvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT92' style='position:absolute; left:282px; top:28px; width:66px; height:22px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='TOTALES-TOT_SALACT' style='position:absolute; left:504px; top:362px; width: 140px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOTALES.TOT_SALACT'></app-input-item>
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='TOTALES-TOT_SALMOR' style='position:absolute; left:642px; top:362px; width: 140px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOTALES.TOT_SALMOR'></app-input-item>
</div>
<div *ngIf='canvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='TOTALES-TOT_VALCUO' style='position:absolute; left:782px; top:362px; width: 140px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOTALES.TOT_VALCUO'></app-input-item>
</div>
<div *ngIf='canvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='ANTPORCER-PORCER_CALIFI' style='position:absolute; left:1002px; top:256px; width: 34px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTPORCER_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTPORCER' [displayedColumns]='displayedColumns' [name]='ANTPORCER'></app-block>
</div>
<div *ngIf='canvas == ""' class='form-elem item' data-canvas-name='' id='ANTCRXPERN-CENXPE_CODCEN' style='position:absolute; left:46px; top:82px; width: 46px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTCRXPERN_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTCRXPERN' [displayedColumns]='displayedColumns' [name]='ANTCRXPERN'></app-block>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
