<div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-TEXT4' style='position:absolute; left:94px; top:170px; width:146px; height:22px; border: 1px solid red;'>
( DD/MM/AAAA ) : 
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-FRAME271' style='position:absolute; left:18px; top:24px; width:1902px; height:926px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-ROUNDRECT62' style='position:absolute; left:36px; top:54px; width:1866px; height:874px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-GRAPHIC280' style='position:absolute; left:1544px; top:146px; width:310px; height:72px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-TEXT300' style='position:absolute; left:456px; top:84px; width:340px; height:30px; border: 1px solid red;'>
Grupos Económicos TOP 30 
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-TEXT359' style='position:absolute; left:450px; top:84px; width:334px; height:30px; border: 1px solid red;'>
Grupos Económicos TOP 30
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-FRAME370' style='position:absolute; left:58px; top:268px; width:1816px; height:580px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-TEXT371' style='position:absolute; left:1750px; top:1310px; width:580px; height:20px; border: 1px solid red;'>
Nombre Archivo a cargar:\\servapl3\compartido\PLANO_GECLIE.TXT
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-GRAPHIC374' style='position:absolute; left:58px; top:126px; width:1818px; height:120px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-TEXT272' style='position:absolute; left:1662px; top:180px; width:100px; height:40px; border: 1px solid red;'>
Cargar &#10; Movimiento
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-GRAPHIC382' style='position:absolute; left:36px; top:54px; width:1866px; height:874px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem graphic' data-canvas-name='GET30' id='GET30-GRAPHIC383' style='position:absolute; left:58px; top:268px; width:1816px; height:580px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROC"' class='form-elem graphic' data-canvas-name='PROC' id='PROC-RECT23' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem graphic' data-canvas-name='ERRORES' id='ERRORES-TEXT300' style='position:absolute; left:1108px; top:48px; width:494px; height:30px; border: 1px solid red;'>
Seguimiento Grupos Económicos TOP 30 
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem graphic' data-canvas-name='ERRORES' id='ERRORES-TEXT359' style='position:absolute; left:1100px; top:46px; width:486px; height:30px; border: 1px solid red;'>
Seguimiento Grupos Económicos TOP 30
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT2' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT5' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT13' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='FILTRO-TXT_RUTA' style='position:absolute; left:604px; top:170px; width: 1062px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.TXT_RUTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='FILTRO-CARGAR' style='position:absolute; left:1754px; top:158px; width: 56px; height:56px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.CARGAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='FILTRO-BTN_ABRE' style='position:absolute; left:1676px; top:168px; width: 36px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.BTN_ABRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='FILTRO-BTN_ERRORES' style='position:absolute; left:1816px; top:856px; width: 56px; height:56px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.BTN_ERRORES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem item' data-canvas-name='ERRORES' id='FILTRO-BTN_ERRTODOS' style='position:absolute; left:648px; top:338px; width: 192px; height:44px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.BTN_ERRTODOS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem item' data-canvas-name='ERRORES' id='FILTRO-BTN_REGRESAR' style='position:absolute; left:900px; top:338px; width: 192px; height:44px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='FILTRO.BTN_REGRESAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PROCESO-MENSAJE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PROCESO.MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_FECINI' style='position:absolute; left:76px; top:324px; width: 110px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_FECINI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_CODGEC' style='position:absolute; left:186px; top:324px; width: 48px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_CODGEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_NOMGEC' style='position:absolute; left:234px; top:324px; width: 290px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_NOMGEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_SGMNTO' style='position:absolute; left:524px; top:324px; width: 152px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_SGMNTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_FILIAL' style='position:absolute; left:676px; top:324px; width: 116px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_FILIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_TIPOID' style='position:absolute; left:792px; top:324px; width: 50px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_TIPOID'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_TERCOD' style='position:absolute; left:844px; top:324px; width: 142px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_TERCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETOP-GETOP_NOMRAZ' style='position:absolute; left:986px; top:324px; width: 830px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETOP.GETOP_NOMRAZ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_CODUNI' style='position:absolute; left:64px; top:324px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_CODUNI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_OFCSOL' style='position:absolute; left:134px; top:324px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_TIPCRE' style='position:absolute; left:200px; top:324px; width: 48px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_CODSOL' style='position:absolute; left:256px; top:324px; width: 132px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_NITTER' style='position:absolute; left:398px; top:324px; width: 142px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_ESTSOL' style='position:absolute; left:550px; top:324px; width: 50px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_ESTSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTGETCO-GETCO_PTOCTL' style='position:absolute; left:1612px; top:324px; width: 66px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_PTOCTL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_USUBLQ' style='position:absolute; left:608px; top:324px; width: 154px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_USUBLQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_FECBLQ' style='position:absolute; left:768px; top:324px; width: 142px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_FECBLQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_USUDBQ' style='position:absolute; left:920px; top:324px; width: 154px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_USUDBQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-GETCO_FECDBQ' style='position:absolute; left:1082px; top:324px; width: 142px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_FECDBQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTGETCO-GETCO_ESTBLQ' style='position:absolute; left:1686px; top:324px; width: 34px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.GETCO_ESTBLQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-TXT_ESTBLQ' style='position:absolute; left:1232px; top:324px; width: 132px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.TXT_ESTBLQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GET30"' class='form-elem item' data-canvas-name='GET30' id='COTGETCO-CHK_ESTBLQ' style='position:absolute; left:1384px; top:324px; width: 20px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTGETCO.CHK_ESTBLQ'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='SETERRORES-SETERR_PROGRA' style='position:absolute; left:0px; top:0px; width: 466px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETERRORES.SETERR_PROGRA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem item' data-canvas-name='ERRORES' id='SETERRORES-SETERR_USUARI' style='position:absolute; left:44px; top:120px; width: 174px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETERRORES.SETERR_USUARI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem item' data-canvas-name='ERRORES' id='SETERRORES-SETERR_FECHA' style='position:absolute; left:220px; top:120px; width: 170px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETERRORES.SETERR_FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ERRORES"' class='form-elem item' data-canvas-name='ERRORES' id='SETERRORES-SETERR_DESCRI' style='position:absolute; left:392px; top:120px; width: 1280px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETERRORES.SETERR_DESCRI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
</div>
