<div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem graphic' data-canvas-name='PAGE2' id='PAGE2-RECT48' style='position:absolute; left:14px; top:30px; width:1174px; height:676px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem graphic' data-canvas-name='PAGE2' id='PAGE2-RECT49' style='position:absolute; left:6px; top:8px; width:1172px; height:686px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem graphic' data-canvas-name='PAGE2' id='PAGE2-GRAPHIC177' style='position:absolute; left:14px; top:92px; width:1154px; height:100px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem graphic' data-canvas-name='PAGE2' id='PAGE2-GRAPHIC188' style='position:absolute; left:1038px; top:20px; width:130px; height:66px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem graphic' data-canvas-name='EXP_PLANO' id='EXP_PLANO-TEXT15' style='position:absolute; left:10px; top:74px; width:34px; height:20px; border: 1px solid red;'>
Ruta:
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem graphic' data-canvas-name='EXP_PLANO' id='EXP_PLANO-TEXT24' style='position:absolute; left:196px; top:18px; width:118px; height:20px; border: 1px solid red;'>
Generar Archivo
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem graphic' data-canvas-name='EXP_PLANO' id='EXP_PLANO-TEXT27' style='position:absolute; left:26px; top:124px; width:120px; height:28px; border: 1px solid red;'>
Abrir con:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-IMAGE2' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT9' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-TXT_PER' style='position:absolute; left:104px; top:120px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.TXT_PER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-VAR_CODCOMER' style='position:absolute; left:104px; top:150px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.VAR_CODCOMER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-VAR_FECCORINI' style='position:absolute; left:254px; top:120px; width: 110px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.VAR_FECCORINI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-VAR_FECCORFIN' style='position:absolute; left:370px; top:120px; width: 110px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.VAR_FECCORFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-VER_CUADRO' style='position:absolute; left:1046px; top:24px; width: 56px; height:56px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.VER_CUADRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-BTN_EXPORTA' style='position:absolute; left:1106px; top:24px; width: 56px; height:56px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.BTN_EXPORTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-DSP_CUADRO' style='position:absolute; left:18px; top:28px; width: 698px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.DSP_CUADRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='VARIABLES-TXT_COMER' style='position:absolute; left:22px; top:22px; width: 462px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.TXT_COMER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-BTN_CORTE' style='position:absolute; left:484px; top:116px; width: 34px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.BTN_CORTE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='VARIABLES-DSP_CORTE' style='position:absolute; left:256px; top:158px; width: 236px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLES.DSP_CORTE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='COVPRECOM-CXT_CODIGO' style='position:absolute; left:12px; top:230px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CXT_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='COVPRECOM-CTOXSO_TIPCOL' style='position:absolute; left:104px; top:230px; width: 36px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_TIPCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='COVPRECOM-CTOXSO_OFCCOL' style='position:absolute; left:58px; top:230px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_OFCCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE2"' class='form-elem item' data-canvas-name='PAGE2' id='COVPRECOM-CTOXSO_CODCOL' style='position:absolute; left:140px; top:230px; width: 114px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_CODCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-CTOXSO_OFCSOL' style='position:absolute; left:2px; top:30px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-CTOXSO_CODSOL' style='position:absolute; left:48px; top:30px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-CTOXSO_NITTER' style='position:absolute; left:200px; top:30px; width: 146px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.CTOXSO_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-VALOR_DESEMBR' style='position:absolute; left:346px; top:30px; width: 186px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.VALOR_DESEMBR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COVPRECOM-SOLICR_PUNTOS$' style='position:absolute; left:420px; top:206px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_PUNTOS$'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COVPRECOM-COLSPR' style='position:absolute; left:352px; top:116px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLSPR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_SPTVEN' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_SPTVEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_BCODXP' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_BCODXP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_TASA' style='position:absolute; left:0px; top:0px; width: 346px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_TASA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-COLLIN' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLLIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-COLFAPE' style='position:absolute; left:532px; top:30px; width: 102px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLFAPE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-COLESTC' style='position:absolute; left:634px; top:30px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLESTC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-COLTCOL' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLTCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-COLFINE' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLFINE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-COLTIE' style='position:absolute; left:0px; top:0px; width: 346px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.COLTIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_IFIP' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_IFIP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_FINAGP' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_FINAGP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_FNGP' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_FNGP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-SOLICR_FINDTP' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_FINDTP'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-SOLICR_CODPRO' style='position:absolute; left:680px; top:30px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.SOLICR_CODPRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-TIPREG' style='position:absolute; left:740px; top:30px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.TIPREG'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-TIPBANCOD' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.TIPBANCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-VENDOR' style='position:absolute; left:0px; top:0px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.VENDOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-PUNTOSADD' style='position:absolute; left:0px; top:0px; width: 316px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.PUNTOSADD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-TIPO' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.TIPO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPRECOM-RES' style='position:absolute; left:0px; top:0px; width: 616px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.RES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE21"' class='form-elem item' data-canvas-name='PAGE21' id='COVPRECOM-FCON' style='position:absolute; left:800px; top:30px; width: 102px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPRECOM.FCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem item' data-canvas-name='EXP_PLANO' id='PLANO-RG_TIPO' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.RG_TIPO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem item' data-canvas-name='EXP_PLANO' id='PLANO-RUTA' style='position:absolute; left:62px; top:68px; width: 486px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.RUTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PLANO-TXT_BLOQUE' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.TXT_BLOQUE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem item' data-canvas-name='EXP_PLANO' id='PLANO-BTN_GENERAR' style='position:absolute; left:174px; top:200px; width: 128px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.BTN_GENERAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem item' data-canvas-name='EXP_PLANO' id='PLANO-BTN_REGRESAR' style='position:absolute; left:330px; top:200px; width: 128px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.BTN_REGRESAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "EXP_PLANO"' class='form-elem item' data-canvas-name='EXP_PLANO' id='PLANO-BTN_ABRE' style='position:absolute; left:550px; top:66px; width: 36px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PLANO.BTN_ABRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PROCESO-MENSAJE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PROCESO.MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
</div>
