<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:24px; top:34px; width:1142px; height:544px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT26' style='position:absolute; left:298px; top:110px; width:596px; height:390px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT27' style='position:absolute; left:356px; top:130px; width:104px; height:22px; border: 1px solid red;'>
Datos para realizar consulta
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC216' style='position:absolute; left:454px; top:58px; width:152px; height:22px; border: 1px solid red;'>
  Acutalización de estado de planeación 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_UNIDAD' style='position:absolute; left:492px; top:174px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_UNIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_OFI' style='position:absolute; left:492px; top:216px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_OFI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_SOLI' style='position:absolute; left:492px; top:260px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_SOLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_TIPO' style='position:absolute; left:492px; top:338px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_TIPO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_PLANEA' style='position:absolute; left:492px; top:378px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-PB_CONSUL' style='position:absolute; left:722px; top:260px; width: 140px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.PB_CONSUL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_NITTER' style='position:absolute; left:492px; top:422px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-CCRT_ESTADO' style='position:absolute; left:546px; top:460px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CCRT_ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='PARAMETROS-PB_CAMBIO' style='position:absolute; left:712px; top:412px; width: 160px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.PB_CAMBIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_OFCSOL' style='position:absolute; left:0px; top:0px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_CODSOL' style='position:absolute; left:0px; top:0px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_TIPCRE' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_PLANEA' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_NITTER' style='position:absolute; left:0px; top:0px; width: 210px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ESTGRL' style='position:absolute; left:0px; top:0px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ESTGRL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_CODUNI' style='position:absolute; left:0px; top:0px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_CODUNI'></app-input-item>
</div>
</div>
