<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:66px; top:38px; width:1086px; height:114px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:70px; top:6px; width:274px; height:22px; border: 1px solid red;'>
ENDEUDAMIENTO POR TERCERO
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:78px; top:72px; width:134px; height:22px; border: 1px solid red;'>
Codigo Tercero 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:80px; top:102px; width:132px; height:22px; border: 1px solid red;'>
Codigo  Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT11' style='position:absolute; left:8px; top:162px; width:1184px; height:478px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT12' style='position:absolute; left:24px; top:208px; width:72px; height:22px; border: 1px solid red;'>
Contrato
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15' style='position:absolute; left:312px; top:208px; width:46px; height:22px; border: 1px solid red;'>
Est.C.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT18' style='position:absolute; left:470px; top:208px; width:86px; height:22px; border: 1px solid red;'>
F.Apertura
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT21' style='position:absolute; left:578px; top:208px; width:50px; height:22px; border: 1px solid red;'>
Altura
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT24' style='position:absolute; left:648px; top:208px; width:76px; height:22px; border: 1px solid red;'>
E.Maxima
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT27' style='position:absolute; left:750px; top:208px; width:40px; height:22px; border: 1px solid red;'>
Tasa
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT30' style='position:absolute; left:1026px; top:208px; width:68px; height:22px; border: 1px solid red;'>
V.Endeu
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT33' style='position:absolute; left:890px; top:208px; width:50px; height:22px; border: 1px solid red;'>
Activo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT36' style='position:absolute; left:38px; top:368px; width:1124px; height:194px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT37' style='position:absolute; left:58px; top:374px; width:104px; height:22px; border: 1px solid red;'>
SOLICITUDES
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT40' style='position:absolute; left:128px; top:580px; width:1058px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE41' style='position:absolute; left:14px; top:354px; width:1166px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT42' style='position:absolute; left:400px; top:582px; width:244px; height:22px; border: 1px solid red;'>
Total Endeudamiento Tercero
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT45' style='position:absolute; left:760px; top:582px; width:122px; height:22px; border: 1px solid red;'>
Valor Liberado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT48' style='position:absolute; left:1000px; top:582px; width:40px; height:22px; border: 1px solid red;'>
Total
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT51' style='position:absolute; left:146px; top:584px; width:140px; height:22px; border: 1px solid red;'>
Total Exp.Maxima
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT54' style='position:absolute; left:36px; top:162px; width:248px; height:22px; border: 1px solid red;'>
ENDEUDAMIENTO POR TERCERO
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT57' style='position:absolute; left:36px; top:182px; width:100px; height:22px; border: 1px solid red;'>
CONTRATOS
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT60' style='position:absolute; left:370px; top:206px; width:46px; height:22px; border: 1px solid red;'>
Linea
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT63' style='position:absolute; left:420px; top:206px; width:36px; height:22px; border: 1px solid red;'>
Orm
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT66' style='position:absolute; left:728px; top:374px; width:40px; height:22px; border: 1px solid red;'>
Tasa
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT69' style='position:absolute; left:796px; top:374px; width:70px; height:22px; border: 1px solid red;'>
Tasa Fija
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT72' style='position:absolute; left:966px; top:374px; width:50px; height:22px; border: 1px solid red;'>
Activo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT75' style='position:absolute; left:434px; top:374px; width:92px; height:22px; border: 1px solid red;'>
F.Aprobaci.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT78' style='position:absolute; left:216px; top:374px; width:30px; height:22px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT81' style='position:absolute; left:256px; top:374px; width:46px; height:22px; border: 1px solid red;'>
Linea
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT84' style='position:absolute; left:308px; top:374px; width:36px; height:22px; border: 1px solid red;'>
Orm
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT87' style='position:absolute; left:352px; top:374px; width:74px; height:22px; border: 1px solid red;'>
V.a Finan
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT90' style='position:absolute; left:538px; top:374px; width:68px; height:22px; border: 1px solid red;'>
V.Aprob
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT93' style='position:absolute; left:58px; top:486px; width:182px; height:22px; border: 1px solid red;'>
Solicitudes En Estudio
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT96' style='position:absolute; left:612px; top:376px; width:86px; height:22px; border: 1px solid red;'>
Disponible
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT99' style='position:absolute; left:208px; top:208px; width:70px; height:22px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT102' style='position:absolute; left:1026px; top:52px; width:72px; height:22px; border: 1px solid red;'>
Imprimir
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT106' style='position:absolute; left:0px; top:0px; width:1174px; height:478px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT107' style='position:absolute; left:10px; top:86px; width:72px; height:22px; border: 1px solid red;'>
Contrato
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT110' style='position:absolute; left:308px; top:88px; width:46px; height:22px; border: 1px solid red;'>
Est.C.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT113' style='position:absolute; left:462px; top:88px; width:86px; height:22px; border: 1px solid red;'>
F.Apertura
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT116' style='position:absolute; left:572px; top:88px; width:50px; height:22px; border: 1px solid red;'>
Altura
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT119' style='position:absolute; left:640px; top:88px; width:76px; height:22px; border: 1px solid red;'>
E.Maxima
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT122' style='position:absolute; left:744px; top:88px; width:40px; height:22px; border: 1px solid red;'>
Tasa
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT125' style='position:absolute; left:1000px; top:86px; width:68px; height:22px; border: 1px solid red;'>
V.Endeu
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT128' style='position:absolute; left:852px; top:86px; width:50px; height:22px; border: 1px solid red;'>
Activo
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT131' style='position:absolute; left:30px; top:230px; width:1120px; height:166px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT132' style='position:absolute; left:48px; top:236px; width:104px; height:22px; border: 1px solid red;'>
SOLICITUDES
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT135' style='position:absolute; left:84px; top:402px; width:1084px; height:30px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT136' style='position:absolute; left:412px; top:442px; width:754px; height:26px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-LINE137' style='position:absolute; left:0px; top:228px; width:1166px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT138' style='position:absolute; left:6px; top:18px; width:338px; height:22px; border: 1px solid red;'>
Endeudamientro Empresas Relacionadas
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT141' style='position:absolute; left:12px; top:52px; width:202px; height:22px; border: 1px solid red;'>
Nit Empresa Relacionada
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT144' style='position:absolute; left:372px; top:406px; width:246px; height:22px; border: 1px solid red;'>
T.End.Empresas Relacionadas
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT147' style='position:absolute; left:750px; top:406px; width:116px; height:22px; border: 1px solid red;'>
Valor Liberado
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT150' style='position:absolute; left:974px; top:406px; width:40px; height:22px; border: 1px solid red;'>
Total
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT153' style='position:absolute; left:744px; top:444px; width:278px; height:22px; border: 1px solid red;'>
Total Endeudamiento Por Tercero
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT156' style='position:absolute; left:116px; top:408px; width:140px; height:22px; border: 1px solid red;'>
Total Exp.Maxima
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT159' style='position:absolute; left:708px; top:236px; width:40px; height:22px; border: 1px solid red;'>
Tasa
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT162' style='position:absolute; left:776px; top:236px; width:70px; height:22px; border: 1px solid red;'>
Tasa Fija
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT165' style='position:absolute; left:948px; top:236px; width:50px; height:22px; border: 1px solid red;'>
Activo
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT168' style='position:absolute; left:592px; top:236px; width:86px; height:22px; border: 1px solid red;'>
Disponible
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT171' style='position:absolute; left:414px; top:236px; width:92px; height:22px; border: 1px solid red;'>
F.Aprobaci.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT174' style='position:absolute; left:196px; top:236px; width:30px; height:22px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT177' style='position:absolute; left:238px; top:236px; width:46px; height:22px; border: 1px solid red;'>
Linea
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT180' style='position:absolute; left:288px; top:236px; width:36px; height:22px; border: 1px solid red;'>
Orm
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT183' style='position:absolute; left:334px; top:236px; width:74px; height:22px; border: 1px solid red;'>
V.a Finan
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT186' style='position:absolute; left:520px; top:236px; width:68px; height:22px; border: 1px solid red;'>
V.Aprob
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT189' style='position:absolute; left:334px; top:86px; width:46px; height:22px; border: 1px solid red;'>
Linea
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT192' style='position:absolute; left:384px; top:86px; width:36px; height:22px; border: 1px solid red;'>
Orm
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT195' style='position:absolute; left:38px; top:320px; width:182px; height:22px; border: 1px solid red;'>
Solicitudes En Estudio
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT199' style='position:absolute; left:0px; top:0px; width:432px; height:148px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT200' style='position:absolute; left:66px; top:6px; width:44px; height:18px; border: 1px solid red;'>
Fecha 
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT203' style='position:absolute; left:174px; top:6px; width:82px; height:18px; border: 1px solid red;'>
Dias de Mora
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT207' style='position:absolute; left:0px; top:0px; width:432px; height:148px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT208' style='position:absolute; left:66px; top:6px; width:44px; height:18px; border: 1px solid red;'>
Fecha 
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT211' style='position:absolute; left:174px; top:6px; width:82px; height:18px; border: 1px solid red;'>
Dias de Mora
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='ANTENDTER-DIAS_MORA1' style='position:absolute; left:1106px; top:234px; width: 72px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDTER_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDTER' [displayedColumns]='displayedColumns' [name]='ANTENDTER'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='ANTENDXSOL-ENDXSO_TASAFI' style='position:absolute; left:848px; top:402px; width: 68px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDXSOL_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDXSOL' [displayedColumns]='displayedColumns' [name]='ANTENDXSOL'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='ANTENDXSOL_EC-ENDXSO_TASAFI' style='position:absolute; left:850px; top:506px; width: 68px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDXSOL_EC_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDXSOL_EC' [displayedColumns]='displayedColumns' [name]='ANTENDXSOL_EC'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='ANTENDTRR-ENDTRR_CODTER' style='position:absolute; left:46px; top:460px; width: 136px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDTRR_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDTRR' [displayedColumns]='displayedColumns' [name]='ANTENDTRR'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='ANTENDTRR_AUX-DIAS_MORA2' style='position:absolute; left:1068px; top:110px; width: 86px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDTRR_AUX_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDTRR_AUX' [displayedColumns]='displayedColumns' [name]='ANTENDTRR_AUX'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='ANTENDXSRR-ENDXSR_CODUNI' style='position:absolute; left:46px; top:260px; width: 42px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDXSRR_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDXSRR' [displayedColumns]='displayedColumns' [name]='ANTENDXSRR'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='ANTENDXSRR_EC-ENDXSR_CODUNI' style='position:absolute; left:46px; top:338px; width: 42px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTENDXSRR_EC_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTENDXSRR_EC' [displayedColumns]='displayedColumns' [name]='ANTENDXSRR_EC'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='ANTDIASXTER-DIASXT_FECHAD' style='position:absolute; left:36px; top:28px; width: 108px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTDIASXTER_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTDIASXTER' [displayedColumns]='displayedColumns' [name]='ANTDIASXTER'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='ANTDIASXTRR-DIASTR_FECHAD' style='position:absolute; left:40px; top:32px; width: 108px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTDIASXTRR_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTDIASXTRR' [displayedColumns]='displayedColumns' [name]='ANTDIASXTRR'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
