<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-FRAME439' style='position:absolute; left:14px; top:30px; width:918px; height:356px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-RECT82' style='position:absolute; left:0px; top:0px; width:1636px; height:734px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-RECT81' style='position:absolute; left:24px; top:52px; width:1068px; height:426px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC100' style='position:absolute; left:24px; top:22px; width:1070px; height:472px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-TEXT345' style='position:absolute; left:240px; top:538px; width:216px; height:20px; border: 1px solid red;'>
GENERAR ARCHIVO PLANO
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-RECT373' style='position:absolute; left:14px; top:324px; width:1140px; height:48px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-TEXT374' style='position:absolute; left:68px; top:334px; width:74px; height:20px; border: 1px solid red;'>
TOTALES
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC377' style='position:absolute; left:14px; top:324px; width:1140px; height:48px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC378' style='position:absolute; left:68px; top:334px; width:74px; height:20px; border: 1px solid red;'>
TOTALES
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC379' style='position:absolute; left:14px; top:324px; width:1140px; height:48px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC380' style='position:absolute; left:68px; top:334px; width:74px; height:20px; border: 1px solid red;'>
TOTALES
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-RECT293' style='position:absolute; left:6px; top:42px; width:1154px; height:454px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-TEXT294' style='position:absolute; left:136px; top:82px; width:220px; height:20px; border: 1px solid red;'>
PROVISION  CONTRACÍCLA
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC417' style='position:absolute; left:6px; top:42px; width:1154px; height:454px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC418' style='position:absolute; left:136px; top:82px; width:220px; height:20px; border: 1px solid red;'>
PROVISION  CONTRACÍCLA
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem graphic' data-canvas-name='PARAMETROS' id='PARAMETROS-GRAPHIC425' style='position:absolute; left:240px; top:538px; width:216px; height:20px; border: 1px solid red;'>
GENERAR ARCHIVO PLANO
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem graphic' data-canvas-name='PAGINA1' id='PAGINA1-LINE248' style='position:absolute; left:1318px; top:46px; width:0px; height:14px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem graphic' data-canvas-name='PAGINA1' id='PAGINA1-RECT284' style='position:absolute; left:0px; top:26px; width:3860px; height:446px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "ARCHIVO"' class='form-elem graphic' data-canvas-name='ARCHIVO' id='ARCHIVO-RECT286' style='position:absolute; left:14px; top:8px; width:638px; height:96px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_DIASMO' style='position:absolute; left:342px; top:130px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_DIASMO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_NROFLU' style='position:absolute; left:342px; top:168px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_NROFLU'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_PORCEN' style='position:absolute; left:342px; top:204px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_PORCEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_CALRIE' style='position:absolute; left:748px; top:130px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_CALRIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_CALTEM' style='position:absolute; left:748px; top:168px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_CALTEM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_CALCIF' style='position:absolute; left:748px; top:204px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_CALCIF'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_FECACT' style='position:absolute; left:382px; top:384px; width: 148px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_FECACT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTPARLPE-PARLPE_ULTUSU' style='position:absolute; left:670px; top:384px; width: 148px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARLPE.PARLPE_ULTUSU'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTBASPRE-BASPRE_NITBEN' style='position:absolute; left:12px; top:78px; width: 110px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_NITBEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTBASPRE-BASPRE_NOMBEN' style='position:absolute; left:122px; top:78px; width: 582px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_NOMBEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTBASPRE-BASPRE_CONTRA' style='position:absolute; left:704px; top:78px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_CONTRA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTBASPRE-BASPRE_OFICIN' style='position:absolute; left:1136px; top:78px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_OFICIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTBASPRE-BASPRE_TIPDOC' style='position:absolute; left:1192px; top:78px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_TIPDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTBASPRE-BASPRE_TIPCOL' style='position:absolute; left:806px; top:78px; width: 226px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_TIPCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='COTBASPRE-BASPRE_CTOINI' style='position:absolute; left:1034px; top:78px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_CTOINI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_NITCOM' style='position:absolute; left:4px; top:54px; width: 116px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_NITCOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_NOMCOM' style='position:absolute; left:120px; top:54px; width: 356px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_NOMCOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_CODPLA' style='position:absolute; left:476px; top:54px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_CODPLA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_DESPLA' style='position:absolute; left:530px; top:54px; width: 156px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_DESPLA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_FECCON' style='position:absolute; left:684px; top:54px; width: 132px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_FECCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_FECINI' style='position:absolute; left:816px; top:54px; width: 124px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_FECINI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_FECVEN' style='position:absolute; left:940px; top:54px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_FECVEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_VALORI' style='position:absolute; left:1066px; top:54px; width: 160px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_VALORI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_OPCION' style='position:absolute; left:1226px; top:54px; width: 164px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_SALDOC' style='position:absolute; left:1390px; top:54px; width: 160px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_SALDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_TIPOAC' style='position:absolute; left:1552px; top:54px; width: 250px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_TIPOAC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_CLASEA' style='position:absolute; left:1804px; top:54px; width: 240px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_CLASEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_CIUDAD' style='position:absolute; left:2046px; top:54px; width: 178px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_CIUDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_SECTOR' style='position:absolute; left:2226px; top:54px; width: 28px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_SECTOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_DESSEC' style='position:absolute; left:2254px; top:54px; width: 208px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_DESSEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASPRE_PERESF' style='position:absolute; left:2462px; top:54px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASPRE_PERESF'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_DESACT' style='position:absolute; left:2530px; top:54px; width: 472px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_DESACT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_CLACON' style='position:absolute; left:3002px; top:54px; width: 48px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_CLACON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_TIPCON' style='position:absolute; left:3050px; top:54px; width: 182px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_TIPCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_REESTR' style='position:absolute; left:3232px; top:54px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_REESTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_VALLIB' style='position:absolute; left:3286px; top:54px; width: 160px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_VALLIB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_PREAPR' style='position:absolute; left:3448px; top:54px; width: 160px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_PREAPR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_CENRIE' style='position:absolute; left:3610px; top:54px; width: 66px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_CENRIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_PERCEN' style='position:absolute; left:3678px; top:54px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_PERCEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGINA1"' class='form-elem item' data-canvas-name='PAGINA1' id='COTBASPRE-BASCLI_PERDEC' style='position:absolute; left:3758px; top:54px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTBASPRE.BASCLI_PERDEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='VARIABLE-CODPER' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.CODPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='VARIABLE-FECHA' style='position:absolute; left:540px; top:270px; width: 116px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='VARIABLE-BASE' style='position:absolute; left:402px; top:328px; width: 266px; height:38px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='VARIABLE.BASE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='VARIABLE-DESCRI' style='position:absolute; left:184px; top:436px; width: 696px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DESCRI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ARCHIVO"' class='form-elem item' data-canvas-name='ARCHIVO' id='VARIABLE-ARCHIVO' style='position:absolute; left:82px; top:34px; width: 480px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.ARCHIVO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PARAMETROS"' class='form-elem item' data-canvas-name='PARAMETROS' id='VARIABLE-GENERAR_1' style='position:absolute; left:22px; top:506px; width: 74px; height:58px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='VARIABLE.GENERAR_1'></app-button-item>
</div>
<div *ngIf='currentCanvas == "ARCHIVO"' class='form-elem item' data-canvas-name='ARCHIVO' id='VARIABLE-GENRARCHIVO_1' style='position:absolute; left:84px; top:68px; width: 186px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='VARIABLE.GENRARCHIVO_1'></app-button-item>
</div>
<div *ngIf='currentCanvas == "ARCHIVO"' class='form-elem item' data-canvas-name='ARCHIVO' id='VARIABLE-SALIR_1' style='position:absolute; left:376px; top:66px; width: 186px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='VARIABLE.SALIR_1'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
