<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:66px; top:28px; width:1090px; height:72px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:104px; top:2px; width:184px; height:22px; border: 1px solid red;'>
BALANCES EN NULOS
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:116px; top:34px; width:134px; height:22px; border: 1px solid red;'>
Código Tercero 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:116px; top:64px; width:132px; height:22px; border: 1px solid red;'>
Código  Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT11' style='position:absolute; left:64px; top:104px; width:1098px; height:524px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT12' style='position:absolute; left:76px; top:140px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15' style='position:absolute; left:372px; top:140px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT18' style='position:absolute; left:482px; top:140px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT21' style='position:absolute; left:74px; top:402px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT22' style='position:absolute; left:76px; top:406px; width:184px; height:22px; border: 1px solid red;'>
Total  Activo Corriente
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT25' style='position:absolute; left:76px; top:110px; width:86px; height:22px; border: 1px solid red;'>
A C T I V O
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT28' style='position:absolute; left:624px; top:138px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT31' style='position:absolute; left:922px; top:138px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT34' style='position:absolute; left:1030px; top:138px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT37' style='position:absolute; left:618px; top:400px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT38' style='position:absolute; left:620px; top:404px; width:176px; height:22px; border: 1px solid red;'>
Total  Activo Fijo Neto
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT41' style='position:absolute; left:76px; top:438px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT44' style='position:absolute; left:374px; top:438px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT47' style='position:absolute; left:484px; top:438px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT50' style='position:absolute; left:74px; top:594px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT51' style='position:absolute; left:76px; top:594px; width:210px; height:22px; border: 1px solid red;'>
Total  Activo No Corriente
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT54' style='position:absolute; left:622px; top:436px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT57' style='position:absolute; left:920px; top:436px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT60' style='position:absolute; left:1028px; top:436px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT63' style='position:absolute; left:622px; top:502px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT64' style='position:absolute; left:624px; top:504px; width:174px; height:22px; border: 1px solid red;'>
Total  del   A C T I V O 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT67' style='position:absolute; left:622px; top:530px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT68' style='position:absolute; left:624px; top:534px; width:236px; height:22px; border: 1px solid red;'>
Total   PASIVO + PATRIMONIO 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT71' style='position:absolute; left:758px; top:68px; width:142px; height:22px; border: 1px solid red;'>
Dias Anualización
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT75' style='position:absolute; left:0px; top:0px; width:1098px; height:524px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT76' style='position:absolute; left:10px; top:36px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT79' style='position:absolute; left:308px; top:36px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT82' style='position:absolute; left:418px; top:36px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT85' style='position:absolute; left:10px; top:246px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT86' style='position:absolute; left:12px; top:250px; width:192px; height:22px; border: 1px solid red;'>
Total  Pasivo  Corriente
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT89' style='position:absolute; left:12px; top:6px; width:112px; height:24px; border: 1px solid red;'>
P A S I  V O
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT92' style='position:absolute; left:560px; top:34px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT95' style='position:absolute; left:856px; top:34px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT98' style='position:absolute; left:966px; top:34px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT101' style='position:absolute; left:10px; top:462px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT102' style='position:absolute; left:12px; top:466px; width:104px; height:22px; border: 1px solid red;'>
Total  Pasivo
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT105' style='position:absolute; left:12px; top:284px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT108' style='position:absolute; left:310px; top:284px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT111' style='position:absolute; left:418px; top:284px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT114' style='position:absolute; left:10px; top:412px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT115' style='position:absolute; left:10px; top:416px; width:212px; height:22px; border: 1px solid red;'>
Total  Pasivo No Corriente
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT118' style='position:absolute; left:558px; top:278px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT121' style='position:absolute; left:856px; top:278px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT124' style='position:absolute; left:964px; top:278px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT127' style='position:absolute; left:558px; top:376px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT128' style='position:absolute; left:560px; top:380px; width:236px; height:22px; border: 1px solid red;'>
Total   PASIVO + PATRIMONIO 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT131' style='position:absolute; left:560px; top:8px; width:178px; height:24px; border: 1px solid red;'>
P A T R I M O N I O
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT134' style='position:absolute; left:558px; top:246px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT135' style='position:absolute; left:560px; top:248px; width:192px; height:22px; border: 1px solid red;'>
Total  P A T R I M O N I O 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-LINE138' style='position:absolute; left:536px; top:4px; width:0px; height:514px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT139' style='position:absolute; left:558px; top:348px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT140' style='position:absolute; left:560px; top:350px; width:174px; height:22px; border: 1px solid red;'>
Total  del   A C T I V O 
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT144' style='position:absolute; left:0px; top:0px; width:1098px; height:524px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT145' style='position:absolute; left:10px; top:36px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT148' style='position:absolute; left:308px; top:36px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT151' style='position:absolute; left:418px; top:36px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT154' style='position:absolute; left:12px; top:6px; width:334px; height:24px; border: 1px solid red;'>
P E R D I D A S  Y G A N A N C I A S
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT157' style='position:absolute; left:560px; top:34px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT160' style='position:absolute; left:856px; top:34px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT163' style='position:absolute; left:966px; top:34px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT166' style='position:absolute; left:10px; top:224px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT167' style='position:absolute; left:12px; top:228px; width:192px; height:22px; border: 1px solid red;'>
Total  Utilidad Operativa
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT170' style='position:absolute; left:12px; top:148px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT173' style='position:absolute; left:310px; top:148px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT176' style='position:absolute; left:418px; top:148px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT179' style='position:absolute; left:8px; top:114px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT180' style='position:absolute; left:10px; top:116px; width:158px; height:22px; border: 1px solid red;'>
Total  Utilidad Bruta
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT183' style='position:absolute; left:558px; top:148px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT186' style='position:absolute; left:856px; top:148px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT189' style='position:absolute; left:964px; top:148px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT192' style='position:absolute; left:558px; top:226px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT193' style='position:absolute; left:560px; top:228px; width:104px; height:22px; border: 1px solid red;'>
U T I L I D A D
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT196' style='position:absolute; left:10px; top:486px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT197' style='position:absolute; left:12px; top:488px; width:248px; height:22px; border: 1px solid red;'>
Total Utilidad Antes Imp y C.M.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT200' style='position:absolute; left:10px; top:260px; width:112px; height:22px; border: 1px solid red;'>
I N G R E S O S
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT203' style='position:absolute; left:12px; top:282px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT206' style='position:absolute; left:310px; top:282px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT209' style='position:absolute; left:418px; top:282px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT212' style='position:absolute; left:10px; top:362px; width:100px; height:22px; border: 1px solid red;'>
E G R E S O S
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT215' style='position:absolute; left:12px; top:382px; width:134px; height:22px; border: 1px solid red;'>
Cuentas del Puc
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT218' style='position:absolute; left:310px; top:382px; width:80px; height:22px; border: 1px solid red;'>
Valor Cta.
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT221' style='position:absolute; left:420px; top:382px; width:70px; height:22px; border: 1px solid red;'>
PRT/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT224' style='position:absolute; left:556px; top:114px; width:502px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT225' style='position:absolute; left:558px; top:116px; width:208px; height:22px; border: 1px solid red;'>
Total  Utilidad  Antes Imp.
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT229' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT231' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-RECT233' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS7"' class='form-elem graphic' data-canvas-name='CANVAS7' id='CANVAS7-RECT235' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS8"' class='form-elem graphic' data-canvas-name='CANVAS8' id='CANVAS8-RECT237' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS9"' class='form-elem graphic' data-canvas-name='CANVAS9' id='CANVAS9-RECT239' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS10"' class='form-elem graphic' data-canvas-name='CANVAS10' id='CANVAS10-RECT241' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS11"' class='form-elem graphic' data-canvas-name='CANVAS11' id='CANVAS11-RECT243' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS12"' class='form-elem graphic' data-canvas-name='CANVAS12' id='CANVAS12-RECT245' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS13"' class='form-elem graphic' data-canvas-name='CANVAS13' id='CANVAS13-RECT247' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS14"' class='form-elem graphic' data-canvas-name='CANVAS14' id='CANVAS14-RECT249' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS15"' class='form-elem graphic' data-canvas-name='CANVAS15' id='CANVAS15-RECT251' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-RECT253' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-RECT255' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-USUARIO_1' style='position:absolute; left:1008px; top:66px; width: 134px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='VARIABLE_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='VARIABLE' [displayedColumns]='displayedColumns' [name]='VARIABLE'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
