<div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT1' style='position:absolute; left:0px; top:2px; width:1170px; height:606px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT2' style='position:absolute; left:4px; top:6px; width:1156px; height:112px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT6' style='position:absolute; left:10px; top:20px; width:74px; height:20px; border: 1px solid red;'>
Oficina :
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT9' style='position:absolute; left:10px; top:48px; width:66px; height:20px; border: 1px solid red;'>
Tercero
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT12' style='position:absolute; left:314px; top:20px; width:122px; height:20px; border: 1px solid red;'>
No. Solicitud :
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT15' style='position:absolute; left:18px; top:524px; width:1134px; height:74px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-LINE16' style='position:absolute; left:576px; top:10px; width:0px; height:106px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT26' style='position:absolute; left:6px; top:156px; width:1154px; height:348px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT27' style='position:absolute; left:18px; top:162px; width:94px; height:16px; border: 1px solid red;'>
 Documentos 
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT30' style='position:absolute; left:20px; top:506px; width:92px; height:22px; border: 1px solid red;'>
 Controles 
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT89' style='position:absolute; left:18px; top:176px; width:1130px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT91' style='position:absolute; left:38px; top:178px; width:40px; height:20px; border: 1px solid red;'>
Cod.
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT96' style='position:absolute; left:160px; top:178px; width:98px; height:20px; border: 1px solid red;'>
Documento
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT124' style='position:absolute; left:4px; top:118px; width:1158px; height:38px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-GRAPHIC209' style='position:absolute; left:260px; top:482px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-GRAPHIC301' style='position:absolute; left:672px; top:536px; width:190px; height:20px; border: 1px solid red;'>
Archivo en caja fuerte
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT309' style='position:absolute; left:790px; top:20px; width:166px; height:20px; border: 1px solid red;'>
Oficial de Desembolsos
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT312' style='position:absolute; left:782px; top:48px; width:160px; height:20px; border: 1px solid red;'>
Linea de Desembolsos
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT315' style='position:absolute; left:958px; top:126px; width:176px; height:20px; border: 1px solid red;'>
Fecha Inicio del Contrato
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT340' style='position:absolute; left:126px; top:144px; width:108px; height:20px; border: 1px solid red;'>
Contrato No:
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT17' style='position:absolute; left:12px; top:82px; width:144px; height:20px; border: 1px solid red;'>
Estado Solicitud:
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT368' style='position:absolute; left:766px; top:586px; width:158px; height:20px; border: 1px solid red;'>
Entrega a Facturación
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-GRAPHIC372' style='position:absolute; left:18px; top:328px; width:1130px; height:172px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-GRAPHIC373' style='position:absolute; left:18px; top:314px; width:76px; height:16px; border: 1px solid red;'>
 Prestamos
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT375' style='position:absolute; left:32px; top:472px; width:140px; height:20px; border: 1px solid red;'>
  Seguimiento:   
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>
 SISTEMA DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT269' style='position:absolute; left:6px; top:102px; width:32px; height:14px; border: 1px solid red;'>
v.2.0.0
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_OFCSOL' style='position:absolute; left:88px; top:16px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-D_OFCSOL' style='position:absolute; left:144px; top:16px; width: 166px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.D_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_CODSOL' style='position:absolute; left:444px; top:16px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_NITTER' style='position:absolute; left:88px; top:46px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-D_NITTER' style='position:absolute; left:224px; top:46px; width: 346px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.D_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-SOLICR_USOFID' style='position:absolute; left:808px; top:16px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.SOLICR_USOFID'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-OFI_DESEMBOLSO' style='position:absolute; left:924px; top:16px; width: 226px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.OFI_DESEMBOLSO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-SOLICR_LINEADES' style='position:absolute; left:808px; top:46px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.SOLICR_LINEADES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-LINEA_DESEMBOLSO' style='position:absolute; left:924px; top:46px; width: 226px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.LINEA_DESEMBOLSO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-ESTADO_SOLIC' style='position:absolute; left:164px; top:78px; width: 62px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.ESTADO_SOLIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_TIPCRE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_PLANEA' style='position:absolute; left:190px; top:122px; width: 132px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-LISTA' style='position:absolute; left:330px; top:122px; width: 34px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.LISTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-FECHA_INI_CONTRATO' style='position:absolute; left:960px; top:122px; width: 116px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.FECHA_INI_CONTRATO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_VBPLAN' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBPLAN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_VBCTTO' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBCTTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DESEMB' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DESEMB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUARI' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUARI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECREG' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECREG'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELACON' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELACON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_ESTGRL' style='position:absolute; left:448px; top:122px; width: 52px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ESTGRL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_TIOPE' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_TIOPE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FEVBPL' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FEVBPL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FELACO' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FELACO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FVBCON' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FVBCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDESEM' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDESEM'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_RADICA' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_RADICA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FRADIC' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FRADIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELGARA' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELGARA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FGTIAS' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FGTIAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCCLI' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDOCLI' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDOCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DVCLIE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DVCLIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDVCLI' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDVCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELADES' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELADES'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FELADE' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FELADE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCENV' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDOENV' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDOENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUCTO' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUCTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_NREPRO' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_NREPRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECREP' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECREP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_POLREV' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_POLREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPOLREV' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPOLREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUPOL' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUPOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_POLGRAB' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_POLGRAB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPOLGRAB' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPOLGRAB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPERFEC' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPERFEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUREV' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCUCAR' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCUCAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECDOCA' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECDOCA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_VBDESE' style='position:absolute; left:26px; top:532px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBDESE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_VBENVI' style='position:absolute; left:26px; top:566px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBENVI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_VBCAJA' style='position:absolute; left:598px; top:532px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBCAJA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_VBFACT' style='position:absolute; left:598px; top:566px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBFACT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_FECDES' style='position:absolute; left:374px; top:532px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECDES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_FECENV' style='position:absolute; left:374px; top:566px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_FECCAJ' style='position:absolute; left:946px; top:532px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECCAJ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_FECFAC' style='position:absolute; left:946px; top:566px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECFAC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_OFCSOL' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_CODSOL' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_TIPCRE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_PLANEA' style='position:absolute; left:0px; top:0px; width: 94px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_NITTER' style='position:absolute; left:0px; top:0px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_ESTEXC' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_ESTEXC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_TIPCOL' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_TIPCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_OFCCOL' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_OFCCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_CODCOL' style='position:absolute; left:0px; top:0px; width: 94px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_CODCOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-ESTDOC_CODDOC' style='position:absolute; left:34px; top:196px; width: 42px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_CODDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-D_DOCUMENTO' style='position:absolute; left:76px; top:196px; width: 550px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.D_DOCUMENTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_VBOPER' style='position:absolute; left:0px; top:0px; width: 28px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_VBOPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_VBJOPE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_VBJOPE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_ESTDOC' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_ESTDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_USUARI' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_USUARI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_TIPODC' style='position:absolute; left:0px; top:0px; width: 28px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_TIPODC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_FECREG' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_FECREG'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTESTDOC-ESTDOC_CODOPER' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_CODOPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-ESTDOC_ESTADO' style='position:absolute; left:626px; top:196px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-ESTDOC_CANDOC' style='position:absolute; left:776px; top:196px; width: 32px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_CANDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-ESTDOC_VBOFIC' style='position:absolute; left:808px; top:196px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_VBOFIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTESTDOC-ESTDOC_PRESTA' style='position:absolute; left:958px; top:196px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTESTDOC.ESTDOC_PRESTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_OFCSOL' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_CODSOL' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_TIPCRE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_PLANEA' style='position:absolute; left:0px; top:0px; width: 94px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_NITTER' style='position:absolute; left:0px; top:0px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_CODDOC' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_CODDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDOCPRE-DOCPRE_CODOPER' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_CODOPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-DOCPRE_FECPRE' style='position:absolute; left:34px; top:356px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_FECPRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-DOCPRE_USUARI' style='position:absolute; left:174px; top:356px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_USUARI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-D_USUARIO' style='position:absolute; left:314px; top:356px; width: 250px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.D_USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-DOCPRE_OBSERV' style='position:absolute; left:564px; top:356px; width: 400px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_OBSERV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-DOCPRE_FECDEV' style='position:absolute; left:964px; top:356px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_FECDEV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-DOCPRE_SEGUIM' style='position:absolute; left:172px; top:470px; width: 794px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.DOCPRE_SEGUIM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTDOCPRE-EDITOR' style='position:absolute; left:968px; top:470px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCPRE.EDITOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BOTONES-ITEM364' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BOTONES.ITEM364'></app-input-item>
</div>
</div>
