<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:54px; top:34px; width:1096px; height:168px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:74px; top:6px; width:326px; height:22px; border: 1px solid red;'>
CENTRALES DE RIESGO POR TERCERO
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:80px; top:42px; width:190px; height:22px; border: 1px solid red;'>
Cod. Central de Riesgo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:136px; top:66px; width:134px; height:22px; border: 1px solid red;'>
Codigo Tercero 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT11' style='position:absolute; left:124px; top:96px; width:146px; height:22px; border: 1px solid red;'>
Codigo  Periodo 1
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT14' style='position:absolute; left:14px; top:208px; width:1180px; height:416px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15' style='position:absolute; left:202px; top:252px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT18' style='position:absolute; left:288px; top:252px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT21' style='position:absolute; left:52px; top:252px; width:128px; height:22px; border: 1px solid red;'>
Tipo de Credito
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT24' style='position:absolute; left:28px; top:540px; width:372px; height:58px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT25' style='position:absolute; left:44px; top:558px; width:32px; height:22px; border: 1px solid red;'>
Tot.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT28' style='position:absolute; left:96px; top:544px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT31' style='position:absolute; left:202px; top:544px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT34' style='position:absolute; left:284px; top:544px; width:110px; height:22px; border: 1px solid red;'>
Total Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT37' style='position:absolute; left:564px; top:252px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT40' style='position:absolute; left:654px; top:252px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT43' style='position:absolute; left:410px; top:252px; width:128px; height:22px; border: 1px solid red;'>
Tipo de Credito
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT46' style='position:absolute; left:930px; top:252px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT49' style='position:absolute; left:1020px; top:252px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT52' style='position:absolute; left:786px; top:252px; width:128px; height:22px; border: 1px solid red;'>
Tipo de Credito
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT55' style='position:absolute; left:1096px; top:252px; width:40px; height:22px; border: 1px solid red;'>
CalF.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT58' style='position:absolute; left:406px; top:540px; width:372px; height:58px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT59' style='position:absolute; left:424px; top:558px; width:32px; height:22px; border: 1px solid red;'>
Tot.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT62' style='position:absolute; left:476px; top:544px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT65' style='position:absolute; left:582px; top:544px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT68' style='position:absolute; left:664px; top:544px; width:110px; height:22px; border: 1px solid red;'>
Total Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT71' style='position:absolute; left:788px; top:540px; width:372px; height:58px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT72' style='position:absolute; left:806px; top:558px; width:32px; height:22px; border: 1px solid red;'>
Tot.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT75' style='position:absolute; left:858px; top:544px; width:72px; height:22px; border: 1px solid red;'>
Mon/Leg
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT78' style='position:absolute; left:964px; top:544px; width:64px; height:22px; border: 1px solid red;'>
Mon/Ext
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT81' style='position:absolute; left:1046px; top:544px; width:110px; height:22px; border: 1px solid red;'>
Total Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT84' style='position:absolute; left:124px; top:124px; width:146px; height:22px; border: 1px solid red;'>
Codigo  Periodo 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT87' style='position:absolute; left:124px; top:152px; width:146px; height:22px; border: 1px solid red;'>
Codigo  Periodo 3
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT90' style='position:absolute; left:162px; top:218px; width:82px; height:22px; border: 1px solid red;'>
 Periodo 1
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT93' style='position:absolute; left:524px; top:214px; width:78px; height:22px; border: 1px solid red;'>
Periodo 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT96' style='position:absolute; left:914px; top:218px; width:78px; height:22px; border: 1px solid red;'>
Periodo 3
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT100' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT101' style='position:absolute; left:6px; top:0px; width:152px; height:22px; border: 1px solid red;'>
JUNTA DIRECTIVA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT104' style='position:absolute; left:8px; top:28px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT107' style='position:absolute; left:282px; top:28px; width:66px; height:22px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT111' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT112' style='position:absolute; left:8px; top:28px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT115' style='position:absolute; left:282px; top:28px; width:66px; height:22px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTML2' style='position:absolute; left:848px; top:568px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTML2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTME2' style='position:absolute; left:948px; top:568px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTME2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTTOT2' style='position:absolute; left:1052px; top:568px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTTOT2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTML' style='position:absolute; left:466px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTML'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTME' style='position:absolute; left:566px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTME'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTTOT' style='position:absolute; left:670px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTTOT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-CODCEN' style='position:absolute; left:284px; top:42px; width: 48px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.CODCEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_CODCEN' style='position:absolute; left:426px; top:42px; width: 576px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DES_CODCEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-NITTER' style='position:absolute; left:284px; top:70px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_NITTER' style='position:absolute; left:426px; top:70px; width: 576px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DES_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-PERCOD' style='position:absolute; left:284px; top:98px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.PERCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_PERCOD' style='position:absolute; left:426px; top:98px; width: 576px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DES_PERCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-PERCOD1' style='position:absolute; left:284px; top:124px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.PERCOD1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-PERCOD2' style='position:absolute; left:284px; top:152px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.PERCOD2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_PERCOD2' style='position:absolute; left:426px; top:152px; width: 576px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DES_PERCOD2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_PERCOD1' style='position:absolute; left:426px; top:124px; width: 576px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.DES_PERCOD1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_MONEDALEGAL' style='position:absolute; left:80px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTAL_MONEDALEGAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_MONEDAEXTRA' style='position:absolute; left:180px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTAL_MONEDAEXTRA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_ENDEU' style='position:absolute; left:284px; top:566px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VARIABLE.TOTAL_ENDEU'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-BTN_SIGUIENTE' style='position:absolute; left:1082px; top:44px; width: 56px; height:56px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='VARIABLE.BTN_SIGUIENTE'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='ANTCOMCENR-COMCRI_CODCEN' style='position:absolute; left:46px; top:218px; width: 46px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ANTCOMCENR_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ANTCOMCENR' [displayedColumns]='displayedColumns' [name]='ANTCOMCENR'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='BLOQUE2-COMCRI_CODCEN' style='position:absolute; left:46px; top:218px; width: 46px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='BLOQUE2_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='BLOQUE2' [displayedColumns]='displayedColumns' [name]='BLOQUE2'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='BLOCK3-COMCRI_CODCEN' style='position:absolute; left:46px; top:218px; width: 46px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='BLOCK3_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='BLOCK3' [displayedColumns]='displayedColumns' [name]='BLOCK3'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
