<div>
<div *ngIf='currentCanvas == "PROC"' class='form-elem graphic' data-canvas-name='PROC' id='PROC-RECT23' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT2' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT5' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT13' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:14px; top:64px; width:1162px; height:538px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:66px; top:26px; width:280px; height:20px; border: 1px solid red;'>
 Consulta Asignación de Operaciones Nuevas 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-CODUNI' style='position:absolute; left:40px; top:194px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.CODUNI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-CODPLAZA' style='position:absolute; left:102px; top:194px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.CODPLAZA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-V_NOMPLAZA' style='position:absolute; left:144px; top:194px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.V_NOMPLAZA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-CODOFICIAL' style='position:absolute; left:240px; top:194px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.CODOFICIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-USU_NOMBRE' style='position:absolute; left:380px; top:194px; width: 198px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.USU_NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-PORCENTAJE' style='position:absolute; left:580px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.PORCENTAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-NUEV_PESO' style='position:absolute; left:668px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.NUEV_PESO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-CANTIDAD' style='position:absolute; left:758px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.CANTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-CAR_LABORAL' style='position:absolute; left:848px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.CAR_LABORAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-TOT_CESION' style='position:absolute; left:938px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.TOT_CESION'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COVOFISDES-TOT_CARTERA_ORD' style='position:absolute; left:1028px; top:194px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVOFISDES.TOT_CARTERA_ORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PROCESO-MENSAJE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PROCESO.MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
</div>
