<div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem graphic' data-canvas-name='PCUECO' id='PCUECO-RECT176' style='position:absolute; left:16px; top:36px; width:1304px; height:272px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem graphic' data-canvas-name='PCUECO' id='PCUECO-GRAPHIC196' style='position:absolute; left:16px; top:326px; width:1302px; height:366px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem graphic' data-canvas-name='PCUECO' id='PCUECO-TEXT177' style='position:absolute; left:640px; top:32px; width:296px; height:22px; border: 1px solid red;'>
   Configuración de Web Services     
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT5' style='position:absolute; left:958px; top:94px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT13' style='position:absolute; left:942px; top:68px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:960px; top:40px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:630px; top:38px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:508px; top:94px; width:222px; height:24px; border: 1px solid red;'>
 SISTEMA DE CREDITO 
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COTCONWEB-CONWEB_SEQUEN' style='position:absolute; left:0px; top:0px; width: 198px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTCONWEB.CONWEB_SEQUEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTCONWEB-CONWEB_URL' style='position:absolute; left:32px; top:62px; width: 400px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTCONWEB.CONWEB_URL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTCONWEB-CONWEB_METHOD' style='position:absolute; left:432px; top:62px; width: 300px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTCONWEB.CONWEB_METHOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTCONWEB-CONWEB_ACTION' style='position:absolute; left:732px; top:62px; width: 400px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTCONWEB.CONWEB_ACTION'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTCONWEB-CONWEB_NAMSPA' style='position:absolute; left:1132px; top:62px; width: 154px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTCONWEB.CONWEB_NAMSPA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COTPARWEB-PARWEB_COWESE' style='position:absolute; left:0px; top:0px; width: 198px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARWEB.PARWEB_COWESE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTPARWEB-PARWEB_PARAME' style='position:absolute; left:40px; top:356px; width: 400px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARWEB.PARWEB_PARAME'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTPARWEB-PARWEB_VALUE' style='position:absolute; left:442px; top:356px; width: 400px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARWEB.PARWEB_VALUE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCUECO"' class='form-elem item' data-canvas-name='PCUECO' id='COTPARWEB-PARWEB_ORDER' style='position:absolute; left:842px; top:356px; width: 100px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTPARWEB.PARWEB_ORDER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:676px; top:36px; width: 132px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:1036px; top:90px; width: 144px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1036px; top:36px; width: 144px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1036px; top:64px; width: 144px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:6px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1112px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1004px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRST' style='position:absolute; left:968px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1148px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1076px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1040px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:680px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:752px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:932px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:860px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:788px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:824px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:608px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:716px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:644px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:896px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:238px; top:0px; width: 144px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
