<div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-RECT1' style='position:absolute; left:6px; top:4px; width:892px; height:606px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-GRAPHIC209' style='position:absolute; left:280px; top:486px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT309' style='position:absolute; left:574px; top:50px; width:166px; height:20px; border: 1px solid red;'>
Oficial de Desembolsos
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT312' style='position:absolute; left:856px; top:30px; width:146px; height:40px; border: 1px solid red;'>
Fecha Grabación&#10; Garantias
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT315' style='position:absolute; left:326px; top:50px; width:104px; height:20px; border: 1px solid red;'>
Fecha Inicio
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT340' style='position:absolute; left:84px; top:70px; width:108px; height:20px; border: 1px solid red;'>
Contrato No
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-FRAME375' style='position:absolute; left:72px; top:438px; width:744px; height:156px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-FRAME379' style='position:absolute; left:126px; top:466px; width:636px; height:108px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-FRAME389' style='position:absolute; left:18px; top:24px; width:866px; height:394px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem graphic' data-canvas-name='GARANTIAS' id='GARANTIAS-TEXT391' style='position:absolute; left:506px; top:562px; width:30px; height:20px; border: 1px solid red;'>
=>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>
 SISTEMA DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT269' style='position:absolute; left:6px; top:102px; width:32px; height:14px; border: 1px solid red;'>
v.2.0.0
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_PLANEA' style='position:absolute; left:26px; top:72px; width: 132px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_PLANEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-CONTROL_ESTGRL' style='position:absolute; left:158px; top:72px; width: 52px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ESTGRL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-FECHA_INI_CONTRATO' style='position:absolute; left:210px; top:72px; width: 128px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.FECHA_INI_CONTRATO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-SOLICR_USOFID' style='position:absolute; left:336px; top:72px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.SOLICR_USOFID'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-OFI_DESEMBOLSO' style='position:absolute; left:450px; top:72px; width: 258px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.OFI_DESEMBOLSO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='CRTCONTROL-W_FECHA_GARANTIA' style='position:absolute; left:710px; top:72px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.W_FECHA_GARANTIA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_OFCSOL' style='position:absolute; left:88px; top:16px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-D_OFCSOL' style='position:absolute; left:144px; top:16px; width: 166px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.D_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_CODSOL' style='position:absolute; left:444px; top:16px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_NITTER' style='position:absolute; left:88px; top:46px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-D_NITTER' style='position:absolute; left:224px; top:46px; width: 346px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.D_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-SOLICR_LINEADES' style='position:absolute; left:808px; top:46px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.SOLICR_LINEADES'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-LINEA_DESEMBOLSO' style='position:absolute; left:924px; top:46px; width: 226px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.LINEA_DESEMBOLSO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-ESTADO_SOLIC' style='position:absolute; left:164px; top:78px; width: 62px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.ESTADO_SOLIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_TIPCRE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_TIPCRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_VBPLAN' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBPLAN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_VBCTTO' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBCTTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DESEMB' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DESEMB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUARI' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUARI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECREG' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECREG'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELACON' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELACON'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_TIOPE' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_TIOPE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FEVBPL' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FEVBPL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FELACO' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FELACO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FVBCON' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FVBCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDESEM' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDESEM'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_RADICA' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_RADICA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FRADIC' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FRADIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELGARA' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELGARA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FGTIAS' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FGTIAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCCLI' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDOCLI' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDOCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DVCLIE' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DVCLIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDVCLI' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDVCLI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_ELADES' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_ELADES'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FELADE' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FELADE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCENV' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FDOENV' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FDOENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUCTO' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUCTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_NREPRO' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_NREPRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECREP' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECREP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_POLREV' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_POLREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPOLREV' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPOLREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUPOL' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUPOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_POLGRAB' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_POLGRAB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPOLGRAB' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPOLGRAB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FPERFEC' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FPERFEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_USUREV' style='position:absolute; left:0px; top:0px; width: 216px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_USUREV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_DOCUCAR' style='position:absolute; left:0px; top:0px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_DOCUCAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_FECDOCA' style='position:absolute; left:0px; top:0px; width: 162px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECDOCA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_VBDESE' style='position:absolute; left:26px; top:492px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBDESE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_VBENVI' style='position:absolute; left:26px; top:526px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBENVI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_VBCAJA' style='position:absolute; left:598px; top:492px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBCAJA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_VBFACT' style='position:absolute; left:598px; top:526px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_VBFACT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_FECDES' style='position:absolute; left:374px; top:492px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECDES'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_FECENV' style='position:absolute; left:374px; top:526px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECENV'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_FECCAJ' style='position:absolute; left:946px; top:492px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECCAJ'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTROL-CONTROL_FECFAC' style='position:absolute; left:946px; top:526px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTROL.CONTROL_FECFAC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_MARCA' style='position:absolute; left:168px; top:484px; width: 94px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_MARCA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_CODIGO' style='position:absolute; left:270px; top:484px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_NOMBRE' style='position:absolute; left:388px; top:484px; width: 270px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_FECHA_INICIAL' style='position:absolute; left:214px; top:536px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_FECHA_INICIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_FECHA_FINAL' style='position:absolute; left:350px; top:536px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_FECHA_FINAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "GARANTIAS"' class='form-elem item' data-canvas-name='GARANTIAS' id='RANGO-W_CANTIDAD' style='position:absolute; left:522px; top:536px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RANGO.W_CANTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BOTONES-ITEM364' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BOTONES.ITEM364'></app-input-item>
</div>
</div>
