<div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:10px; top:18px; width:226px; height:84px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:508px; top:94px; width:222px; height:24px; border: 1px solid red;'>
 SISTEMA DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:960px; top:90px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:944px; top:66px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:962px; top:40px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:622px; top:38px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT1' style='position:absolute; left:48px; top:82px; width:1144px; height:498px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT2' style='position:absolute; left:86px; top:100px; width:1052px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT3' style='position:absolute; left:50px; top:10px; width:544px; height:22px; border: 1px solid red;'>
 Solicitudes Aprob. por Comité  o Comercial  correspondientes a :
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT6' style='position:absolute; left:110px; top:106px; width:74px; height:22px; border: 1px solid red;'>
No. Solic.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT9' style='position:absolute; left:192px; top:106px; width:36px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT12' style='position:absolute; left:240px; top:106px; width:78px; height:22px; border: 1px solid red;'>
Nit Benef.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT15' style='position:absolute; left:378px; top:106px; width:168px; height:22px; border: 1px solid red;'>
Nombre Beneficiario
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT18' style='position:absolute; left:622px; top:106px; width:106px; height:22px; border: 1px solid red;'>
Vr. Solic. Cial
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT21' style='position:absolute; left:748px; top:106px; width:134px; height:22px; border: 1px solid red;'>
Vr. Aprob. Cred.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT24' style='position:absolute; left:898px; top:106px; width:30px; height:22px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT27' style='position:absolute; left:950px; top:106px; width:82px; height:22px; border: 1px solid red;'>
F. Apr. Cr.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT30' style='position:absolute; left:104px; top:320px; width:352px; height:22px; border: 1px solid red;'>
Observaciones de Aprobación de Contrato
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT33' style='position:absolute; left:626px; top:314px; width:216px; height:22px; border: 1px solid red;'>
Fecha de Aprobación Cial :
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT36' style='position:absolute; left:104px; top:344px; width:884px; height:44px; border: 1px solid red;'>
A través de esta opción se deben indicar las condiciones que MEJORAN la solicitud para la compañía, luego de haber sido&#10; aprobadas por el Comité de Crédito.  Dichas condiciones se tendrán en cuenta para la elaboracion del contrato.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT41' style='position:absolute; left:66px; top:518px; width:1082px; height:48px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT42' style='position:absolute; left:262px; top:50px; width:56px; height:22px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT45' style='position:absolute; left:438px; top:50px; width:70px; height:22px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT48' style='position:absolute; left:1040px; top:104px; width:84px; height:22px; border: 1px solid red;'>
Act. Cupo 
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-RECT52' style='position:absolute; left:66px; top:50px; width:834px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-RECT53' style='position:absolute; left:68px; top:94px; width:830px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-LINE54' style='position:absolute; left:66px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT55' style='position:absolute; left:100px; top:110px; width:88px; height:20px; border: 1px solid red;'>
 Nit Tercero 
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT58' style='position:absolute; left:218px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Tipo 
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT61' style='position:absolute; left:270px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Pers.
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT64' style='position:absolute; left:454px; top:110px; width:56px; height:20px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT67' style='position:absolute; left:652px; top:110px; width:52px; height:20px; border: 1px solid red;'>
Vinculo
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT70' style='position:absolute; left:78px; top:58px; width:206px; height:22px; border: 1px solid red;'>
Proveedores Nacionales 
</div>
<div *ngIf='currentCanvas == "TERCEROS"' class='form-elem graphic' data-canvas-name='TERCEROS' id='TERCEROS-TEXT73' style='position:absolute; left:716px; top:110px; width:100px; height:20px; border: 1px solid red;'>
% Giro Directo
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-RECT77' style='position:absolute; left:66px; top:50px; width:834px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-RECT78' style='position:absolute; left:68px; top:94px; width:830px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-LINE79' style='position:absolute; left:66px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT80' style='position:absolute; left:100px; top:110px; width:88px; height:20px; border: 1px solid red;'>
 Nit Tercero 
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT83' style='position:absolute; left:258px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Tipo 
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT86' style='position:absolute; left:306px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Pers.
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT89' style='position:absolute; left:454px; top:110px; width:56px; height:20px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT92' style='position:absolute; left:652px; top:110px; width:52px; height:20px; border: 1px solid red;'>
Vinculo
</div>
<div *ngIf='currentCanvas == "COARREND"' class='form-elem graphic' data-canvas-name='COARREND' id='COARREND-TEXT95' style='position:absolute; left:78px; top:58px; width:140px; height:22px; border: 1px solid red;'>
Coarrendatarios 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT99' style='position:absolute; left:498px; top:316px; width:592px; height:86px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT100' style='position:absolute; left:20px; top:4px; width:1022px; height:22px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-LINE101' style='position:absolute; left:66px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT102' style='position:absolute; left:30px; top:4px; width:208px; height:22px; border: 1px solid red;'>
Condiciones que se pueden Modificar  
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT105' style='position:absolute; left:512px; top:332px; width:64px; height:22px; border: 1px solid red;'>
Tasa Fija
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT108' style='position:absolute; left:702px; top:320px; width:76px; height:22px; border: 1px solid red;'>
Ind Tasa $
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT111' style='position:absolute; left:702px; top:346px; width:96px; height:22px; border: 1px solid red;'>
Ind Tasa US$
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT114' style='position:absolute; left:890px; top:320px; width:70px; height:22px; border: 1px solid red;'>
Spread  $
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT117' style='position:absolute; left:890px; top:346px; width:86px; height:22px; border: 1px solid red;'>
Spread US$
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT120' style='position:absolute; left:504px; top:312px; width:64px; height:22px; border: 1px solid red;'>
 TASAS 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT128' style='position:absolute; left:16px; top:28px; width:480px; height:212px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT129' style='position:absolute; left:518px; top:256px; width:98px; height:22px; border: 1px solid red;'>
% Descuento
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT132' style='position:absolute; left:518px; top:288px; width:130px; height:22px; border: 1px solid red;'>
Ind. Tasa Vendor 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC324' style='position:absolute; left:248px; top:36px; width:52px; height:20px; border: 1px solid red;'>
días
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC325' style='position:absolute; left:454px; top:36px; width:52px; height:20px; border: 1px solid red;'>
días
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT135' style='position:absolute; left:756px; top:258px; width:40px; height:22px; border: 1px solid red;'>
% Iva
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT138' style='position:absolute; left:756px; top:288px; width:130px; height:22px; border: 1px solid red;'>
Spread T. Vendor
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT141' style='position:absolute; left:500px; top:120px; width:592px; height:194px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT145' style='position:absolute; left:24px; top:148px; width:110px; height:44px; border: 1px solid red;'>
Vr. Canon Extraordinario: 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT150' style='position:absolute; left:500px; top:32px; width:590px; height:86px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT157' style='position:absolute; left:520px; top:38px; width:108px; height:22px; border: 1px solid red;'>
Cial Asignado: 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT165' style='position:absolute; left:516px; top:134px; width:142px; height:22px; border: 1px solid red;'>
% Desc. Bancoldex
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC135' style='position:absolute; left:786px; top:136px; width:30px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC140' style='position:absolute; left:516px; top:224px; width:142px; height:22px; border: 1px solid red;'>
% Desc. Multiprop. 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC142' style='position:absolute; left:786px; top:228px; width:30px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC157' style='position:absolute; left:508px; top:64px; width:172px; height:22px; border: 1px solid red;'>
Titulo de Capitalización: 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC160' style='position:absolute; left:16px; top:244px; width:480px; height:158px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC176' style='position:absolute; left:514px; top:162px; width:142px; height:22px; border: 1px solid red;'>
% Desc. Finagro
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC177' style='position:absolute; left:514px; top:194px; width:142px; height:22px; border: 1px solid red;'>
% Desc. Findeter
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC180' style='position:absolute; left:786px; top:166px; width:30px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT206' style='position:absolute; left:128px; top:254px; width:94px; height:22px; border: 1px solid red;'>
Tipo de Bien:
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT209' style='position:absolute; left:128px; top:274px; width:108px; height:22px; border: 1px solid red;'>
Sub-Categoria:
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC217' style='position:absolute; left:510px; top:116px; width:134px; height:22px; border: 1px solid red;'>
 REDESCUENTOS 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT76' style='position:absolute; left:24px; top:64px; width:214px; height:22px; border: 1px solid red;'>
Porcentaje Opción de Compra
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC234' style='position:absolute; left:24px; top:122px; width:110px; height:44px; border: 1px solid red;'>
Vr. Monto 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC237' style='position:absolute; left:24px; top:174px; width:110px; height:44px; border: 1px solid red;'>
Vr. A Financiar 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT151' style='position:absolute; left:224px; top:94px; width:164px; height:22px; border: 1px solid red;'>
Porcen Cobertura FNG
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC195' style='position:absolute; left:24px; top:92px; width:106px; height:22px; border: 1px solid red;'>
Porce. Avalúo:
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT142' style='position:absolute; left:278px; top:166px; width:48px; height:22px; border: 1px solid red;'>
Plazo :
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC144' style='position:absolute; left:256px; top:206px; width:130px; height:22px; border: 1px solid red;'>
Fec. Desem Clien:
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC249' style='position:absolute; left:362px; top:64px; width:40px; height:22px; border: 1px solid red;'>
Plazo
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC259' style='position:absolute; left:504px; top:368px; width:124px; height:22px; border: 1px solid red;'>
Tasa Nom. VOR: 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC260' style='position:absolute; left:702px; top:372px; width:130px; height:22px; border: 1px solid red;'>
Fecha Tasa VOR:
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC196' style='position:absolute; left:22px; top:58px; width:50px; height:20px; border: 1px solid red;'>
 P.Gracia
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC265' style='position:absolute; left:170px; top:58px; width:50px; height:20px; border: 1px solid red;'>
 P.Muerto
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT127' style='position:absolute; left:318px; top:36px; width:52px; height:20px; border: 1px solid red;'>
Total  :
</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-RECT100' style='position:absolute; left:20px; top:6px; width:1022px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-LINE101' style='position:absolute; left:66px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-TEXT102' style='position:absolute; left:32px; top:12px; width:208px; height:22px; border: 1px solid red;'>
Modificaciones 
</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-TEXT123' style='position:absolute; left:24px; top:82px; width:154px; height:44px; border: 1px solid red;'>
Tipo Bien
</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-RECT128' style='position:absolute; left:22px; top:46px; width:1018px; height:320px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-TEXT151' style='position:absolute; left:24px; top:126px; width:82px; height:22px; border: 1px solid red;'>
Tipo Activo
</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-GRAPHIC197' style='position:absolute; left:24px; top:168px; width:112px; height:44px; border: 1px solid red;'>
Observaciones&#10; Comercial
</div>
<div *ngIf='currentCanvas == "CONFIN1"' class='form-elem graphic' data-canvas-name='CONFIN1' id='CONFIN1-GRAPHIC222' style='position:absolute; left:24px; top:256px; width:112px; height:44px; border: 1px solid red;'>
Observaciones&#10; Crédito
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-RECT53' style='position:absolute; left:62px; top:6px; width:922px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-LINE54' style='position:absolute; left:66px; top:84px; width:22px; height:22px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-TEXT55' style='position:absolute; left:78px; top:10px; width:208px; height:22px; border: 1px solid red;'>
Condiciones que se pueden Modificar 
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-TEXT76' style='position:absolute; left:72px; top:54px; width:214px; height:22px; border: 1px solid red;'>
Porcentaje Op de Compra
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-RECT81' style='position:absolute; left:64px; top:44px; width:438px; height:132px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-TEXT89' style='position:absolute; left:350px; top:140px; width:48px; height:22px; border: 1px solid red;'>
Plazo :
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-TEXT92' style='position:absolute; left:536px; top:98px; width:188px; height:22px; border: 1px solid red;'>
Vr. Canon Extraordinario: 
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-RECT97' style='position:absolute; left:508px; top:42px; width:476px; height:134px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-RECT101' style='position:absolute; left:62px; top:180px; width:924px; height:194px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-TEXT105' style='position:absolute; left:536px; top:128px; width:186px; height:22px; border: 1px solid red;'>
Vr. A Financiar 
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-GRAPHIC232' style='position:absolute; left:536px; top:72px; width:76px; height:22px; border: 1px solid red;'>
Vr. Monto 
</div>
<div *ngIf='currentCanvas == "CONFIN2"' class='form-elem graphic' data-canvas-name='CONFIN2' id='CONFIN2-GRAPHIC196' style='position:absolute; left:70px; top:102px; width:130px; height:20px; border: 1px solid red;'>
 Periodo de Gracia
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-RECT126' style='position:absolute; left:28px; top:58px; width:248px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-RECT127' style='position:absolute; left:24px; top:6px; width:338px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT128' style='position:absolute; left:40px; top:14px; width:258px; height:22px; border: 1px solid red;'>
Calculo y Conversión de Tasas 
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT131' style='position:absolute; left:54px; top:102px; width:38px; height:22px; border: 1px solid red;'>
D.T.F
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT134' style='position:absolute; left:54px; top:136px; width:38px; height:22px; border: 1px solid red;'>
D.E.F
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT137' style='position:absolute; left:56px; top:48px; width:156px; height:22px; border: 1px solid red;'>
 TASAS ACTUALES 
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT140' style='position:absolute; left:54px; top:166px; width:70px; height:22px; border: 1px solid red;'>
Tasa T.A.
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT143' style='position:absolute; left:54px; top:198px; width:100px; height:22px; border: 1px solid red;'>
Tasa Efectiva
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-RECT146' style='position:absolute; left:282px; top:58px; width:248px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT147' style='position:absolute; left:318px; top:48px; width:134px; height:22px; border: 1px solid red;'>
 TASAS NUEVAS 
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT150' style='position:absolute; left:292px; top:162px; width:70px; height:22px; border: 1px solid red;'>
Tasa T.A.
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT153' style='position:absolute; left:292px; top:194px; width:100px; height:22px; border: 1px solid red;'>
Tasa Efectiva
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT156' style='position:absolute; left:292px; top:132px; width:70px; height:22px; border: 1px solid red;'>
Spread  $
</div>
<div *ngIf='currentCanvas == "CALCULOS"' class='form-elem graphic' data-canvas-name='CALCULOS' id='CALCULOS-TEXT159' style='position:absolute; left:292px; top:96px; width:116px; height:22px; border: 1px solid red;'>
Fecha Indicador
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-RECT169' style='position:absolute; left:64px; top:50px; width:892px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-RECT170' style='position:absolute; left:68px; top:94px; width:890px; height:226px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-LINE171' style='position:absolute; left:100px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT172' style='position:absolute; left:106px; top:122px; width:104px; height:20px; border: 1px solid red;'>
 Nit Extranjero 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT175' style='position:absolute; left:242px; top:122px; width:36px; height:20px; border: 1px solid red;'>
Tipo 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT178' style='position:absolute; left:282px; top:122px; width:36px; height:20px; border: 1px solid red;'>
Pers.
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT181' style='position:absolute; left:488px; top:122px; width:56px; height:20px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT184' style='position:absolute; left:722px; top:122px; width:32px; height:20px; border: 1px solid red;'>
País
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT187' style='position:absolute; left:78px; top:58px; width:212px; height:22px; border: 1px solid red;'>
Proveedores Extranjeros 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT190' style='position:absolute; left:788px; top:106px; width:54px; height:40px; border: 1px solid red;'>
% Carta&#10; Crédito
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT195' style='position:absolute; left:868px; top:106px; width:50px; height:40px; border: 1px solid red;'>
%Giro&#10; Directo
</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-ROUNDRECT180' style='position:absolute; left:16px; top:6px; width:522px; height:280px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-LINE592' style='position:absolute; left:28px; top:0px; width:22px; height:22px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-TEXT358' style='position:absolute; left:184px; top:32px; width:212px; height:22px; border: 1px solid red;'>
PROVEEDORES REFERIDOS 
</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-RECT420' style='position:absolute; left:28px; top:40px; width:502px; height:214px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-GRAPHIC436' style='position:absolute; left:36px; top:50px; width:484px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-TEXT430' style='position:absolute; left:216px; top:72px; width:140px; height:20px; border: 1px solid red;'>
Proveedor Referido
</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-GRAPHIC437' style='position:absolute; left:36px; top:154px; width:484px; height:94px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEE_REF"' class='form-elem graphic' data-canvas-name='PROVEE_REF' id='PROVEE_REF-TEXT433' style='position:absolute; left:258px; top:176px; width:50px; height:20px; border: 1px solid red;'>
Asesor
</div>
<div *ngIf='currentCanvas == "OFI_DAVI_REF"' class='form-elem graphic' data-canvas-name='OFI_DAVI_REF' id='OFI_DAVI_REF-ROUNDRECT180' style='position:absolute; left:16px; top:6px; width:522px; height:280px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "OFI_DAVI_REF"' class='form-elem graphic' data-canvas-name='OFI_DAVI_REF' id='OFI_DAVI_REF-LINE592' style='position:absolute; left:28px; top:0px; width:22px; height:22px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "OFI_DAVI_REF"' class='form-elem graphic' data-canvas-name='OFI_DAVI_REF' id='OFI_DAVI_REF-TEXT358' style='position:absolute; left:184px; top:66px; width:212px; height:22px; border: 1px solid red;'>
REFERIDOS PARA DAVIVIENDA
</div>
<div *ngIf='currentCanvas == "CAN_ESTRATE"' class='form-elem graphic' data-canvas-name='CAN_ESTRATE' id='CAN_ESTRATE-RECT100' style='position:absolute; left:78px; top:16px; width:750px; height:38px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_ESTRATE"' class='form-elem graphic' data-canvas-name='CAN_ESTRATE' id='CAN_ESTRATE-TEXT102' style='position:absolute; left:108px; top:24px; width:190px; height:22px; border: 1px solid red;'>
Códigos de Estrategia  
</div>
<div *ngIf='currentCanvas == "CAN_ESTRATE"' class='form-elem graphic' data-canvas-name='CAN_ESTRATE' id='CAN_ESTRATE-RECT53' style='position:absolute; left:80px; top:70px; width:1028px; height:300px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_ESTRATE"' class='form-elem graphic' data-canvas-name='CAN_ESTRATE' id='CAN_ESTRATE-RECT527' style='position:absolute; left:112px; top:82px; width:986px; height:278px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_ESTRATE"' class='form-elem graphic' data-canvas-name='CAN_ESTRATE' id='CAN_ESTRATE-RECT534' style='position:absolute; left:140px; top:88px; width:950px; height:260px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-RECT52' style='position:absolute; left:84px; top:28px; width:908px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-RECT53' style='position:absolute; left:82px; top:90px; width:914px; height:248px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-LINE54' style='position:absolute; left:104px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT55' style='position:absolute; left:138px; top:110px; width:88px; height:20px; border: 1px solid red;'>
 Nit Tercero 
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT58' style='position:absolute; left:256px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Tipo 
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT61' style='position:absolute; left:308px; top:110px; width:36px; height:20px; border: 1px solid red;'>
Pers.
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT64' style='position:absolute; left:492px; top:110px; width:56px; height:20px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT67' style='position:absolute; left:764px; top:110px; width:52px; height:20px; border: 1px solid red;'>
Vinculo
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem graphic' data-canvas-name='MOD_TERC' id='MOD_TERC-TEXT70' style='position:absolute; left:116px; top:34px; width:206px; height:22px; border: 1px solid red;'>
Modificacion Terceros
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTSOLICR1-SOLICR_CODUNI' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTSOLICR1_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTSOLICR1' [displayedColumns]='displayedColumns' [name]='CRTSOLICR1'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTSOLICR2-SOLICR_CODUNI' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTSOLICR2_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTSOLICR2' [displayedColumns]='displayedColumns' [name]='CRTSOLICR2'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTOTERSOL1-OTERSOL_CODUNI' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTOTERSOL1_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTOTERSOL1' [displayedColumns]='displayedColumns' [name]='CRTOTERSOL1'></app-block>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-TIPXCOM_CODCOM' style='position:absolute; left:62px; top:78px; width: 50px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_CODCOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-TIPXCOM_TIPPRO' style='position:absolute; left:10px; top:14px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_TIPPRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-TIPXCOM_PORCON' style='position:absolute; left:450px; top:78px; width: 60px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_PORCON'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-DSP_PROD' style='position:absolute; left:80px; top:14px; width: 300px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.DSP_PROD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-TIPXCOM_CODCOM2' style='position:absolute; left:62px; top:110px; width: 50px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_CODCOM2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-TIPXCOM_PORCON2' style='position:absolute; left:450px; top:110px; width: 60px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_PORCON2'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTTIPXCOM1-TIPXCOM_OFCSOL' style='position:absolute; left:486px; top:10px; width: 60px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTTIPXCOM1-TIPXCOM_CODSOL' style='position:absolute; left:578px; top:10px; width: 150px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COTTIPXCOM1-TIPXCOM_CODUNI' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.TIPXCOM_CODUNI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-BTN_REGRESAR' style='position:absolute; left:472px; top:14px; width: 32px; height:32px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='COTTIPXCOM1.BTN_REGRESAR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-DSP_COM1' style='position:absolute; left:112px; top:78px; width: 340px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.DSP_COM1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-DSP_COM2' style='position:absolute; left:112px; top:110px; width: 340px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTTIPXCOM1.DSP_COM2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-BTN_GRABA' style='position:absolute; left:402px; top:14px; width: 32px; height:32px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='COTTIPXCOM1.BTN_GRABA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "COMP"' class='form-elem item' data-canvas-name='COMP' id='COTTIPXCOM1-BTN_DELRECORD' style='position:absolute; left:436px; top:14px; width: 36px; height:32px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='COTTIPXCOM1.BTN_DELRECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTTEREXT-TEREXT_CODUNI' style='position:absolute; left:856px; top:152px; width: 72px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTTEREXT_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTTEREXT' [displayedColumns]='displayedColumns' [name]='CRTTEREXT'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COTUVPCCV-UVPCCV_CODUNI' style='position:absolute; left:0px; top:0px; width: 60px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='COTUVPCCV_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='COTUVPCCV' [displayedColumns]='displayedColumns' [name]='COTUVPCCV'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTOTERSOL3-OTERSOL_CODUNI' style='position:absolute; left:224px; top:134px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_CODUNI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTOTERSOL3-OTERSOL_CODSOL' style='position:absolute; left:368px; top:78px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_CODSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTOTERSOL3-OTERSOL_OFCSOL' style='position:absolute; left:224px; top:134px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_OFCSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem item' data-canvas-name='MOD_TERC' id='CRTOTERSOL3-OTERSOL_NITTER' style='position:absolute; left:120px; top:134px; width: 140px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_NITTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem item' data-canvas-name='MOD_TERC' id='CRTOTERSOL3-OTERSOL_TIPIDE' style='position:absolute; left:260px; top:134px; width: 46px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_TIPIDE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem item' data-canvas-name='MOD_TERC' id='CRTOTERSOL3-OTERSOL_TIPPER' style='position:absolute; left:306px; top:134px; width: 30px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_TIPPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTOTERSOL3-OTERSOL_ACTJUN' style='position:absolute; left:272px; top:134px; width: 30px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_ACTJUN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem item' data-canvas-name='MOD_TERC' id='CRTOTERSOL3-NOMBRE' style='position:absolute; left:336px; top:134px; width: 328px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "MOD_TERC"' class='form-elem item' data-canvas-name='MOD_TERC' id='CRTOTERSOL3-OTERSOL_TIPVIN' style='position:absolute; left:664px; top:134px; width: 300px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTOTERSOL3.OTERSOL_TIPVIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-NIT_EXTRANJE' style='position:absolute; left:444px; top:354px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.NIT_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-SOLI_EXTRANJE' style='position:absolute; left:304px; top:354px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.SOLI_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-OFI_SOLI_EXTRANJE' style='position:absolute; left:184px; top:354px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.OFI_SOLI_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-UNIDAD_EXTRANJE' style='position:absolute; left:124px; top:354px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.UNIDAD_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-TIP_OPERA_EXTRANJE' style='position:absolute; left:244px; top:354px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.TIP_OPERA_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='EXTRANJERO01-CONTRATO_EXTRANJE' style='position:absolute; left:380px; top:354px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.CONTRATO_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-NOMBRE_EXTRANJE' style='position:absolute; left:584px; top:354px; width: 420px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.NOMBRE_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='EXTRANJERO01-PAIS_EXTRANJE' style='position:absolute; left:992px; top:234px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='EXTRANJERO01.PAIS_EXTRANJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem item' data-canvas-name='PROVEXT' id='EXTRANJERO01-GRABAR_EXTRANJE' style='position:absolute; left:980px; top:308px; width: 118px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='EXTRANJERO01.GRABAR_EXTRANJE'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:664px; top:36px; width: 144px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1030px; top:38px; width: 156px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1030px; top:62px; width: 156px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:1030px; top:88px; width: 156px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1114px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1006px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:970px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1150px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1078px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1042px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:682px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:754px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:934px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:862px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:790px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:826px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:610px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:718px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:646px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:898px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:788px; top:70px; width: 102px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
