<div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT1' style='position:absolute; left:10px; top:2px; width:1162px; height:624px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT26' style='position:absolute; left:20px; top:46px; width:1136px; height:540px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-TEXT163' style='position:absolute; left:452px; top:96px; width:286px; height:24px; border: 1px solid red;'>
 Seguimiento de Documentos 
</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-FRAME238' style='position:absolute; left:14px; top:654px; width:1700px; height:104px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT264' style='position:absolute; left:364px; top:164px; width:506px; height:312px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT213' style='position:absolute; left:458px; top:222px; width:316px; height:192px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-RECT1' style='position:absolute; left:8px; top:0px; width:1180px; height:258px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-RECT26' style='position:absolute; left:22px; top:24px; width:1164px; height:228px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-TEXT163' style='position:absolute; left:26px; top:2px; width:518px; height:20px; border: 1px solid red;'>
 Seguimiento de Documentos con Vencimientos para HOY 
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC186' style='position:absolute; left:172px; top:28px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC187' style='position:absolute; left:286px; top:28px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC188' style='position:absolute; left:394px; top:28px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC189' style='position:absolute; left:500px; top:28px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC190' style='position:absolute; left:686px; top:28px; width:122px; height:20px; border: 1px solid red;'>
Fec. Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC203' style='position:absolute; left:86px; top:28px; width:64px; height:20px; border: 1px solid red;'>
Planea.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC262' style='position:absolute; left:818px; top:28px; width:32px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC263' style='position:absolute; left:908px; top:28px; width:122px; height:20px; border: 1px solid red;'>
Oficial de Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC271' style='position:absolute; left:42px; top:28px; width:28px; height:20px; border: 1px solid red;'>
Uni
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-RECT1' style='position:absolute; left:26px; top:2px; width:1162px; height:256px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-RECT26' style='position:absolute; left:32px; top:26px; width:1148px; height:224px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-TEXT163' style='position:absolute; left:24px; top:6px; width:518px; height:20px; border: 1px solid red;'>
 Documentos con Fecha de Compromiso Vencida &#10;
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC186' style='position:absolute; left:158px; top:30px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC187' style='position:absolute; left:262px; top:30px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC188' style='position:absolute; left:372px; top:30px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC189' style='position:absolute; left:494px; top:30px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC190' style='position:absolute; left:696px; top:30px; width:112px; height:20px; border: 1px solid red;'>
Fec. Seguim.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC203' style='position:absolute; left:96px; top:30px; width:64px; height:20px; border: 1px solid red;'>
Planea.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC260' style='position:absolute; left:818px; top:30px; width:32px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC261' style='position:absolute; left:884px; top:30px; width:224px; height:20px; border: 1px solid red;'>
Oficial que hace Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC272' style='position:absolute; left:48px; top:30px; width:34px; height:20px; border: 1px solid red;'>
Uni.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-RECT1' style='position:absolute; left:6px; top:2px; width:1182px; height:258px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-RECT26' style='position:absolute; left:12px; top:28px; width:1170px; height:196px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-TEXT163' style='position:absolute; left:24px; top:8px; width:518px; height:20px; border: 1px solid red;'>
 Documentos con Fecha de Compromiso Vencida &#10;
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC186' style='position:absolute; left:150px; top:32px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC187' style='position:absolute; left:244px; top:32px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC188' style='position:absolute; left:362px; top:32px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC189' style='position:absolute; left:480px; top:32px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC190' style='position:absolute; left:680px; top:32px; width:122px; height:20px; border: 1px solid red;'>
Fec. Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC203' style='position:absolute; left:76px; top:32px; width:64px; height:20px; border: 1px solid red;'>
Planeac.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC258' style='position:absolute; left:806px; top:32px; width:32px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC259' style='position:absolute; left:870px; top:32px; width:206px; height:20px; border: 1px solid red;'>
Oficial que hace segmto
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC273' style='position:absolute; left:30px; top:32px; width:64px; height:20px; border: 1px solid red;'>
Uni.
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-RECT1' style='position:absolute; left:10px; top:2px; width:1162px; height:624px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-RECT26' style='position:absolute; left:20px; top:126px; width:1142px; height:214px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC187' style='position:absolute; left:146px; top:142px; width:60px; height:20px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC204' style='position:absolute; left:672px; top:142px; width:100px; height:20px; border: 1px solid red;'>
Beneficiario
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC235' style='position:absolute; left:20px; top:12px; width:1126px; height:78px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-TEXT197' style='position:absolute; left:366px; top:28px; width:358px; height:22px; border: 1px solid red;'>
Comercial 
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC231' style='position:absolute; left:366px; top:58px; width:358px; height:22px; border: 1px solid red;'>
Oficial&#10;
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC239' style='position:absolute; left:348px; top:142px; width:74px; height:20px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC240' style='position:absolute; left:482px; top:142px; width:24px; height:20px; border: 1px solid red;'>
Nit
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC241' style='position:absolute; left:874px; top:142px; width:32px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-TEXT242' style='position:absolute; left:24px; top:98px; width:490px; height:20px; border: 1px solid red;'>
 Solicitudes con Seguimiento de Documentos Pendientes 
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem graphic' data-canvas-name='CAN_SOLICITUD' id='CAN_SOLICITUD-GRAPHIC275' style='position:absolute; left:48px; top:142px; width:60px; height:20px; border: 1px solid red;'>
Unidad
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem item' data-canvas-name='CAN_MENU' id='CRTHISTDOC-VEN_HOY' style='position:absolute; left:486px; top:252px; width: 262px; height:24px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTHISTDOC_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTHISTDOC' [displayedColumns]='displayedColumns' [name]='CRTHISTDOC'></app-block>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-UNIDAD' style='position:absolute; left:48px; top:166px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.UNIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-OFCN' style='position:absolute; left:110px; top:164px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.OFCN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-NOMOFI' style='position:absolute; left:164px; top:164px; width: 144px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.NOMOFI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-SOLICITUD' style='position:absolute; left:308px; top:164px; width: 118px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.SOLICITUD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-TERCERO' style='position:absolute; left:424px; top:164px; width: 146px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.TERCERO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-NOMTER' style='position:absolute; left:572px; top:164px; width: 240px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.NOMTER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-ESTADO' style='position:absolute; left:812px; top:164px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-COMERCIAL' style='position:absolute; left:852px; top:164px; width: 118px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.COMERCIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_SOLICITUD"' class='form-elem item' data-canvas-name='CAN_SOLICITUD' id='SOLICITUDES-NOMCIAL' style='position:absolute; left:970px; top:164px; width: 158px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SOLICITUDES.NOMCIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem item' data-canvas-name='CAN_HOY' id='CRTHISTDOC_HOY-HISTDO_CODUNI' style='position:absolute; left:38px; top:48px; width: 42px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTHISTDOC_HOY_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTHISTDOC_HOY' [displayedColumns]='displayedColumns' [name]='CRTHISTDOC_HOY'></app-block>
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem item' data-canvas-name='CAN_HOY' id='CRTHISTDOC_VEN-HISTDO_CODUNI' style='position:absolute; left:38px; top:48px; width: 42px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTHISTDOC_VEN_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTHISTDOC_VEN' [displayedColumns]='displayedColumns' [name]='CRTHISTDOC_VEN'></app-block>
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem item' data-canvas-name='CAN_FUT' id='CRTHISTDOC_FUT-HISTDO_CODUNI' style='position:absolute; left:30px; top:52px; width: 48px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTHISTDOC_FUT_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTHISTDOC_FUT' [displayedColumns]='displayedColumns' [name]='CRTHISTDOC_FUT'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
