<div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem graphic' data-canvas-name='PCONG' id='PCONG-M1' style='position:absolute; left:6px; top:8px; width:536px; height:62px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem graphic' data-canvas-name='PCONG' id='PCONG-FRAME283' style='position:absolute; left:6px; top:86px; width:1186px; height:452px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem graphic' data-canvas-name='PDATAARCHB' id='PDATAARCHB-TEXT40' style='position:absolute; left:24px; top:20px; width:64px; height:22px; border: 1px solid red;'>
Archivo
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem graphic' data-canvas-name='PDATAARCHB' id='PDATAARCHB-RECT43' style='position:absolute; left:14px; top:10px; width:688px; height:94px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT4' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT7' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT10' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BPAR-CONTADOR' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BPAR.CONTADOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BPAR-MES' style='position:absolute; left:124px; top:22px; width: 126px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BPAR.MES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BPAR-AGNO' style='position:absolute; left:356px; top:22px; width: 84px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BPAR.AGNO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-TERPER' style='position:absolute; left:34px; top:168px; width: 20px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERPER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-TERTID' style='position:absolute; left:70px; top:168px; width: 30px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERTID'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-TERCOD' style='position:absolute; left:104px; top:168px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-CLIENT' style='position:absolute; left:248px; top:168px; width: 360px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.CLIENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-COLOFI' style='position:absolute; left:618px; top:168px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLOFI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-COLTDOC' style='position:absolute; left:674px; top:168px; width: 30px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLTDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-COLCOD' style='position:absolute; left:706px; top:168px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLCOD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-COLFAPE' style='position:absolute; left:796px; top:168px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLFAPE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-COLFVEN' style='position:absolute; left:900px; top:168px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLFVEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BCLIDE-CIUDAD' style='position:absolute; left:1006px; top:168px; width: 164px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.CIUDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-DEPART' style='position:absolute; left:4px; top:56px; width: 168px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.DEPART'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-TERDIR' style='position:absolute; left:176px; top:56px; width: 228px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERDIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-TELEFO' style='position:absolute; left:412px; top:56px; width: 240px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TELEFO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-COMERC' style='position:absolute; left:660px; top:56px; width: 360px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COMERC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-FECUEF' style='position:absolute; left:1032px; top:56px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.FECUEF'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-TERPEC' style='position:absolute; left:1188px; top:56px; width: 24px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERPEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-TERTIC' style='position:absolute; left:1278px; top:56px; width: 30px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERTIC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-TERCOC' style='position:absolute; left:1334px; top:56px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.TERCOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-COLOCA' style='position:absolute; left:1480px; top:56px; width: 360px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.COLOCA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-CALCER' style='position:absolute; left:1852px; top:56px; width: 26px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.CALCER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-ENTCAL' style='position:absolute; left:1892px; top:56px; width: 240px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.ENTCAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONGV"' class='form-elem item' data-canvas-name='PCONGV' id='BCLIDE-ENDEUD' style='position:absolute; left:2140px; top:56px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BCLIDE.ENDEUD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BBOTONES-CONSULTA' style='position:absolute; left:1070px; top:8px; width: 58px; height:58px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.CONSULTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PCONG"' class='form-elem item' data-canvas-name='PCONG' id='BBOTONES-GENINFO' style='position:absolute; left:1134px; top:8px; width: 58px; height:58px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.GENINFO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-ARCHIVOB' style='position:absolute; left:108px; top:16px; width: 578px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.ARCHIVOB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-ACEPTARB' style='position:absolute; left:186px; top:60px; width: 136px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.ACEPTARB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-CANCELARB' style='position:absolute; left:388px; top:60px; width: 136px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.CANCELARB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PROCESO-MENSAJE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PROCESO.MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OFICINA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OFICINA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-IMLGO' style='position:absolute; left:0px; top:0px; width: 482px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.IMLGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
</div>
