<div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:64px; top:48px; width:1088px; height:648px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC54' style='position:absolute; left:96px; top:84px; width:1044px; height:264px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:66px; top:14px; width:340px; height:20px; border: 1px solid red;'>
 Grupo que conforma Comite de Crédito 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT40' style='position:absolute; left:420px; top:632px; width:314px; height:52px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC51' style='position:absolute; left:72px; top:386px; width:1068px; height:226px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC52' style='position:absolute; left:80px; top:364px; width:204px; height:20px; border: 1px solid red;'>
Integrantes Davivienda 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC55' style='position:absolute; left:80px; top:64px; width:238px; height:20px; border: 1px solid red;'>
Integrantes Leasing Bolivar 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT47' style='position:absolute; left:12px; top:12px; width:384px; height:96px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT39' style='position:absolute; left:36px; top:36px; width:324px; height:48px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT41' style='position:absolute; left:48px; top:72px; width:130px; height:20px; border: 1px solid red;'>
Fecha de Comité :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SGUSUARIOS-USU_NOMBRE' style='position:absolute; left:134px; top:112px; width: 480px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SGUSUARIOS_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SGUSUARIOS' [displayedColumns]='displayedColumns' [name]='SGUSUARIOS'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='CRTDAVCOM-DAVCOM_CODIGO' style='position:absolute; left:84px; top:420px; width: 130px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='CRTDAVCOM-DAVCOM_NOMBRE' style='position:absolute; left:216px; top:420px; width: 368px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='CRTDAVCOM-DAVCOM_DESCAR' style='position:absolute; left:588px; top:420px; width: 396px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_DESCAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDAVCOM-DAVCOM_RUSUAR' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_RUSUAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTDAVCOM-DAVCOM_RFECHA' style='position:absolute; left:0px; top:0px; width: 180px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_RFECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='CRTDAVCOM-DAVCOM_ESTADO' style='position:absolute; left:984px; top:420px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDAVCOM.DAVCOM_ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
