<div>
<div *ngIf='canvas == "CONTAB"' class='form-elem graphic' data-canvas-name='CONTAB' id='CONTAB-RECT1' style='position:absolute; left:12px; top:50px; width:1174px; height:544px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem graphic' data-canvas-name='CONTAB' id='CONTAB-TEXT8' style='position:absolute; left:12px; top:18px; width:252px; height:20px; border: 1px solid red;'>
 Parámetros para la Generación de Tabla de Consulta de Cálculos de Tiempo
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem graphic' data-canvas-name='CONTAB' id='CONTAB-GRAPHIC113' style='position:absolute; left:1030px; top:440px; width:144px; height:136px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "VERTAB"' class='form-elem graphic' data-canvas-name='VERTAB' id='VERTAB-RECT1' style='position:absolute; left:8px; top:34px; width:704px; height:388px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "VERTAB"' class='form-elem graphic' data-canvas-name='VERTAB' id='VERTAB-TEXT8' style='position:absolute; left:8px; top:6px; width:252px; height:20px; border: 1px solid red;'>
Vista de la Tabla Creada
</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_CODCOLUM' style='position:absolute; left:32px; top:102px; width: 66px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_CODCOLUM'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' data-canvas-name='' id='CRTCONTAB-TAB_CODDES' style='position:absolute; left:138px; top:102px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_CODDES'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_DESCRIP' style='position:absolute; left:98px; top:102px; width: 452px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_DESCRIP'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_TIPDATO' style='position:absolute; left:552px; top:102px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_TIPDATO'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_LONGIT' style='position:absolute; left:704px; top:102px; width: 64px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_LONGIT'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_ORDEN' style='position:absolute; left:836px; top:102px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_ORDEN'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_MOSTRAR' style='position:absolute; left:940px; top:102px; width: 24px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_MOSTRAR'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-V_BTOCREAR' style='position:absolute; left:1072px; top:490px; width: 60px; height:58px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.V_BTOCREAR'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-V_LIMPIAR' style='position:absolute; left:990px; top:78px; width: 24px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.V_LIMPIAR'></app-input-item>
</div>
<div *ngIf='canvas == "VERTAB"' class='form-elem item' data-canvas-name='VERTAB' id='CRTCONTAB-V_CERRAR' style='position:absolute; left:690px; top:0px; width: 22px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.V_CERRAR'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-V_VERTABLA' style='position:absolute; left:1126px; top:454px; width: 22px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.V_VERTABLA'></app-input-item>
</div>
<div *ngIf='canvas == "CONTAB"' class='form-elem item' data-canvas-name='CONTAB' id='CRTCONTAB-TAB_PRECISION' style='position:absolute; left:770px; top:102px; width: 64px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTCONTAB.TAB_PRECISION'></app-input-item>
</div>
<div *ngIf='canvas == "VERTAB"' class='form-elem item' data-canvas-name='VERTAB' id='BLOCK101-COLUMN' style='position:absolute; left:56px; top:72px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BLOCK101.COLUMN'></app-input-item>
</div>
<div *ngIf='canvas == "VERTAB"' class='form-elem item' data-canvas-name='VERTAB' id='BLOCK101-COMMEN' style='position:absolute; left:156px; top:72px; width: 478px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BLOCK101.COMMEN'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='canvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
