<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:84px; top:44px; width:1054px; height:226px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:92px; top:14px; width:212px; height:22px; border: 1px solid red;'>
IDENTIFICACION DEL CLIENTE
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:190px; top:60px; width:94px; height:22px; border: 1px solid red;'>
Identificacion
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:184px; top:94px; width:114px; height:22px; border: 1px solid red;'>
Nombre/ Sigla
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT11' style='position:absolute; left:124px; top:126px; width:174px; height:22px; border: 1px solid red;'>
Apellido/Razon Social
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT14' style='position:absolute; left:686px; top:62px; width:110px; height:22px; border: 1px solid red;'>
Tipo Persona
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT17' style='position:absolute; left:172px; top:160px; width:128px; height:22px; border: 1px solid red;'>
Tipo de Vinculo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT20' style='position:absolute; left:656px; top:162px; width:138px; height:22px; border: 1px solid red;'>
Clase de Vinculo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT23' style='position:absolute; left:182px; top:194px; width:118px; height:22px; border: 1px solid red;'>
Departamento
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT26' style='position:absolute; left:738px; top:196px; width:58px; height:22px; border: 1px solid red;'>
Ciudad
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT29' style='position:absolute; left:244px; top:226px; width:56px; height:22px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT32' style='position:absolute; left:728px; top:230px; width:66px; height:22px; border: 1px solid red;'>
Agencia
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT36' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT37' style='position:absolute; left:6px; top:0px; width:152px; height:22px; border: 1px solid red;'>
JUNTA DIRECTIVA
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT40' style='position:absolute; left:8px; top:28px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT43' style='position:absolute; left:282px; top:28px; width:244px; height:22px; border: 1px solid red;'>
Apellido/Nombre/Razon Social
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT47' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT48' style='position:absolute; left:8px; top:28px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT51' style='position:absolute; left:274px; top:28px; width:244px; height:22px; border: 1px solid red;'>
Apellido/Nombre/Razon Social
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-TEXT37' style='position:absolute; left:6px; top:0px; width:152px; height:22px; border: 1px solid red;'>
Rep. Legal y Revisor Fiscal
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-RECT47' style='position:absolute; left:0px; top:0px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-TEXT48' style='position:absolute; left:42px; top:22px; width:54px; height:22px; border: 1px solid red;'>
NIT/CC
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-TEXT51' style='position:absolute; left:200px; top:22px; width:244px; height:22px; border: 1px solid red;'>
Apellido/Nombre/Razon Social
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-TEXT01' style='position:absolute; left:528px; top:22px; width:86px; height:22px; border: 1px solid red;'>
Repte/Fisc
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-TEXT10' style='position:absolute; left:620px; top:22px; width:56px; height:22px; border: 1px solid red;'>
Estado
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT55' style='position:absolute; left:0px; top:0px; width:1184px; height:352px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT56' style='position:absolute; left:36px; top:8px; width:136px; height:22px; border: 1px solid red;'>
Tipo de Persona
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT59' style='position:absolute; left:32px; top:38px; width:146px; height:22px; border: 1px solid red;'>
Grupo Economico
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT62' style='position:absolute; left:28px; top:70px; width:148px; height:22px; border: 1px solid red;'>
Sector Economico
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT65' style='position:absolute; left:14px; top:128px; width:158px; height:22px; border: 1px solid red;'>
Descrip.Acti. Econo
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT68' style='position:absolute; left:16px; top:98px; width:160px; height:22px; border: 1px solid red;'>
SubSec. Económico
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-LINE71' style='position:absolute; left:0px; top:152px; width:1180px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT72' style='position:absolute; left:10px; top:180px; width:50px; height:22px; border: 1px solid red;'>
Banco
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT75' style='position:absolute; left:308px; top:180px; width:46px; height:22px; border: 1px solid red;'>
Saldo
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT78' style='position:absolute; left:440px; top:178px; width:44px; height:22px; border: 1px solid red;'>
Cupo
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT81' style='position:absolute; left:564px; top:180px; width:48px; height:22px; border: 1px solid red;'>
Cuota
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT84' style='position:absolute; left:6px; top:158px; width:184px; height:22px; border: 1px solid red;'>
TARJETA DE CREDITO
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT87' style='position:absolute; left:680px; top:70px; width:212px; height:22px; border: 1px solid red;'>
EXTRACTOS BANCARIOS
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT90' style='position:absolute; left:662px; top:156px; width:156px; height:22px; border: 1px solid red;'>
PARTICIPACIONES
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT93' style='position:absolute; left:560px; top:76px; width:50px; height:22px; border: 1px solid red;'>
Banco
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT96' style='position:absolute; left:936px; top:76px; width:46px; height:22px; border: 1px solid red;'>
Saldo
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT99' style='position:absolute; left:1024px; top:76px; width:98px; height:22px; border: 1px solid red;'>
Movimiento
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT102' style='position:absolute; left:664px; top:182px; width:82px; height:22px; border: 1px solid red;'>
Compañia
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT105' style='position:absolute; left:1060px; top:182px; width:88px; height:22px; border: 1px solid red;'>
Porcentaje
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT109' style='position:absolute; left:74px; top:0px; width:1056px; height:352px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT110' style='position:absolute; left:110px; top:8px; width:140px; height:22px; border: 1px solid red;'>
Tipo de Sociedad
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT113' style='position:absolute; left:106px; top:38px; width:146px; height:22px; border: 1px solid red;'>
Grupo Economico
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT116' style='position:absolute; left:104px; top:70px; width:148px; height:22px; border: 1px solid red;'>
Sector Economico
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT119' style='position:absolute; left:638px; top:16px; width:482px; height:122px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT120' style='position:absolute; left:638px; top:18px; width:104px; height:22px; border: 1px solid red;'>
Constitucion
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT123' style='position:absolute; left:650px; top:50px; width:74px; height:22px; border: 1px solid red;'>
Escritura
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT126' style='position:absolute; left:662px; top:80px; width:58px; height:22px; border: 1px solid red;'>
Notaria
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT129' style='position:absolute; left:870px; top:46px; width:48px; height:22px; border: 1px solid red;'>
Fecha
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT132' style='position:absolute; left:860px; top:78px; width:58px; height:22px; border: 1px solid red;'>
Ciudad
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT135' style='position:absolute; left:798px; top:108px; width:70px; height:22px; border: 1px solid red;'>
Vigencia
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT138' style='position:absolute; left:82px; top:164px; width:172px; height:22px; border: 1px solid red;'>
Representante Legal
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT141' style='position:absolute; left:88px; top:192px; width:686px; height:142px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT142' style='position:absolute; left:96px; top:194px; width:68px; height:22px; border: 1px solid red;'>
SOCIOS
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT145' style='position:absolute; left:104px; top:220px; width:74px; height:22px; border: 1px solid red;'>
CC/NIT/TI
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT148' style='position:absolute; left:582px; top:220px; width:142px; height:22px; border: 1px solid red;'>
Por.Participacion 
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT151' style='position:absolute; left:790px; top:192px; width:328px; height:144px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT152' style='position:absolute; left:800px; top:208px; width:58px; height:22px; border: 1px solid red;'>
Capital
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT155' style='position:absolute; left:980px; top:204px; width:52px; height:22px; border: 1px solid red;'>
Monto
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT158' style='position:absolute; left:812px; top:238px; width:92px; height:22px; border: 1px solid red;'>
Autorizado
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT161' style='position:absolute; left:812px; top:262px; width:72px; height:22px; border: 1px solid red;'>
Suscrito
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT164' style='position:absolute; left:812px; top:286px; width:64px; height:22px; border: 1px solid red;'>
Pagado
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT167' style='position:absolute; left:92px; top:98px; width:160px; height:22px; border: 1px solid red;'>
SubSec. Económico
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT170' style='position:absolute; left:78px; top:128px; width:176px; height:22px; border: 1px solid red;'>
Descripción Actividad
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-TEXT173' style='position:absolute; left:332px; top:220px; width:244px; height:22px; border: 1px solid red;'>
Apellido/Nombre/Razon Social
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='TER-DES_VINCULO' style='position:absolute; left:392px; top:154px; width: 258px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='TER_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='TER' [displayedColumns]='displayedColumns' [name]='TER'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem item' data-canvas-name='CANVAS5' id='ENT-ENTSOC' style='position:absolute; left:258px; top:4px; width: 36px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ENT_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ENT' [displayedColumns]='displayedColumns' [name]='ENT'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='ENT2-ENTSOC' style='position:absolute; left:186px; top:0px; width: 36px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='ENT2_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='ENT2' [displayedColumns]='displayedColumns' [name]='ENT2'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem item' data-canvas-name='CANVAS5' id='FAM-FAMNOM' style='position:absolute; left:258px; top:160px; width: 860px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='FAM_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='FAM' [displayedColumns]='displayedColumns' [name]='FAM'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem item' data-canvas-name='CANVAS5' id='SETSOCIOS-SOCIOS_CODSOC' style='position:absolute; left:90px; top:246px; width: 136px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETSOCIOS_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETSOCIOS' [displayedColumns]='displayedColumns' [name]='SETSOCIOS'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='SETJUNTAD-JUNTAD_CODSOC' style='position:absolute; left:6px; top:52px; width: 136px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETJUNTAD_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETJUNTAD' [displayedColumns]='displayedColumns' [name]='SETJUNTAD'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='SETSUPLETE-SUPLET_CODSOC' style='position:absolute; left:8px; top:56px; width: 146px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETSUPLETE_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETSUPLETE' [displayedColumns]='displayedColumns' [name]='SETSUPLETE'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem item' data-canvas-name='CANVAS6' id='SETLEGFIS-LEGFIS_CODSOC' style='position:absolute; left:12px; top:50px; width: 100px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETLEGFIS.LEGFIS_CODSOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem item' data-canvas-name='CANVAS6' id='SETLEGFIS-LEGFIS_NOMBRE' style='position:absolute; left:112px; top:50px; width: 396px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETLEGFIS.LEGFIS_NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem item' data-canvas-name='CANVAS6' id='SETLEGFIS-LEGFIS_TIPO' style='position:absolute; left:508px; top:50px; width: 124px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETLEGFIS.LEGFIS_TIPO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='SETLEGFIS-LEGFIS_PRINCI' style='position:absolute; left:24px; top:2px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETLEGFIS.LEGFIS_PRINCI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem item' data-canvas-name='CANVAS6' id='SETLEGFIS-VOLVER3' style='position:absolute; left:220px; top:110px; width: 172px; height:32px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='SETLEGFIS.VOLVER3'></app-button-item>
</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem item' data-canvas-name='CANVAS6' id='SETLEGFIS-LEGFIS_ESTADO' style='position:absolute; left:632px; top:50px; width: 28px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SETLEGFIS.LEGFIS_ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem item' data-canvas-name='CANVAS5' id='TER1-TERCPAU' style='position:absolute; left:914px; top:230px; width: 188px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='TER1_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='TER1' [displayedColumns]='displayedColumns' [name]='TER1'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='SETEXTBAN-EXTBAN_CODENT' style='position:absolute; left:556px; top:94px; width: 82px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETEXTBAN_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETEXTBAN' [displayedColumns]='displayedColumns' [name]='SETEXTBAN'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='SETTARCRE-TARCRE_CODENT' style='position:absolute; left:4px; top:204px; width: 88px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETTARCRE_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETTARCRE' [displayedColumns]='displayedColumns' [name]='SETTARCRE'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='SETPARTIC-PARTIC_CODCOM' style='position:absolute; left:658px; top:204px; width: 126px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETPARTIC_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETPARTIC' [displayedColumns]='displayedColumns' [name]='SETPARTIC'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='DESCRIBE-PERIODO' style='position:absolute; left:1040px; top:4px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='DESCRIBE.PERIODO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='DESCRIBE-PER_BALAN' style='position:absolute; left:1040px; top:36px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='DESCRIBE.PER_BALAN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
