<div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT1' style='position:absolute; left:10px; top:2px; width:1162px; height:624px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT26' style='position:absolute; left:20px; top:46px; width:1136px; height:540px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-TEXT163' style='position:absolute; left:452px; top:96px; width:286px; height:24px; border: 1px solid red;'>
 Seguimiento de Documentos 
</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-FRAME212' style='position:absolute; left:330px; top:142px; width:536px; height:376px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_MENU"' class='form-elem graphic' data-canvas-name='CAN_MENU' id='CAN_MENU-RECT213' style='position:absolute; left:458px; top:222px; width:316px; height:192px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-RECT1' style='position:absolute; left:6px; top:2px; width:1220px; height:612px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-RECT26' style='position:absolute; left:14px; top:46px; width:1198px; height:548px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-TEXT163' style='position:absolute; left:24px; top:8px; width:518px; height:20px; border: 1px solid red;'>
 Documentos con Fecha de Compromiso Vencida &#10;
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC184' style='position:absolute; left:92px; top:176px; width:30px; height:20px; border: 1px solid red;'>
Ofi.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC186' style='position:absolute; left:540px; top:176px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC187' style='position:absolute; left:742px; top:176px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC188' style='position:absolute; left:918px; top:176px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC189' style='position:absolute; left:46px; top:418px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC190' style='position:absolute; left:1008px; top:176px; width:122px; height:20px; border: 1px solid red;'>
Fec. Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-TEXT197' style='position:absolute; left:44px; top:76px; width:358px; height:22px; border: 1px solid red;'>
 Funcionario responsable del seguimiento :
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-LINE200' style='position:absolute; left:24px; top:114px; width:1130px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC201' style='position:absolute; left:44px; top:136px; width:408px; height:22px; border: 1px solid red;'>
 Planeaciones con fechas de compromiso vencidas 
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC202' style='position:absolute; left:138px; top:176px; width:48px; height:20px; border: 1px solid red;'>
Solic.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC203' style='position:absolute; left:196px; top:176px; width:64px; height:20px; border: 1px solid red;'>
Planea.
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC204' style='position:absolute; left:328px; top:176px; width:100px; height:20px; border: 1px solid red;'>
Beneficiario
</div>
<div *ngIf='currentCanvas == "CAN_VENCIDOS"' class='form-elem graphic' data-canvas-name='CAN_VENCIDOS' id='CAN_VENCIDOS-GRAPHIC235' style='position:absolute; left:26px; top:176px; width:60px; height:20px; border: 1px solid red;'>
Unidad
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-RECT1' style='position:absolute; left:10px; top:2px; width:1218px; height:618px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-RECT26' style='position:absolute; left:22px; top:46px; width:1194px; height:550px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-TEXT163' style='position:absolute; left:24px; top:8px; width:518px; height:20px; border: 1px solid red;'>
 Documentos con Fecha de Compromiso Para Hoy 
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC184' style='position:absolute; left:120px; top:176px; width:30px; height:20px; border: 1px solid red;'>
Ofi.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC186' style='position:absolute; left:540px; top:176px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC187' style='position:absolute; left:742px; top:176px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC188' style='position:absolute; left:920px; top:176px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC189' style='position:absolute; left:46px; top:418px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC190' style='position:absolute; left:1008px; top:176px; width:122px; height:20px; border: 1px solid red;'>
Fec. Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-TEXT197' style='position:absolute; left:44px; top:76px; width:358px; height:22px; border: 1px solid red;'>
  Funcionario responsable del seguimiento :  
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-LINE200' style='position:absolute; left:24px; top:114px; width:1130px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC201' style='position:absolute; left:44px; top:136px; width:408px; height:22px; border: 1px solid red;'>
 Planeaciones con fechas de compromiso del Día 
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC202' style='position:absolute; left:170px; top:176px; width:48px; height:20px; border: 1px solid red;'>
Solic.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC203' style='position:absolute; left:228px; top:176px; width:64px; height:20px; border: 1px solid red;'>
Planea.
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC204' style='position:absolute; left:360px; top:176px; width:100px; height:20px; border: 1px solid red;'>
Beneficiario
</div>
<div *ngIf='currentCanvas == "CAN_HOY"' class='form-elem graphic' data-canvas-name='CAN_HOY' id='CAN_HOY-GRAPHIC236' style='position:absolute; left:46px; top:176px; width:60px; height:20px; border: 1px solid red;'>
Unidad
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-RECT1' style='position:absolute; left:10px; top:2px; width:1224px; height:618px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-RECT26' style='position:absolute; left:20px; top:46px; width:1208px; height:552px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-TEXT163' style='position:absolute; left:24px; top:8px; width:518px; height:20px; border: 1px solid red;'>
 Documentos con Fecha de Compromiso Futuros &#10;
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC184' style='position:absolute; left:106px; top:176px; width:30px; height:20px; border: 1px solid red;'>
Ofi.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC186' style='position:absolute; left:530px; top:176px; width:96px; height:20px; border: 1px solid red;'>
Doc. Pend.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC187' style='position:absolute; left:632px; top:176px; width:76px; height:20px; border: 1px solid red;'>
Contacto
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC188' style='position:absolute; left:740px; top:176px; width:78px; height:20px; border: 1px solid red;'>
Tel.Cont.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC189' style='position:absolute; left:46px; top:418px; width:126px; height:20px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC190' style='position:absolute; left:1012px; top:176px; width:122px; height:20px; border: 1px solid red;'>
Fec. Seguimto
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-TEXT197' style='position:absolute; left:44px; top:76px; width:358px; height:22px; border: 1px solid red;'>
 Funcionario responsable del seguimiento :
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-LINE200' style='position:absolute; left:24px; top:114px; width:1130px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC201' style='position:absolute; left:44px; top:136px; width:408px; height:22px; border: 1px solid red;'>
 Planeaciones con fechas de compromiso Futuras &#10;
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC202' style='position:absolute; left:156px; top:176px; width:48px; height:20px; border: 1px solid red;'>
Solic.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC203' style='position:absolute; left:208px; top:176px; width:64px; height:20px; border: 1px solid red;'>
Planea.
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC204' style='position:absolute; left:336px; top:176px; width:100px; height:20px; border: 1px solid red;'>
Beneficiario
</div>
<div *ngIf='currentCanvas == "CAN_FUT"' class='form-elem graphic' data-canvas-name='CAN_FUT' id='CAN_FUT-GRAPHIC237' style='position:absolute; left:38px; top:174px; width:60px; height:20px; border: 1px solid red;'>
Unidad
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
