<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:0px; top:0px; width:1184px; height:618px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT2' style='position:absolute; left:6px; top:22px; width:1150px; height:122px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT15' style='position:absolute; left:22px; top:438px; width:1144px; height:172px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE16' style='position:absolute; left:576px; top:26px; width:0px; height:112px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT26' style='position:absolute; left:18px; top:184px; width:1142px; height:256px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT27' style='position:absolute; left:24px; top:192px; width:118px; height:22px; border: 1px solid red;'>
 Documentos 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT89' style='position:absolute; left:720px; top:190px; width:130px; height:250px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT90' style='position:absolute; left:848px; top:190px; width:90px; height:250px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT91' style='position:absolute; left:120px; top:192px; width:40px; height:20px; border: 1px solid red;'>
Cod.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT96' style='position:absolute; left:400px; top:192px; width:98px; height:20px; border: 1px solid red;'>
Documento
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT99' style='position:absolute; left:734px; top:192px; width:76px; height:20px; border: 1px solid red;'>
 VB Ofic.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT104' style='position:absolute; left:812px; top:192px; width:34px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT110' style='position:absolute; left:854px; top:192px; width:72px; height:20px; border: 1px solid red;'>
 VB Jefe
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT124' style='position:absolute; left:18px; top:146px; width:1140px; height:38px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT128' style='position:absolute; left:34px; top:156px; width:148px; height:20px; border: 1px solid red;'>
No. Planeación :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT20' style='position:absolute; left:390px; top:156px; width:70px; height:20px; border: 1px solid red;'>
Estado :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT162' style='position:absolute; left:964px; top:360px; width:192px; height:76px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT178' style='position:absolute; left:8px; top:0px; width:390px; height:20px; border: 1px solid red;'>
 Consulta General de Planeaciones para solicitudes (AC, VI, SV,RE, AN) &#10;
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT30' style='position:absolute; left:24px; top:414px; width:92px; height:22px; border: 1px solid red;'>
 Controles 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT6' style='position:absolute; left:132px; top:32px; width:74px; height:20px; border: 1px solid red;'>
Oficina :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT9' style='position:absolute; left:10px; top:58px; width:66px; height:20px; border: 1px solid red;'>
Tercero
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT12' style='position:absolute; left:378px; top:30px; width:88px; height:20px; border: 1px solid red;'>
No. Solici:
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT17' style='position:absolute; left:370px; top:114px; width:150px; height:20px; border: 1px solid red;'>
Estado Solicitud :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT23' style='position:absolute; left:10px; top:86px; width:88px; height:20px; border: 1px solid red;'>
Comercial:
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC280' style='position:absolute; left:10px; top:112px; width:160px; height:20px; border: 1px solid red;'>
Usuario FreeLance:
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT33' style='position:absolute; left:72px; top:492px; width:122px; height:20px; border: 1px solid red;'>
Planeado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT39' style='position:absolute; left:442px; top:552px; width:142px; height:20px; border: 1px solid red;'>
Doc.Desembolso
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT42' style='position:absolute; left:812px; top:492px; width:102px; height:20px; border: 1px solid red;'>
Desembolso
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC185' style='position:absolute; left:72px; top:462px; width:82px; height:20px; border: 1px solid red;'>
Radicado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC187' style='position:absolute; left:72px; top:522px; width:134px; height:40px; border: 1px solid red;'>
Anexo Elaborado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC189' style='position:absolute; left:812px; top:462px; width:188px; height:20px; border: 1px solid red;'>
Desembolso Revisado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC191' style='position:absolute; left:812px; top:522px; width:198px; height:20px; border: 1px solid red;'>
Doc.Perfeccionamiento
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC281' style='position:absolute; left:442px; top:462px; width:110px; height:40px; border: 1px solid red;'>
Póliza Revisada
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC282' style='position:absolute; left:442px; top:492px; width:188px; height:20px; border: 1px solid red;'>
Póliza Grabada
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC283' style='position:absolute; left:398px; top:522px; width:64px; height:20px; border: 1px solid red;'>
Usuario Mod. Póliza
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC301' style='position:absolute; left:812px; top:552px; width:198px; height:20px; border: 1px solid red;'>
Doc.Perfecc.Revisado
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE208' style='position:absolute; left:376px; top:446px; width:0px; height:158px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC209' style='position:absolute; left:374px; top:416px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC210' style='position:absolute; left:746px; top:446px; width:0px; height:160px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC211' style='position:absolute; left:746px; top:448px; width:0px; height:158px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC212' style='position:absolute; left:376px; top:448px; width:0px; height:156px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC202' style='position:absolute; left:812px; top:580px; width:198px; height:20px; border: 1px solid red;'>
Entrega Doc. y Carpeta
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT205' style='position:absolute; left:1102px; top:98px; width:114px; height:20px; border: 1px solid red;'>
SubCategoria
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT385' style='position:absolute; left:398px; top:580px; width:176px; height:20px; border: 1px solid red;'>
F. Desistimto/Anulado
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT156' style='position:absolute; left:0px; top:0px; width:1276px; height:348px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT157' style='position:absolute; left:44px; top:232px; width:108px; height:20px; border: 1px solid red;'>
Observación
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT160' style='position:absolute; left:52px; top:62px; width:114px; height:20px; border: 1px solid red;'>
 Fec Registro
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT163' style='position:absolute; left:14px; top:10px; width:284px; height:20px; border: 1px solid red;'>
Seguimiento Historia Documentos
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-TEXT169' style='position:absolute; left:912px; top:62px; width:70px; height:20px; border: 1px solid red;'>
 Usuario
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-GRAPHIC181' style='position:absolute; left:126px; top:62px; width:136px; height:20px; border: 1px solid red;'>
 Codigo Docum.
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-GRAPHIC182' style='position:absolute; left:270px; top:62px; width:88px; height:20px; border: 1px solid red;'>
  Contacto
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-GRAPHIC183' style='position:absolute; left:372px; top:62px; width:96px; height:20px; border: 1px solid red;'>
  Tel. Cont.
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-GRAPHIC184' style='position:absolute; left:826px; top:62px; width:32px; height:20px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-FRAME308' style='position:absolute; left:1122px; top:256px; width:134px; height:80px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem graphic' data-canvas-name='C_TIPOPER' id='C_TIPOPER-RECT184' style='position:absolute; left:0px; top:2px; width:544px; height:318px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem graphic' data-canvas-name='C_TIPOPER' id='C_TIPOPER-RECT188' style='position:absolute; left:46px; top:38px; width:460px; height:226px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem graphic' data-canvas-name='C_TIPOPER' id='C_TIPOPER-TEXT192' style='position:absolute; left:176px; top:50px; width:176px; height:22px; border: 1px solid red;'>
   Tipo de Operación   
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CRTCONTROL-CONTROL_CODUNI' style='position:absolute; left:0px; top:0px; width: 166px; height:32px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTCONTROL_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTCONTROL' [displayedColumns]='displayedColumns' [name]='CRTCONTROL'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CRTESTDOC1-ESTDOC_PLANEA' style='position:absolute; left:86px; top:236px; width: 90px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTESTDOC1_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTESTDOC1' [displayedColumns]='displayedColumns' [name]='CRTESTDOC1'></app-block>
</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem item' data-canvas-name='C_TIPOPER' id='CRTDOCSOL-DOCSOL_CODIGO' style='position:absolute; left:84px; top:90px; width: 64px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCSOL.DOCSOL_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem item' data-canvas-name='C_TIPOPER' id='CRTDOCSOL-DOCSOL_DESCRI' style='position:absolute; left:148px; top:90px; width: 306px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCSOL.DOCSOL_DESCRI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "C_TIPOPER"' class='form-elem item' data-canvas-name='C_TIPOPER' id='CRTDOCSOL-DOCUMENT' style='position:absolute; left:468px; top:90px; width: 20px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CRTDOCSOL.DOCUMENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem item' data-canvas-name='CANVAS4' id='CRTHISTDOC_CONSULTA-HISTDO_FECREG' style='position:absolute; left:48px; top:60px; width: 124px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CRTHISTDOC_CONSULTA_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CRTHISTDOC_CONSULTA' [displayedColumns]='displayedColumns' [name]='CRTHISTDOC_CONSULTA'></app-block>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SEMAFORO-INDICADOR_VERDE' style='position:absolute; left:1070px; top:292px; width: 76px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SEMAFORO.INDICADOR_VERDE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SEMAFORO-INDICADOR_NARANJA' style='position:absolute; left:1070px; top:254px; width: 76px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SEMAFORO.INDICADOR_NARANJA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SEMAFORO-INDICADOR_ROJO' style='position:absolute; left:1070px; top:226px; width: 76px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SEMAFORO.INDICADOR_ROJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SEMAFORO-INDICADOR_NEGRO' style='position:absolute; left:1070px; top:226px; width: 76px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SEMAFORO.INDICADOR_NEGRO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='SEMAFORO-IMG_SEMAFORO' style='position:absolute; left:992px; top:208px; width: 68px; height:132px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SEMAFORO.IMG_SEMAFORO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
