<div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT1' style='position:absolute; left:48px; top:82px; width:1144px; height:498px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT2' style='position:absolute; left:86px; top:100px; width:1052px; height:210px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT3' style='position:absolute; left:54px; top:22px; width:544px; height:22px; border: 1px solid red;'>
 Solicitudes Aprob. por Comité :
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT6' style='position:absolute; left:110px; top:106px; width:74px; height:22px; border: 1px solid red;'>
No. Solic.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT9' style='position:absolute; left:192px; top:106px; width:36px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT12' style='position:absolute; left:240px; top:106px; width:78px; height:22px; border: 1px solid red;'>
Nit Benef.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT15' style='position:absolute; left:378px; top:106px; width:168px; height:22px; border: 1px solid red;'>
Nombre Beneficiario
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT18' style='position:absolute; left:622px; top:106px; width:106px; height:22px; border: 1px solid red;'>
Vr. Solic. Cial
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT21' style='position:absolute; left:748px; top:106px; width:134px; height:22px; border: 1px solid red;'>
Vr. Aprob. Cred.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT24' style='position:absolute; left:898px; top:106px; width:30px; height:22px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT27' style='position:absolute; left:950px; top:106px; width:82px; height:22px; border: 1px solid red;'>
F. Apr. Cr.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT30' style='position:absolute; left:104px; top:320px; width:352px; height:22px; border: 1px solid red;'>
Observaciones de Aprobación de Contrato
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT33' style='position:absolute; left:626px; top:314px; width:216px; height:22px; border: 1px solid red;'>
Fecha de Aprobación Cial :
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT36' style='position:absolute; left:104px; top:346px; width:884px; height:44px; border: 1px solid red;'>
A través de esta opción se deben indicar las condiciones que MEJORAN la solicitud para la compañía, luego de haber sido&#10; aprobadas por el Comité de Crédito.  Dichas condiciones se tendrán en cuenta para la elaboracion del contrato.
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-RECT41' style='position:absolute; left:86px; top:492px; width:1052px; height:64px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT42' style='position:absolute; left:86px; top:50px; width:56px; height:22px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT45' style='position:absolute; left:262px; top:50px; width:70px; height:22px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "SOLICITUD"' class='form-elem graphic' data-canvas-name='SOLICITUD' id='SOLICITUD-TEXT48' style='position:absolute; left:1040px; top:104px; width:84px; height:22px; border: 1px solid red;'>
Act. Cupo 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT100' style='position:absolute; left:20px; top:6px; width:1022px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-LINE101' style='position:absolute; left:66px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT102' style='position:absolute; left:32px; top:12px; width:208px; height:22px; border: 1px solid red;'>
Modificaciones 
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT123' style='position:absolute; left:24px; top:82px; width:154px; height:44px; border: 1px solid red;'>
Tipo Bien
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-RECT128' style='position:absolute; left:22px; top:46px; width:1018px; height:320px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT151' style='position:absolute; left:24px; top:126px; width:82px; height:22px; border: 1px solid red;'>
Tipo Activo
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-GRAPHIC197' style='position:absolute; left:24px; top:250px; width:112px; height:22px; border: 1px solid red;'>
Observaciones
</div>
<div *ngIf='currentCanvas == "CONFIN"' class='form-elem graphic' data-canvas-name='CONFIN' id='CONFIN-TEXT207' style='position:absolute; left:626px; top:58px; width:230px; height:22px; border: 1px solid red;'>
Sub - Categoria del Tipo de Bien
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-RECT169' style='position:absolute; left:64px; top:50px; width:892px; height:34px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-RECT170' style='position:absolute; left:68px; top:94px; width:890px; height:226px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-LINE171' style='position:absolute; left:100px; top:82px; width:22px; height:20px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT172' style='position:absolute; left:106px; top:122px; width:104px; height:20px; border: 1px solid red;'>
 Nit Extranjero 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT175' style='position:absolute; left:242px; top:122px; width:36px; height:20px; border: 1px solid red;'>
Tipo 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT178' style='position:absolute; left:282px; top:122px; width:36px; height:20px; border: 1px solid red;'>
Pers.
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT181' style='position:absolute; left:488px; top:122px; width:56px; height:20px; border: 1px solid red;'>
Nombre
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT184' style='position:absolute; left:722px; top:122px; width:32px; height:20px; border: 1px solid red;'>
País
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT187' style='position:absolute; left:78px; top:58px; width:212px; height:22px; border: 1px solid red;'>
Proveedores Extranjeros 
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT190' style='position:absolute; left:788px; top:106px; width:54px; height:40px; border: 1px solid red;'>
% Carta&#10; Crédito
</div>
<div *ngIf='currentCanvas == "PROVEXT"' class='form-elem graphic' data-canvas-name='PROVEXT' id='PROVEXT-TEXT195' style='position:absolute; left:868px; top:106px; width:50px; height:40px; border: 1px solid red;'>
%Giro&#10; Directo
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
