<div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem graphic' data-canvas-name='PPAL' id='PPAL-RECT1' style='position:absolute; left:6px; top:24px; width:1180px; height:602px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem graphic' data-canvas-name='PPAL' id='PPAL-GRAPHIC81' style='position:absolute; left:8px; top:4px; width:368px; height:20px; border: 1px solid red;'>
Consulta Gerencial - Solicitudes en Tramite
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem graphic' data-canvas-name='PPAL' id='PPAL-FRAME112' style='position:absolute; left:20px; top:42px; width:1162px; height:76px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem graphic' data-canvas-name='PPAL' id='PPAL-RECT80' style='position:absolute; left:902px; top:60px; width:226px; height:40px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem graphic' data-canvas-name='PPAL' id='PPAL-FRAME85' style='position:absolute; left:282px; top:126px; width:620px; height:200px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem graphic' data-canvas-name='P_DET2' id='P_DET2-TEXT109' style='position:absolute; left:3862px; top:50px; width:128px; height:44px; border: 1px solid red;'>
Ver&#10; Sol-Pla-Cto-Seg
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem graphic' data-canvas-name='P_DET2' id='P_DET2-RECT121' style='position:absolute; left:3798px; top:10px; width:132px; height:238px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem graphic' data-canvas-name='PDATAARCHB' id='PDATAARCHB-TEXT40' style='position:absolute; left:24px; top:20px; width:64px; height:22px; border: 1px solid red;'>
Archivo
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem graphic' data-canvas-name='PDATAARCHB' id='PDATAARCHB-RECT43' style='position:absolute; left:14px; top:10px; width:688px; height:94px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_UNIDAD' style='position:absolute; left:130px; top:54px; width: 140px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_UNIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PARAMETROS-CONTADOR' style='position:absolute; left:0px; top:0px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.CONTADOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_FECINI' style='position:absolute; left:386px; top:52px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_FECINI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_FECFIN' style='position:absolute; left:644px; top:52px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_FECFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_OPCION' style='position:absolute; left:130px; top:82px; width: 140px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_PLAZAS' style='position:absolute; left:386px; top:82px; width: 134px; height:30px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_PLAZAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_BTEJEC' style='position:absolute; left:910px; top:66px; width: 102px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_BTEJEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='PARAMETROS-V_REPORT' style='position:absolute; left:1016px; top:66px; width: 104px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PARAMETROS.V_REPORT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-CODPLA' style='position:absolute; left:294px; top:150px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.CODPLA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-DESCR' style='position:absolute; left:348px; top:150px; width: 286px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.DESCR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-NOCTO' style='position:absolute; left:634px; top:150px; width: 74px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.NOCTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-V_TOTAL' style='position:absolute; left:634px; top:290px; width: 74px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.V_TOTAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-V_BTODET' style='position:absolute; left:710px; top:150px; width: 122px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.V_BTODET'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='RSPLAZA-V_BTOTODOS' style='position:absolute; left:710px; top:290px; width: 122px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='RSPLAZA.V_BTOTODOS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-OFC' style='position:absolute; left:32px; top:370px; width: 48px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.OFC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-SOL' style='position:absolute; left:80px; top:370px; width: 108px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-ESTSOL' style='position:absolute; left:188px; top:370px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.ESTSOL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-LINEA' style='position:absolute; left:244px; top:370px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.LINEA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-TIPO' style='position:absolute; left:300px; top:370px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.TIPO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-PLA' style='position:absolute; left:340px; top:370px; width: 78px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.PLA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CDETALLE-TIPOBIEN' style='position:absolute; left:0px; top:42px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.TIPOBIEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NIT' style='position:absolute; left:500px; top:44px; width: 118px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NOMB' style='position:absolute; left:618px; top:44px; width: 260px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NOMB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-CODCOMER' style='position:absolute; left:876px; top:44px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.CODCOMER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NOMBC' style='position:absolute; left:972px; top:44px; width: 206px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NOMBC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CDETALLE-OFICIAL' style='position:absolute; left:662px; top:42px; width: 130px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.OFICIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-FECHA' style='position:absolute; left:1388px; top:44px; width: 124px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DOCTA' style='position:absolute; left:1514px; top:44px; width: 78px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DOCTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DOCPA' style='position:absolute; left:1592px; top:44px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DOCPA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-VLRCTO' style='position:absolute; left:1682px; top:44px; width: 166px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.VLRCTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-PEX' style='position:absolute; left:1848px; top:44px; width: 174px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.PEX'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-VLRFINAN' style='position:absolute; left:2022px; top:44px; width: 178px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.VLRFINAN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DIAS_31' style='position:absolute; left:2200px; top:44px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DIAS_31'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-LINEADESEM' style='position:absolute; left:2280px; top:44px; width: 86px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.LINEADESEM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-FECMAXSEG' style='position:absolute; left:2476px; top:44px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.FECMAXSEG'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DIAS_1' style='position:absolute; left:2602px; top:44px; width: 82px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DIAS_1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-MAXFECPROXSEG' style='position:absolute; left:2684px; top:44px; width: 148px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.MAXFECPROXSEG'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DIAS_2' style='position:absolute; left:2832px; top:44px; width: 82px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DIAS_2'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-V_VER' style='position:absolute; left:1024px; top:248px; width: 40px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.V_VER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='CDETALLE-PLAZA' style='position:absolute; left:970px; top:248px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.PLAZA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='CDETALLE-COMER' style='position:absolute; left:0px; top:0px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.COMER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-V_TOTCTOS' style='position:absolute; left:360px; top:568px; width: 78px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.V_TOTCTOS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-FECDESEM' style='position:absolute; left:2366px; top:44px; width: 110px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.FECDESEM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-LINEA_ESTRATEGICA' style='position:absolute; left:0px; top:44px; width: 264px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.LINEA_ESTRATEGICA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DESCBIEN' style='position:absolute; left:262px; top:44px; width: 238px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DESCBIEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NOMBOFICIAL' style='position:absolute; left:1178px; top:44px; width: 210px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NOMBOFICIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PPAL"' class='form-elem item' data-canvas-name='PPAL' id='CDETALLE-ESTCTO' style='position:absolute; left:418px; top:370px; width: 56px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.ESTCTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DIAS_PROGR_SEGUI' style='position:absolute; left:2916px; top:44px; width: 82px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DIAS_PROGR_SEGUI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-FCHAPRCIAL' style='position:absolute; left:3000px; top:44px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.FCHAPRCIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-PLAZADESC' style='position:absolute; left:3090px; top:44px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.PLAZADESC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SOLICR_ORMONET' style='position:absolute; left:3186px; top:44px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SOLICR_ORMONET'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SPREADP' style='position:absolute; left:3282px; top:44px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SPREADP'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SPREADUSD' style='position:absolute; left:3380px; top:44px; width: 96px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SPREADUSD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SUBCAT_CODIGO' style='position:absolute; left:3476px; top:44px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SUBCAT_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SUBCATEGORIA' style='position:absolute; left:3536px; top:44px; width: 136px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SUBCATEGORIA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-SEMAFORO' style='position:absolute; left:3672px; top:44px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.SEMAFORO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-INDICADOR' style='position:absolute; left:3752px; top:44px; width: 46px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.INDICADOR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-TIPVIN' style='position:absolute; left:3930px; top:44px; width: 58px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.TIPVIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-OFIDAV' style='position:absolute; left:3986px; top:44px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.OFIDAV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NOMOFD' style='position:absolute; left:4054px; top:44px; width: 210px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NOMOFD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NITPRV' style='position:absolute; left:4264px; top:44px; width: 114px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NITPRV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-NOMPRV' style='position:absolute; left:4378px; top:44px; width: 218px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.NOMPRV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-TIPORI' style='position:absolute; left:4596px; top:44px; width: 62px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.TIPORI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-DESORI' style='position:absolute; left:4656px; top:44px; width: 226px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.DESORI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "P_DET2"' class='form-elem item' data-canvas-name='P_DET2' id='CDETALLE-UNIDAD' style='position:absolute; left:4884px; top:44px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='CDETALLE.UNIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-ARCHIVOB' style='position:absolute; left:108px; top:16px; width: 578px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.ARCHIVOB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-ACEPTARB' style='position:absolute; left:186px; top:60px; width: 136px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.ACEPTARB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PDATAARCHB"' class='form-elem item' data-canvas-name='PDATAARCHB' id='BBOTONES-CANCELARB' style='position:absolute; left:388px; top:60px; width: 136px; height:34px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BBOTONES.CANCELARB'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
