<div>
<div *ngIf='currentCanvas == "PROC"' class='form-elem graphic' data-canvas-name='PROC' id='PROC-RECT23' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT2' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT5' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT13' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT1' style='position:absolute; left:0px; top:0px; width:1216px; height:640px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-ROUNDRECT2' style='position:absolute; left:10px; top:68px; width:1194px; height:496px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT6' style='position:absolute; left:64px; top:20px; width:284px; height:22px; border: 1px solid red;'>
  COMERCIALES DE LA COMPAÑIA Y FUNCIONARIO DE DESEMBOLSO  
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem graphic' data-canvas-name='PAGE_2' id='PAGE_2-GRAPHIC13' style='position:absolute; left:580px; top:14px; width:266px; height:22px; border: 1px solid red;'>
Oficial De Desembolso Asignado
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='PROCESO-MENSAJE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PROCESO.MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='SETCOMCIA-COM_CODUNI' style='position:absolute; left:26px; top:160px; width: 62px; height:30px; border: 1px solid green;'>
  <app-block (queryExecutor)='SETCOMCIA_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='SETCOMCIA' [displayedColumns]='displayedColumns' [name]='SETCOMCIA'></app-block>
</div>
</div>
