<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:84px; top:82px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO DEL CLIENTE
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT11' style='position:absolute; left:64px; top:130px; width:1084px; height:514px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE57' style='position:absolute; left:66px; top:232px; width:1076px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC326' style='position:absolute; left:440px; top:312px; width:298px; height:214px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:148px; top:158px; width:130px; height:22px; border: 1px solid red;'>
Codigo Tercero
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-RECT143' style='position:absolute; left:4px; top:118px; width:1172px; height:406px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-TEXT2' style='position:absolute; left:14px; top:78px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-GRAPHIC314' style='position:absolute; left:566px; top:96px; width:100px; height:22px; border: 1px solid red;'>
VEHICULOS
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-RECT143' style='position:absolute; left:20px; top:112px; width:1154px; height:404px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-TEXT2' style='position:absolute; left:34px; top:66px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-GRAPHIC316' style='position:absolute; left:578px; top:92px; width:100px; height:22px; border: 1px solid red;'>
INMUEBLES
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-RECT143' style='position:absolute; left:4px; top:118px; width:1198px; height:406px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-TEXT2' style='position:absolute; left:14px; top:78px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-GRAPHIC314' style='position:absolute; left:566px; top:96px; width:100px; height:22px; border: 1px solid red;'>
OTROS ACTIVOS
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_CODNIT' style='position:absolute; left:28px; top:140px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_MARCAV' style='position:absolute; left:10px; top:218px; width: 224px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_MARCAV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_MODELO' style='position:absolute; left:234px; top:218px; width: 70px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_MODELO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_VLRFAS' style='position:absolute; left:304px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_VLRFAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_VLRENT' style='position:absolute; left:432px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_VLRENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_ENTFIN' style='position:absolute; left:558px; top:218px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_NETOVL' style='position:absolute; left:898px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_PROPIE' style='position:absolute; left:1024px; top:218px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-DESNOMBRE' style='position:absolute; left:232px; top:140px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.DESNOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-DESENTIDAD' style='position:absolute; left:626px; top:218px; width: 270px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.DESENTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-DESNOMBRE1' style='position:absolute; left:252px; top:134px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.DESNOMBRE1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-DESENTIDAD1' style='position:absolute; left:66px; top:40px; width: 270px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.DESENTIDAD1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_CODNIT' style='position:absolute; left:26px; top:134px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_INMUEB' style='position:absolute; left:30px; top:204px; width: 260px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_INMUEB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_METROS' style='position:absolute; left:290px; top:204px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_METROS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_VLRDOC' style='position:absolute; left:410px; top:204px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_VLRDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_VLRCOM' style='position:absolute; left:548px; top:204px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_VLRCOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_ENTFIN' style='position:absolute; left:0px; top:40px; width: 66px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_SALDOO' style='position:absolute; left:336px; top:40px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_SALDOO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_NETOVL' style='position:absolute; left:476px; top:40px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_PROPIE' style='position:absolute; left:614px; top:40px; width: 164px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_DOCACR' style='position:absolute; left:778px; top:40px; width: 208px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_DOCACR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_CODNIT' style='position:absolute; left:28px; top:140px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_MARCAV' style='position:absolute; left:10px; top:218px; width: 224px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_MARCAV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_MODELO' style='position:absolute; left:234px; top:218px; width: 70px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_MODELO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_VLRFAS' style='position:absolute; left:304px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_VLRFAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_VLRENT' style='position:absolute; left:394px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_VLRENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_ENTFIN' style='position:absolute; left:484px; top:218px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_NETOVL' style='position:absolute; left:766px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_PROPIE' style='position:absolute; left:856px; top:218px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_DOCACR' style='position:absolute; left:992px; top:218px; width: 208px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_DOCACR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-DESNOMBRE3' style='position:absolute; left:232px; top:140px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.DESNOMBRE3'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-DESENTIDAD3' style='position:absolute; left:552px; top:218px; width: 210px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.DESENTIDAD3'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
