<div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT4' style='position:absolute; left:118px; top:48px; width:1292px; height:172px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT5' style='position:absolute; left:116px; top:240px; width:1292px; height:636px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT6' style='position:absolute; left:176px; top:88px; width:296px; height:50px; border: 1px solid red;'>
S I G L E A S E
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT11' style='position:absolute; left:1044px; top:642px; width:234px; height:84px; border: 1px solid red;'>
L E A S I N G&#10; B O L Í V AR
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT16' style='position:absolute; left:1046px; top:78px; width:64px; height:28px; border: 1px solid red;'>
Fecha
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT19' style='position:absolute; left:1020px; top:124px; width:90px; height:28px; border: 1px solid red;'>
Usuario 
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT25' style='position:absolute; left:954px; top:166px; width:156px; height:28px; border: 1px solid red;'>
Base de datos
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT28' style='position:absolute; left:176px; top:146px; width:568px; height:32px; border: 1px solid red;'>
Sistema de Informacion Gerencial de Leasing 
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='OPCIONES-HELP' style='position:absolute; left:312px; top:262px; width: 0px; height:40px; border: 1px solid green;'>
  <app-block (queryExecutor)='OPCIONES_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='OPCIONES' [displayedColumns]='displayedColumns' [name]='OPCIONES'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-BASE_DAT' style='position:absolute; left:1126px; top:160px; width: 204px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-FORMA' style='position:absolute; left:900px; top:124px; width: 0px; height:16px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-FECHA' style='position:absolute; left:1126px; top:72px; width: 204px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-USUARIO' style='position:absolute; left:1126px; top:110px; width: 204px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-CARGO' style='position:absolute; left:0px; top:0px; width: 180px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.CARGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-DSP_TITULO' style='position:absolute; left:116px; top:908px; width: 1154px; height:40px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.DSP_TITULO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-DSP_MENSAJE' style='position:absolute; left:116px; top:952px; width: 1290px; height:260px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.DSP_MENSAJE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='BASE-TXT_FORMA' style='position:absolute; left:34px; top:1002px; width: 100px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.TXT_FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='BASE-ALERTA_CODACT' style='position:absolute; left:180px; top:82px; width: 200px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.ALERTA_CODACT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-BTN_ALERTAS' style='position:absolute; left:1320px; top:906px; width: 42px; height:42px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BASE.BTN_ALERTAS'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-BTN_FORMA' style='position:absolute; left:1366px; top:906px; width: 42px; height:42px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BASE.BTN_FORMA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-TXT_CANT' style='position:absolute; left:1276px; top:914px; width: 40px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.TXT_CANT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='BASE-BTN_REGRESAR' style='position:absolute; left:948px; top:16px; width: 40px; height:40px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BASE.BTN_REGRESAR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='UNO-DESCRIPCION' style='position:absolute; left:308px; top:268px; width: 512px; height:40px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='UNO.DESCRIPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='UNO-OPCION' style='position:absolute; left:0px; top:0px; width: 140px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='UNO.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='UNO-OPCION_PADRE' style='position:absolute; left:0px; top:0px; width: 140px; height:38px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='UNO.OPCION_PADRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='DOS-SALIR' style='position:absolute; left:488px; top:756px; width: 112px; height:72px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='DOS.SALIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='DOS-ANTERIOR' style='position:absolute; left:228px; top:756px; width: 112px; height:72px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='DOS.ANTERIOR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='DOS-IMAG_PORT' style='position:absolute; left:1016px; top:332px; width: 314px; height:290px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='DOS.IMAG_PORT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='SGUSUARIOS-USU_CODIGO' style='position:absolute; left:0px; top:0px; width: 288px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGUSUARIOS.USU_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='SGUSUARIOS-USU_NOMBRE' style='position:absolute; left:0px; top:0px; width: 918px; height:36px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGUSUARIOS.USU_NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='SGUSUARIOS-USU_FOTO' style='position:absolute; left:1004px; top:340px; width: 310px; height:292px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGUSUARIOS.USU_FOTO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='SGTALERTA-ALERTA_CODUSU' style='position:absolute; left:40px; top:106px; width: 140px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_CODUSU'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-ALERTA_TITULO' style='position:absolute; left:366px; top:58px; width: 630px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_TITULO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='SGTALERTA-ALERTA_COMPLE' style='position:absolute; left:424px; top:58px; width: 630px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_COMPLE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-ALERTA_ALERTA' style='position:absolute; left:366px; top:108px; width: 618px; height:162px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_ALERTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-ALERTA_VIGDES' style='position:absolute; left:34px; top:58px; width: 140px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_VIGDES'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-ALERTA_VIGHAS' style='position:absolute; left:174px; top:58px; width: 140px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_VIGHAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='SGTALERTA-ALERTA_ACEPTA' style='position:absolute; left:302px; top:58px; width: 40px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.ALERTA_ACEPTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-BTN_OK' style='position:absolute; left:318px; top:60px; width: 40px; height:42px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='SGTALERTA.BTN_OK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-BTN_FORMA2' style='position:absolute; left:602px; top:286px; width: 42px; height:42px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='SGTALERTA.BTN_FORMA2'></app-button-item>
</div>
<div *ngIf='currentCanvas == "ALERTAS"' class='form-elem item' data-canvas-name='ALERTAS' id='SGTALERTA-TXT_ACCION' style='position:absolute; left:38px; top:282px; width: 414px; height:42px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='SGTALERTA.TXT_ACCION'></app-input-item>
</div>
</div>
