<div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:64px; top:22px; width:1084px; height:134px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2' style='position:absolute; left:64px; top:2px; width:254px; height:22px; border: 1px solid red;'>
ANALISIS PERSONA NATURAL
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5' style='position:absolute; left:222px; top:34px; width:104px; height:22px; border: 1px solid red;'>
Cod Tercero
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:76px; top:66px; width:132px; height:22px; border: 1px solid red;'>
Codigo  Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT11' style='position:absolute; left:64px; top:148px; width:1084px; height:498px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT12' style='position:absolute; left:78px; top:168px; width:74px; height:22px; border: 1px solid red;'>
Cuentas 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15' style='position:absolute; left:356px; top:164px; width:42px; height:22px; border: 1px solid red;'>
Per 1
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT18' style='position:absolute; left:82px; top:376px; width:822px; height:26px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT19' style='position:absolute; left:90px; top:380px; width:212px; height:22px; border: 1px solid red;'>
Base General  de Garantía
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT22' style='position:absolute; left:110px; top:150px; width:206px; height:24px; border: 1px solid red;'>
Declaración de Renta
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT25' style='position:absolute; left:100px; top:94px; width:110px; height:22px; border: 1px solid red;'>
Seg.  Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT28' style='position:absolute; left:590px; top:164px; width:68px; height:22px; border: 1px solid red;'>
REL/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT31' style='position:absolute; left:440px; top:164px; width:42px; height:22px; border: 1px solid red;'>
Per 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT34' style='position:absolute; left:506px; top:164px; width:78px; height:22px; border: 1px solid red;'>
PRT/Per 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT37' style='position:absolute; left:828px; top:164px; width:68px; height:22px; border: 1px solid red;'>
REL/CTA
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT40' style='position:absolute; left:684px; top:164px; width:42px; height:22px; border: 1px solid red;'>
Per 3
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT43' style='position:absolute; left:744px; top:164px; width:78px; height:22px; border: 1px solid red;'>
PRT/Per 3
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT46' style='position:absolute; left:80px; top:544px; width:506px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT47' style='position:absolute; left:78px; top:124px; width:130px; height:22px; border: 1px solid red;'>
Tercer  Periodo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT49' style='position:absolute; left:498px; top:66px; width:90px; height:22px; border: 1px solid red;'>
Formulario
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT50' style='position:absolute; left:498px; top:94px; width:104px; height:22px; border: 1px solid red;'>
Formulario 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT52' style='position:absolute; left:498px; top:122px; width:104px; height:22px; border: 1px solid red;'>
Formulario 3
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT50' style='position:absolute; left:940px; top:196px; width:196px; height:172px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT51' style='position:absolute; left:76px; top:414px; width:250px; height:24px; border: 1px solid red;'>
Activos Fijos / Declaración
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT54' style='position:absolute; left:90px; top:548px; width:62px; height:22px; border: 1px solid red;'>
Totales
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE57' style='position:absolute; left:68px; top:408px; width:1076px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT58' style='position:absolute; left:358px; top:432px; width:42px; height:22px; border: 1px solid red;'>
Per 1
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT61' style='position:absolute; left:442px; top:432px; width:42px; height:22px; border: 1px solid red;'>
Per 2
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT64' style='position:absolute; left:522px; top:432px; width:42px; height:22px; border: 1px solid red;'>
Per 3
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE67' style='position:absolute; left:616px; top:410px; width:0px; height:230px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT68' style='position:absolute; left:622px; top:416px; width:240px; height:24px; border: 1px solid red;'>
Activos / Valor Comercial
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT81' style='position:absolute; left:808px; top:224px; width:18px; height:18px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-GRAPHIC326' style='position:absolute; left:774px; top:440px; width:196px; height:182px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT83' style='position:absolute; left:0px; top:0px; width:1094px; height:514px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT84' style='position:absolute; left:168px; top:428px; width:522px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT85' style='position:absolute; left:178px; top:430px; width:46px; height:22px; border: 1px solid red;'>
Saldo 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT88' style='position:absolute; left:114px; top:0px; width:206px; height:24px; border: 1px solid red;'>
Declaración de Renta
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT91' style='position:absolute; left:438px; top:36px; width:42px; height:22px; border: 1px solid red;'>
Per 1
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT94' style='position:absolute; left:522px; top:36px; width:42px; height:22px; border: 1px solid red;'>
Per 2
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT97' style='position:absolute; left:602px; top:36px; width:42px; height:22px; border: 1px solid red;'>
Per 3
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT100' style='position:absolute; left:166px; top:34px; width:186px; height:24px; border: 1px solid red;'>
Ingresos Mensuales
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT103' style='position:absolute; left:456px; top:240px; width:42px; height:22px; border: 1px solid red;'>
Per 1
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT106' style='position:absolute; left:540px; top:240px; width:42px; height:22px; border: 1px solid red;'>
Per 2
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT109' style='position:absolute; left:618px; top:240px; width:42px; height:22px; border: 1px solid red;'>
Per 3
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT112' style='position:absolute; left:172px; top:234px; width:180px; height:24px; border: 1px solid red;'>
Egresos Mensuales
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT115' style='position:absolute; left:786px; top:364px; width:230px; height:114px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT116' style='position:absolute; left:168px; top:390px; width:522px; height:28px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT117' style='position:absolute; left:178px; top:392px; width:128px; height:22px; border: 1px solid red;'>
Canon Mensual 
</div>
<div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT121' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT123' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-RECT125' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS7"' class='form-elem graphic' data-canvas-name='CANVAS7' id='CANVAS7-RECT127' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS8"' class='form-elem graphic' data-canvas-name='CANVAS8' id='CANVAS8-RECT129' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS9"' class='form-elem graphic' data-canvas-name='CANVAS9' id='CANVAS9-RECT131' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS10"' class='form-elem graphic' data-canvas-name='CANVAS10' id='CANVAS10-RECT133' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS11"' class='form-elem graphic' data-canvas-name='CANVAS11' id='CANVAS11-RECT135' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS12"' class='form-elem graphic' data-canvas-name='CANVAS12' id='CANVAS12-RECT137' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS13"' class='form-elem graphic' data-canvas-name='CANVAS13' id='CANVAS13-RECT139' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS14"' class='form-elem graphic' data-canvas-name='CANVAS14' id='CANVAS14-RECT141' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS15"' class='form-elem graphic' data-canvas-name='CANVAS15' id='CANVAS15-RECT143' style='position:absolute; left:0px; top:0px; width:478px; height:98px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-RECT143' style='position:absolute; left:4px; top:118px; width:1172px; height:406px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-TEXT2' style='position:absolute; left:14px; top:78px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-GRAPHIC314' style='position:absolute; left:566px; top:96px; width:100px; height:22px; border: 1px solid red;'>
VEHICULOS
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-RECT143' style='position:absolute; left:20px; top:112px; width:1154px; height:404px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-TEXT2' style='position:absolute; left:34px; top:66px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-GRAPHIC316' style='position:absolute; left:578px; top:92px; width:100px; height:22px; border: 1px solid red;'>
INMUEBLES
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-RECT143' style='position:absolute; left:4px; top:118px; width:1198px; height:406px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-TEXT2' style='position:absolute; left:14px; top:78px; width:254px; height:22px; border: 1px solid red;'>
RECONSTRUCCIÓN PATRIMONIO
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem graphic' data-canvas-name='CANVAS19' id='CANVAS19-GRAPHIC314' style='position:absolute; left:566px; top:96px; width:100px; height:22px; border: 1px solid red;'>
OTROS ACTIVOS
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_CODNIT' style='position:absolute; left:28px; top:140px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_MARCAV' style='position:absolute; left:10px; top:218px; width: 224px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_MARCAV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_MODELO' style='position:absolute; left:234px; top:218px; width: 70px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_MODELO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_VLRFAS' style='position:absolute; left:304px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_VLRFAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_VLRENT' style='position:absolute; left:432px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_VLRENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_ENTFIN' style='position:absolute; left:558px; top:218px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_NETOVL' style='position:absolute; left:898px; top:218px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-ACTVEH_PROPIE' style='position:absolute; left:1024px; top:218px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.ACTVEH_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-DESNOMBRE' style='position:absolute; left:232px; top:140px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.DESNOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16' id='ANTACTVEH-DESENTIDAD' style='position:absolute; left:626px; top:218px; width: 270px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTVEH.DESENTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-DESNOMBRE1' style='position:absolute; left:252px; top:134px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.DESNOMBRE1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-DESENTIDAD1' style='position:absolute; left:66px; top:40px; width: 270px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.DESENTIDAD1'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_CODNIT' style='position:absolute; left:26px; top:134px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_INMUEB' style='position:absolute; left:30px; top:204px; width: 260px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_INMUEB'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_METROS' style='position:absolute; left:290px; top:204px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_METROS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_VLRDOC' style='position:absolute; left:410px; top:204px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_VLRDOC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17' id='ANTACTINM-ACTINM_VLRCOM' style='position:absolute; left:548px; top:204px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_VLRCOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_ENTFIN' style='position:absolute; left:0px; top:40px; width: 66px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_SALDOO' style='position:absolute; left:336px; top:40px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_SALDOO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_NETOVL' style='position:absolute; left:476px; top:40px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_PROPIE' style='position:absolute; left:614px; top:40px; width: 164px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS18"' class='form-elem item' data-canvas-name='CANVAS18' id='ANTACTINM-ACTINM_DOCACR' style='position:absolute; left:778px; top:40px; width: 208px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTINM.ACTINM_DOCACR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_CODNIT' style='position:absolute; left:28px; top:140px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_CODNIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_MARCAV' style='position:absolute; left:10px; top:218px; width: 224px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_MARCAV'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_MODELO' style='position:absolute; left:234px; top:218px; width: 70px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_MODELO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_VLRFAS' style='position:absolute; left:304px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_VLRFAS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_VLRENT' style='position:absolute; left:394px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_VLRENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_ENTFIN' style='position:absolute; left:484px; top:218px; width: 68px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_ENTFIN'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_NETOVL' style='position:absolute; left:766px; top:218px; width: 88px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_NETOVL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_PROPIE' style='position:absolute; left:856px; top:218px; width: 138px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_PROPIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-ACTOTR_DOCACR' style='position:absolute; left:992px; top:218px; width: 208px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.ACTOTR_DOCACR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-DESNOMBRE3' style='position:absolute; left:232px; top:140px; width: 630px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.DESNOMBRE3'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS19"' class='form-elem item' data-canvas-name='CANVAS19' id='ANTACTOTR-DESENTIDAD3' style='position:absolute; left:552px; top:218px; width: 210px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTACTOTR.DESENTIDAD3'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
