<div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-RECT1' style='position:absolute; left:30px; top:108px; width:1144px; height:466px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-RECT2' style='position:absolute; left:46px; top:156px; width:1112px; height:388px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-LINE3' style='position:absolute; left:34px; top:114px; width:1132px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-RECT4' style='position:absolute; left:58px; top:22px; width:1094px; height:68px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-TEXT5' style='position:absolute; left:258px; top:40px; width:710px; height:44px; border: 1px solid red;'>
  Solicitudes por Comercial  para ser aprobadas o reconsideradas en caso de que el    &#10;                                  cliente solicite cambios antes de iniciar el contrato 
</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-RECT10' style='position:absolute; left:222px; top:220px; width:658px; height:280px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem graphic' data-canvas-name='CANVAS_PPAL' id='CANVAS_PPAL-RECT11' style='position:absolute; left:334px; top:268px; width:436px; height:190px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT13' style='position:absolute; left:22px; top:108px; width:1150px; height:466px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT14' style='position:absolute; left:32px; top:156px; width:1126px; height:388px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-LINE15' style='position:absolute; left:22px; top:114px; width:1144px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT16' style='position:absolute; left:58px; top:22px; width:1094px; height:68px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT17' style='position:absolute; left:160px; top:46px; width:464px; height:22px; border: 1px solid red;'>
 Solicitudes Aprobadas por Comité correspondientes a :
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT20' style='position:absolute; left:164px; top:202px; width:74px; height:22px; border: 1px solid red;'>
No. Solic.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT23' style='position:absolute; left:244px; top:202px; width:36px; height:22px; border: 1px solid red;'>
Tipo
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT26' style='position:absolute; left:294px; top:202px; width:78px; height:22px; border: 1px solid red;'>
Nit Benef.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT29' style='position:absolute; left:382px; top:202px; width:168px; height:22px; border: 1px solid red;'>
Nombre Beneficiario
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT32' style='position:absolute; left:540px; top:202px; width:106px; height:22px; border: 1px solid red;'>
Vr. Solic. Cial
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT35' style='position:absolute; left:672px; top:202px; width:134px; height:22px; border: 1px solid red;'>
Vr. Aprob. Cred.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT38' style='position:absolute; left:814px; top:202px; width:30px; height:22px; border: 1px solid red;'>
Est.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT41' style='position:absolute; left:858px; top:202px; width:82px; height:22px; border: 1px solid red;'>
F. Apr. Cr.
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT44' style='position:absolute; left:968px; top:226px; width:182px; height:276px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT45' style='position:absolute; left:982px; top:274px; width:152px; height:194px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT47' style='position:absolute; left:30px; top:106px; width:1144px; height:466px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT48' style='position:absolute; left:46px; top:176px; width:1112px; height:368px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-LINE49' style='position:absolute; left:34px; top:114px; width:1132px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT50' style='position:absolute; left:58px; top:22px; width:1094px; height:68px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT51' style='position:absolute; left:172px; top:234px; width:864px; height:180px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT52' style='position:absolute; left:374px; top:196px; width:530px; height:22px; border: 1px solid red;'>
 Observaciones a tener en cuenta para elaboración del Contrato 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT55' style='position:absolute; left:114px; top:40px; width:984px; height:44px; border: 1px solid red;'>
  A través de esta opción se deben  indicar las condiciones que MEJORAN la solicitud para la Compañía, luego de haber  &#10;   sido aprobadas por Comité de Crédito, las cuales se tendrán en cuenta para la elaboración del contrato. 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT60' style='position:absolute; left:82px; top:424px; width:1042px; height:114px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT61' style='position:absolute; left:378px; top:446px; width:192px; height:22px; border: 1px solid red;'>
 Aprobación Comercial 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT64' style='position:absolute; left:46px; top:118px; width:446px; height:56px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT65' style='position:absolute; left:184px; top:120px; width:56px; height:22px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT68' style='position:absolute; left:278px; top:120px; width:70px; height:22px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT71' style='position:absolute; left:572px; top:446px; width:182px; height:22px; border: 1px solid red;'>
 Fecha de Aprobación 
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT74' style='position:absolute; left:382px; top:120px; width:56px; height:22px; border: 1px solid red;'>
Estado
</div>
<div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-GRAPHIC97' style='position:absolute; left:774px; top:446px; width:242px; height:22px; border: 1px solid red;'>
Oficial Desembolso Asignado
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT78' style='position:absolute; left:30px; top:106px; width:1144px; height:466px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT79' style='position:absolute; left:46px; top:176px; width:1112px; height:368px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-LINE80' style='position:absolute; left:34px; top:114px; width:1132px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT81' style='position:absolute; left:58px; top:22px; width:1094px; height:68px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT82' style='position:absolute; left:112px; top:218px; width:974px; height:220px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT83' style='position:absolute; left:374px; top:184px; width:530px; height:22px; border: 1px solid red;'>
 Observaciones a tener en cuenta para elaboración del Contrato 
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT86' style='position:absolute; left:114px; top:40px; width:934px; height:44px; border: 1px solid red;'>
  A través de esta opción se envia a reconsideracion una solicitud que ha   sido aprobadas por Comité de Crédito.&#10;   Las observaciones dadas son las condiciones que cambian y que generan la reconsideración. 
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT91' style='position:absolute; left:328px; top:446px; width:558px; height:90px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT92' style='position:absolute; left:380px; top:460px; width:192px; height:22px; border: 1px solid red;'>
 Aprobación Comercial 
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-RECT95' style='position:absolute; left:46px; top:118px; width:446px; height:56px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT96' style='position:absolute; left:166px; top:120px; width:56px; height:22px; border: 1px solid red;'>
Oficina
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT99' style='position:absolute; left:260px; top:120px; width:70px; height:22px; border: 1px solid red;'>
Solicitud
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT102' style='position:absolute; left:634px; top:460px; width:182px; height:22px; border: 1px solid red;'>
 Fecha de Aprobación 
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem graphic' data-canvas-name='RECONSIDERA' id='RECONSIDERA-TEXT105' style='position:absolute; left:364px; top:120px; width:56px; height:22px; border: 1px solid red;'>
Estado
</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem item' data-canvas-name='CANVAS_PPAL' id='PPAL-PPAL_APROBAR' style='position:absolute; left:410px; top:312px; width: 268px; height:40px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PPAL.PPAL_APROBAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS_PPAL"' class='form-elem item' data-canvas-name='CANVAS_PPAL' id='PPAL-PPAL_RECONSIDERAR' style='position:absolute; left:410px; top:368px; width: 268px; height:40px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='PPAL.PPAL_RECONSIDERAR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "RECONSIDERA"' class='form-elem item' data-canvas-name='RECONSIDERA' id='CTRSOLICR2-SOLICR_CODUNI' style='position:absolute; left:64px; top:140px; width: 94px; height:28px; border: 1px solid green;'>
  <app-block (queryExecutor)='CTRSOLICR2_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface' [dataProvider]='CTRSOLICR2' [displayedColumns]='displayedColumns' [name]='CTRSOLICR2'></app-block>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
