<div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-RECT1' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT6' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT14' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT17' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT20' style='position:absolute; left:0px; top:0px; width:0px; height:0px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1' style='position:absolute; left:6px; top:64px; width:1214px; height:538px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8' style='position:absolute; left:16px; top:42px; width:280px; height:20px; border: 1px solid red;'>
 Tipos de Bien para las solicitud 
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-FRAME39' style='position:absolute; left:478px; top:122px; width:736px; height:420px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT40' style='position:absolute; left:720px; top:120px; width:252px; height:30px; border: 1px solid red;'>
  SUBCATEGORIAS  
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COTSUBCAT-SUBCAT_CODUNI' style='position:absolute; left:82px; top:548px; width: 60px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_CODUNI'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COTSUBCAT-SUBCAT_CTPBIE' style='position:absolute; left:0px; top:0px; width: 60px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_CTPBIE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_CODIGO' style='position:absolute; left:482px; top:202px; width: 54px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_CODIGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_DESCRI' style='position:absolute; left:536px; top:202px; width: 310px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_DESCRI'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_DPERFE' style='position:absolute; left:846px; top:202px; width: 74px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_DPERFE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_JORNAD' style='position:absolute; left:920px; top:202px; width: 74px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_JORNAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_PESMAX' style='position:absolute; left:994px; top:202px; width: 74px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_PESMAX'></app-input-item>
</div>
<div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='COTSUBCAT-SUBCAT_ESTADO' style='position:absolute; left:1068px; top:202px; width: 120px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COTSUBCAT.SUBCAT_ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-AYUDA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.AYUDA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LASTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LASTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-FIRSTR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.FIRSTR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ABAJO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ABAJO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-ARRIBA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.ARRIBA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-LIST' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.LIST'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-EDIT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.EDIT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-SAVE' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.SAVE'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.PRINT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BASE_DAT' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FECHA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-USUARIO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-FORMA' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-LOGO' style='position:absolute; left:0px; top:0px; width: 0px; height:0px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
</div>
