<div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT1'
      style='position:absolute; left:96px; top:28px; width:1028px; height:72px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT2'
      style='position:absolute; left:104px; top:2px; width:220px; height:22px;'>
      BALANCES POR TERCERO
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT5'
      style='position:absolute; left:140px; top:34px; width:134px; height:22px;'>
      Código Tercero
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT8'
      style='position:absolute; left:142px; top:64px; width:132px; height:22px;'>
      Código Periodo
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT11'
      style='position:absolute; left:64px; top:102px; width:1098px; height:524px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT12'
      style='position:absolute; left:76px; top:136px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT15'
      style='position:absolute; left:372px; top:136px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT18'
      style='position:absolute; left:482px; top:136px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT21'
      style='position:absolute; left:74px; top:398px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT22'
      style='position:absolute; left:76px; top:400px; width:184px; height:22px;'>
      Total Activo Corriente
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT25'
      style='position:absolute; left:76px; top:112px; width:86px; height:22px;'>
      A C T I V O
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT28'
      style='position:absolute; left:624px; top:134px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT31'
      style='position:absolute; left:922px; top:134px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT34'
      style='position:absolute; left:1030px; top:134px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT37'
      style='position:absolute; left:618px; top:396px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT38'
      style='position:absolute; left:620px; top:398px; width:176px; height:22px;'>
      Total Activo Fijo Neto
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT41'
      style='position:absolute; left:76px; top:434px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT44'
      style='position:absolute; left:374px; top:434px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT47'
      style='position:absolute; left:484px; top:434px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT50'
      style='position:absolute; left:74px; top:590px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT51'
      style='position:absolute; left:76px; top:594px; width:210px; height:22px;'>
      Total Activo No Corriente
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT54'
      style='position:absolute; left:622px; top:432px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT57'
      style='position:absolute; left:920px; top:442px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT60'
      style='position:absolute; left:1028px; top:442px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT63'
      style='position:absolute; left:622px; top:496px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT64'
      style='position:absolute; left:624px; top:502px; width:174px; height:22px;'>
      Total del A C T I V O
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-RECT67'
      style='position:absolute; left:622px; top:526px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT68'
      style='position:absolute; left:624px; top:530px; width:236px; height:22px;'>
      Total PASIVO + PATRIMONIO
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem graphic' data-canvas-name='CANVAS1' id='CANVAS1-TEXT71'
      style='position:absolute; left:784px; top:68px; width:142px; height:22px;'>
      Dias Anualización
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT75'
      style='position:absolute; left:0px; top:0px; width:1098px; height:524px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT76'
      style='position:absolute; left:10px; top:36px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT79'
      style='position:absolute; left:308px; top:36px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT82'
      style='position:absolute; left:418px; top:36px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT85'
      style='position:absolute; left:10px; top:246px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT86'
      style='position:absolute; left:12px; top:250px; width:192px; height:22px;'>
      Total Pasivo Corriente
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT89'
      style='position:absolute; left:12px; top:6px; width:112px; height:24px;'>
      P A S I V O
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT92'
      style='position:absolute; left:560px; top:34px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT95'
      style='position:absolute; left:856px; top:34px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT98'
      style='position:absolute; left:966px; top:34px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT101'
      style='position:absolute; left:10px; top:462px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT102'
      style='position:absolute; left:12px; top:466px; width:104px; height:22px;'>
      Total Pasivo
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT105'
      style='position:absolute; left:12px; top:284px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT108'
      style='position:absolute; left:310px; top:284px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT111'
      style='position:absolute; left:418px; top:284px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT114'
      style='position:absolute; left:10px; top:412px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT115'
      style='position:absolute; left:10px; top:416px; width:212px; height:22px;'>
      Total Pasivo No Corriente
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT118'
      style='position:absolute; left:558px; top:278px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT121'
      style='position:absolute; left:856px; top:278px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT124'
      style='position:absolute; left:964px; top:278px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT127'
      style='position:absolute; left:558px; top:376px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT128'
      style='position:absolute; left:560px; top:380px; width:236px; height:22px;'>
      Total PASIVO + PATRIMONIO
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT131'
      style='position:absolute; left:560px; top:8px; width:178px; height:24px;'>
      P A T R I M O N I O
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT134'
      style='position:absolute; left:558px; top:246px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT135'
      style='position:absolute; left:560px; top:248px; width:192px; height:22px;'>
      Total P A T R I M O N I O
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-LINE138'
      style='position:absolute; left:536px; top:4px; width:0px; height:514px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-RECT139'
      style='position:absolute; left:558px; top:348px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem graphic' data-canvas-name='CANVAS2' id='CANVAS2-TEXT140'
      style='position:absolute; left:560px; top:350px; width:174px; height:22px;'>
      Total del A C T I V O
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT144'
      style='position:absolute; left:0px; top:0px; width:1098px; height:524px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT145'
      style='position:absolute; left:10px; top:36px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT148'
      style='position:absolute; left:308px; top:36px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT151'
      style='position:absolute; left:418px; top:36px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT154'
      style='position:absolute; left:12px; top:6px; width:334px; height:24px;'>
      P E R D I D A S Y G A N A N C I A S
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT157'
      style='position:absolute; left:560px; top:34px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT160'
      style='position:absolute; left:856px; top:34px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT163'
      style='position:absolute; left:966px; top:34px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT166'
      style='position:absolute; left:10px; top:224px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT167'
      style='position:absolute; left:12px; top:228px; width:192px; height:22px;'>
      Total Utilidad Operativa
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT170'
      style='position:absolute; left:12px; top:148px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT173'
      style='position:absolute; left:310px; top:148px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT176'
      style='position:absolute; left:418px; top:148px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT179'
      style='position:absolute; left:8px; top:114px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT180'
      style='position:absolute; left:10px; top:116px; width:158px; height:22px;'>
      Total Utilidad Bruta
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT183'
      style='position:absolute; left:558px; top:148px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT186'
      style='position:absolute; left:856px; top:148px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT189'
      style='position:absolute; left:964px; top:148px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT192'
      style='position:absolute; left:558px; top:226px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT193'
      style='position:absolute; left:560px; top:228px; width:104px; height:22px;'>
      U T I L I D A D
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT196'
      style='position:absolute; left:10px; top:486px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT197'
      style='position:absolute; left:12px; top:488px; width:248px; height:22px;'>
      Total Utilidad Antes Imp y C.M.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT200'
      style='position:absolute; left:10px; top:260px; width:112px; height:22px;'>
      I N G R E S O S
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT203'
      style='position:absolute; left:12px; top:282px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT206'
      style='position:absolute; left:310px; top:282px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT209'
      style='position:absolute; left:418px; top:282px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT212'
      style='position:absolute; left:10px; top:362px; width:100px; height:22px;'>
      E G R E S O S
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT215'
      style='position:absolute; left:12px; top:382px; width:134px; height:22px;'>
      Cuentas del Puc
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT218'
      style='position:absolute; left:310px; top:382px; width:80px; height:22px;'>
      Valor Cta.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT221'
      style='position:absolute; left:420px; top:382px; width:70px; height:22px;'>
      PRT/CTA
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT224'
      style='position:absolute; left:556px; top:114px; width:502px; height:28px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-TEXT225'
      style='position:absolute; left:558px; top:116px; width:208px; height:22px;'>
      Total Utilidad Antes Imp.
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem graphic' data-canvas-name='CANVAS3' id='CANVAS3-RECT228'
      style='position:absolute; left:626px; top:318px; width:414px; height:134px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS4"' class='form-elem graphic' data-canvas-name='CANVAS4' id='CANVAS4-RECT230'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS5"' class='form-elem graphic' data-canvas-name='CANVAS5' id='CANVAS5-RECT232'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS6"' class='form-elem graphic' data-canvas-name='CANVAS6' id='CANVAS6-RECT234'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS7"' class='form-elem graphic' data-canvas-name='CANVAS7' id='CANVAS7-RECT236'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS8"' class='form-elem graphic' data-canvas-name='CANVAS8' id='CANVAS8-RECT238'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS9"' class='form-elem graphic' data-canvas-name='CANVAS9' id='CANVAS9-RECT240'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS10"' class='form-elem graphic' data-canvas-name='CANVAS10' id='CANVAS10-RECT242'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS11"' class='form-elem graphic' data-canvas-name='CANVAS11' id='CANVAS11-RECT244'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS12"' class='form-elem graphic' data-canvas-name='CANVAS12' id='CANVAS12-RECT246'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS13"' class='form-elem graphic' data-canvas-name='CANVAS13' id='CANVAS13-RECT248'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS14"' class='form-elem graphic' data-canvas-name='CANVAS14' id='CANVAS14-RECT250'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS15"' class='form-elem graphic' data-canvas-name='CANVAS15' id='CANVAS15-RECT252'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS16"' class='form-elem graphic' data-canvas-name='CANVAS16' id='CANVAS16-RECT254'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "CANVAS17"' class='form-elem graphic' data-canvas-name='CANVAS17' id='CANVAS17-RECT256'
      style='position:absolute; left:0px; top:0px; width:478px; height:98px;'>

  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3'
      style='position:absolute; left:500px; top:54px; width:226px; height:50px;'>
      MODULO&#10; ANALISIS DE CREDITO
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8'
      style='position:absolute; left:712px; top:70px; width:64px; height:22px;'>
      PROGR.:
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16'
      style='position:absolute; left:948px; top:48px; width:80px; height:22px;'>
      USUARIO :
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19'
      style='position:absolute; left:966px; top:70px; width:62px; height:22px;'>
      FECHA :
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22'
      style='position:absolute; left:746px; top:46px; width:32px; height:22px;'>
      BD :
  </div>
  <div *ngIf='currentCanvas == ""' class='form-elem item' id='VARIABLE-DUMMY'
      style='position:absolute; left:0px; top:0px; width: 136px; height:28px;'>
      <app-input-item [(inputValue)]='VARIABLE.DUMMY' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_ACTPA'
      style='position:absolute; left:902px; top:528px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_ACTPA' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_ACTPA_P'
      style='position:absolute; left:1014px; top:524px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_ACTPA_P' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DIAXBA_CODTER'
      style='position:absolute; left:288px; top:36px; width: 140px; height:28px;'>
      <app-input-item name="DIAXBA_CODTER" [(inputValue)]='VARIABLE.DIAXBA_CODTER' (whenValidateItem)="ANFBATER_variable_diaxbaCodter_whenValidateItem_wrapped()" ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_NITTER'
      style='position:absolute; left:448px; top:36px; width: 576px; height:28px;'>
      <app-input-item InsertAllowed="false" UpdateAllowed="false" [(inputValue)]='VARIABLE.DES_NITTER' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DIAXBA_CODPER'
      style='position:absolute; left:288px; top:66px; width: 56px; height:28px;'>
      <app-input-item name="DIAXBA_CODPER" [(inputValue)]='VARIABLE.DIAXBA_CODPER' (whenValidateItem)="ANFBATER_variable_diaxbaCodper_whenValidateItem_wrapped()" ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DES_PERCOD'
      style='position:absolute; left:448px; top:64px; width: 318px; height:28px;'>
      <app-input-item InsertAllowed="false" UpdateAllowed="false" [(inputValue)]='VARIABLE.DES_PERCOD' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-DIAXBA_DIASAN'
      style='position:absolute; left:934px; top:66px; width: 90px; height:28px;'>
      <app-input-item [(inputValue)]='VARIABLE.DIAXBA_DIASAN' (keyNextItem)="ANFBATER_variable_diaxbaDiasan_keyNextItem_wrapped()"
       ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-PASIVO'
      style='position:absolute; left:762px; top:560px; width: 286px; height:28px;'>
      <app-button-item (click)="ANFBATER_variable_pasivo_whenMouseClick_wrapped()" value="PASIVO /  PATRIMONIO"></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-VOLVER_PASIVO'
      style='position:absolute; left:722px; top:488px; width: 286px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-PERDIDAS'
      style='position:absolute; left:680px; top:458px; width: 356px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-V_PER'
      style='position:absolute; left:700px; top:474px; width: 286px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-ACTUAL_SUMAS'
      style='position:absolute; left:700px; top:340px; width: 286px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-ACTUAL_PAR'
      style='position:absolute; left:700px; top:398px; width: 286px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_A1'
      style='position:absolute; left:356px; top:398px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_A1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_PA1'
      style='position:absolute; left:466px; top:398px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PA1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_A2'
      style='position:absolute; left:902px; top:396px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_A2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_PA2'
      style='position:absolute; left:1012px; top:396px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PA2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_A3'
      style='position:absolute; left:356px; top:588px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_A3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_PA3'
      style='position:absolute; left:464px; top:588px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PA3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_A4'
      style='position:absolute; left:902px; top:496px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_A4' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-TOTAL_PA4'
      style='position:absolute; left:1014px; top:496px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PA4' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_P1'
      style='position:absolute; left:292px; top:246px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_P1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_PP1'
      style='position:absolute; left:402px; top:246px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PP1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_P2'
      style='position:absolute; left:290px; top:414px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_P2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_PP2'
      style='position:absolute; left:400px; top:414px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PP2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_P3'
      style='position:absolute; left:290px; top:462px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_P3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_PP3'
      style='position:absolute; left:402px; top:462px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PP3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_T1'
      style='position:absolute; left:840px; top:246px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_T1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_PT1'
      style='position:absolute; left:950px; top:246px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PT1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_T2'
      style='position:absolute; left:838px; top:376px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_T2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_PT2'
      style='position:absolute; left:950px; top:376px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PT2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_G1'
      style='position:absolute; left:290px; top:112px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_G1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_PG1'
      style='position:absolute; left:400px; top:112px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PG1' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_G2'
      style='position:absolute; left:290px; top:224px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_G2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_PG2'
      style='position:absolute; left:402px; top:224px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PG2' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_G3'
      style='position:absolute; left:288px; top:486px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_G3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_PG3'
      style='position:absolute; left:400px; top:486px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PG3' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_G4'
      style='position:absolute; left:838px; top:114px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_G4' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_PG4'
      style='position:absolute; left:948px; top:114px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PG4' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_G5'
      style='position:absolute; left:838px; top:226px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_G5' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS3"' class='form-elem item' data-canvas-name='CANVAS3' id='VARIABLE-TOTAL_PG5'
      style='position:absolute; left:948px; top:226px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_PG5' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_ACTIVOP'
      style='position:absolute; left:838px; top:346px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_ACTIVOP' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-TOTAL_ACTIVOP_P'
      style='position:absolute; left:950px; top:346px; width: 110px; height:26px;'>
      <app-input-item [(inputValue)]='VARIABLE.TOTAL_ACTIVOP_P' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS2"' class='form-elem item' data-canvas-name='CANVAS2' id='VARIABLE-SUMATORIA_PASIVO'
      style='position:absolute; left:712px; top:422px; width: 286px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-SUMATORIA_ACTIVO'
      style='position:absolute; left:762px; top:590px; width: 286px; height:28px;'>
      <app-button-item value="Actualizar Sumatorias"></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS1' id='VARIABLE-BTN_SIGUIENTE'
      style='position:absolute; left:1062px; top:36px; width: 56px; height:56px;'>
      <app-button-item value=">>"></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS4' id='ANTBALXTER'
      style='position:absolute; left:76px; top:152px; width: 542px; height:232px;'>
      <app-block (queryExecutor)='ANTBALXTER_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER' [displayedColumns]='displayedColumns' blockName='ANTBALXTER'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS5' id='ANTBALXTER_1'
      style='position:absolute; left:624px; top:152px; width: 542px; height:232px;'>
      <app-block (queryExecutor)='ANTBALXTER_1_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_1' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_1'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS6' id='ANTBALXTER_2'
      style='position:absolute; left:76px; top:448px; width: 542px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_2_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_2' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_2'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS1"' class='form-elem item' data-canvas-name='CANVAS7' id='ANTBALXTER_3'
      style='position:absolute; left:624px; top:448px; width: 542px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_3_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_3' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_3'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS8"' class='form-elem item' data-canvas-name='CANVAS8' id='ANTBALXTER_'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_4_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_4' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_4'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS9"' class='form-elem item' data-canvas-name='CANVAS9' id='ANTBALXTER_5'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_5_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_5' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_5'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS10"' class='form-elem item' data-canvas-name='CANVAS10' id='ANTBALXTER_6'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_6_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_6' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_6'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS11"' class='form-elem item' data-canvas-name='CANVAS11' id='ANTBALXTER_7'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_7_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_7' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_7'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS12"' class='form-elem item' data-canvas-name='CANVAS12' id='ANTBALXTER_8'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_8_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_8' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_8'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS13"' class='form-elem item' data-canvas-name='CANVAS13' id='ANTBALXTER_9'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_9_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_9' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_9'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS14"' class='form-elem item' data-canvas-name='CANVAS14'
      id='ANTBALXTER_10'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_10_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_10' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_10'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS15"' class='form-elem item' data-canvas-name='CANVAS15'
      id='ANTBALXTER_11'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_11_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_11' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_11'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS16"' class='form-elem item' data-canvas-name='CANVAS16'
      id='ANTBALXTER_12'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_12_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_12' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_12'></app-block>
  </div>
  <div *ngIf='currentCanvas == "CANVAS17"' class='form-elem item' data-canvas-name='CANVAS17'
      id='ANTBALXTER_13'
      style='position:absolute; left:12px; top:26px; width: 442px; height:44px;'>
      <app-block (queryExecutor)='ANTBALXTER_13_BLOCK_wrapped()' [dataInterface]='AnfbaterInterface'
          [dataProvider]='ANTBALXTER_13' [displayedColumns]='displayedColumns' blockName='ANTBALXTER_13'></app-block>
  </div>
  <div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION'
      style='position:absolute; left:0px; top:0px; width: 90px; height:28px;'>
      <app-input-item [(inputValue)]='BASE.OPCION' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD'
      style='position:absolute; left:0px; top:0px; width: 90px; height:28px;'>
      <app-input-item [(inputValue)]='BASE.BD' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT'
      style='position:absolute; left:788px; top:44px; width: 156px; height:24px;'>
      <app-input-item [(inputValue)]='BASE.BASE_DAT' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA'
      style='position:absolute; left:1034px; top:68px; width: 156px; height:24px;'>
      <app-input-item [(inputValue)]='BASE.FECHA' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO'
      style='position:absolute; left:1034px; top:44px; width: 156px; height:24px;'>
      <app-input-item [(inputValue)]='BASE.USUARIO' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA'
      style='position:absolute; left:788px; top:68px; width: 156px; height:24px;'>
      <app-input-item [(inputValue)]='BASE.FORMA' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO'
      style='position:absolute; left:12px; top:2px; width: 460px; height:84px;'>
      <app-input-item [(inputValue)]='BASE.LOGO' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA'
      style='position:absolute; left:1124px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR'
      style='position:absolute; left:1016px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR'
      style='position:absolute; left:980px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT'
      style='position:absolute; left:1160px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO'
      style='position:absolute; left:1088px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA'
      style='position:absolute; left:1052px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR'
      style='position:absolute; left:692px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD'
      style='position:absolute; left:764px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK'
      style='position:absolute; left:944px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST'
      style='position:absolute; left:872px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT'
      style='position:absolute; left:800px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD'
      style='position:absolute; left:836px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE'
      style='position:absolute; left:620px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD'
      style='position:absolute; left:728px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND'
      style='position:absolute; left:656px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK'
      style='position:absolute; left:908px; top:0px; width: 36px; height:36px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP'
      style='position:absolute; left:222px; top:2px; width: 102px; height:26px;'>
      <app-input-item [(inputValue)]='TOOLBAR.BUTTON_HELP' ngDefaultControl></app-input-item>
  </div>
  <div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT'
      style='position:absolute; left:756px; top:28px; width: 32px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
  <div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP'
      style='position:absolute; left:504px; top:28px; width: 32px; height:28px;'>
      <app-button-item></app-button-item>
  </div>
</div>


<div *ngIf="isKeypressProcessing"
style="position: fixed; left:0; top:0; width: 100%; height: 100%; opacity: .2; background: black url(/assets/img/spinner.gif) center center no-repeat; z-index: 150;">
</div>
