<div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT790' style='position:absolute; left:184px; top:74px; width:860px; height:114px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-RECT164' style='position:absolute; left:148px; top:82px; width:922px; height:96px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT171' style='position:absolute; left:194px; top:112px; width:68px; height:20px; border: 1px solid red;'>
Tercero
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-TEXT718' style='position:absolute; left:916px; top:42px; width:86px; height:20px; border: 1px solid red;'>
IMPRIMIR
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem graphic' data-canvas-name='PAGE_1' id='PAGE_1-GRAPHIC791' style='position:absolute; left:152px; top:26px; width:284px; height:24px; border: 1px solid red;'>
F o r m a t o      d e     I n c o n s i s t e n c i a s
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem graphic' data-canvas-name='PAGE_2' id='PAGE_2-TEXT24' style='position:absolute; left:404px; top:94px; width:0px; height:0px; border: 1px solid red;'>
Inicial
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem graphic' data-canvas-name='PAGE_2' id='PAGE_2-GRAPHIC232' style='position:absolute; left:46px; top:196px; width:988px; height:324px; border: 1px solid red;'>

</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT3' style='position:absolute; left:500px; top:54px; width:226px; height:50px; border: 1px solid red;'>
 MODULO&#10;  ANALISIS DE CREDITO 
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT8' style='position:absolute; left:712px; top:70px; width:64px; height:22px; border: 1px solid red;'>
PROGR.:
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT16' style='position:absolute; left:948px; top:48px; width:80px; height:22px; border: 1px solid red;'>
USUARIO :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT19' style='position:absolute; left:966px; top:70px; width:62px; height:22px; border: 1px solid red;'>
FECHA :
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem graphic' data-canvas-name='TOOLBAR' id='TOOLBAR-TEXT22' style='position:absolute; left:746px; top:46px; width:32px; height:22px; border: 1px solid red;'>
BD :
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BVARIABLE-TERCERO' style='position:absolute; left:284px; top:110px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BVARIABLE.TERCERO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BVARIABLE-NOMBRE' style='position:absolute; left:434px; top:110px; width: 448px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BVARIABLE.NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='BVARIABLE-SIGUIENTE' style='position:absolute; left:980px; top:510px; width: 44px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BVARIABLE.SIGUIENTE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='BVARIABLE-CONSULTAR' style='position:absolute; left:856px; top:454px; width: 148px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BVARIABLE.CONSULTAR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='BVARIABLE-CREAR' style='position:absolute; left:58px; top:452px; width: 148px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BVARIABLE.CREAR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='BVARIABLE-DUPLICAR' style='position:absolute; left:262px; top:452px; width: 148px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BVARIABLE.DUPLICAR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-UNIDAD' style='position:absolute; left:48px; top:118px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.UNIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-OFICINA' style='position:absolute; left:128px; top:118px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.OFICINA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-SOLICITUD' style='position:absolute; left:218px; top:118px; width: 130px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.SOLICITUD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-TIPOPERSONA' style='position:absolute; left:348px; top:118px; width: 118px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.TIPOPERSONA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-IDENTIFICACION' style='position:absolute; left:466px; top:118px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.IDENTIFICACION'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-NOMBRE' style='position:absolute; left:618px; top:118px; width: 260px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.NOMBRE'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='INSERCION-ESTADO' style='position:absolute; left:878px; top:118px; width: 144px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='INSERCION-COMERCIAL' style='position:absolute; left:0px; top:0px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='INSERCION.COMERCIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-CONSECUTIVO' style='position:absolute; left:72px; top:120px; width: 80px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.CONSECUTIVO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-TERCERO' style='position:absolute; left:152px; top:120px; width: 188px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.TERCERO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-SOLICITUDAZ' style='position:absolute; left:340px; top:120px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.SOLICITUDAZ'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-SOLICITUDNG' style='position:absolute; left:520px; top:120px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.SOLICITUDNG'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-FECHA' style='position:absolute; left:700px; top:120px; width: 150px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-ESTADO' style='position:absolute; left:850px; top:120px; width: 126px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.ESTADO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='VALIDACION-SELECCION' style='position:absolute; left:980px; top:122px; width: 26px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='VALIDACION.SELECCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COVPIEDRA-PIEDRA_TERCER' style='position:absolute; left:986px; top:184px; width: 190px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPIEDRA.PIEDRA_TERCER'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='COVPIEDRA-PIEDRA_PIEDRA' style='position:absolute; left:896px; top:152px; width: 284px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPIEDRA.PIEDRA_PIEDRA'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='COVPIEDRA-PIEDRA_COMENT' style='position:absolute; left:0px; top:0px; width: 486px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPIEDRA.PIEDRA_COMENT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='COVPIEDRA-PIEDRA_IMAGEN' style='position:absolute; left:928px; top:92px; width: 112px; height:76px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='COVPIEDRA.PIEDRA_IMAGEN'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BNEGADAS-CANTIDAD' style='position:absolute; left:0px; top:0px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BNEGADAS.CANTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BAPLAZADAS-CANTIDAD' style='position:absolute; left:0px; top:0px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BAPLAZADAS.CANTIDAD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_CONSEC' style='position:absolute; left:630px; top:42px; width: 166px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_CONSEC'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' data-canvas-name='' id='ANTTINCONS-INCONS_INESTA' style='position:absolute; left:882px; top:42px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_INESTA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_INESTADESC' style='position:absolute; left:882px; top:42px; width: 150px; height:32px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_INESTADESC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_TERCER' style='position:absolute; left:162px; top:86px; width: 174px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_TERCER'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_TERCERDESC' style='position:absolute; left:338px; top:86px; width: 656px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_TERCERDESC'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-SOLI_APLAZADA' style='position:absolute; left:652px; top:122px; width: 340px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.SOLI_APLAZADA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-SOLI_NEGADA' style='position:absolute; left:162px; top:120px; width: 340px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.SOLI_NEGADA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-COMERCIAL' style='position:absolute; left:162px; top:156px; width: 94px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.COMERCIAL'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-COMERCIALNOM' style='position:absolute; left:252px; top:156px; width: 424px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.COMERCIALNOM'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_FREGIS' style='position:absolute; left:812px; top:156px; width: 180px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_FREGIS'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_INFOPR' style='position:absolute; left:64px; top:242px; width: 472px; height:274px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_INFOPR'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_2"' class='form-elem item' data-canvas-name='PAGE_2' id='ANTTINCONS-INCONS_INFODT' style='position:absolute; left:554px; top:240px; width: 472px; height:274px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='ANTTINCONS.INCONS_INFODT'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-OPCION' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.OPCION'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='BASE-BD' style='position:absolute; left:0px; top:0px; width: 90px; height:28px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BD'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-BASE_DAT' style='position:absolute; left:788px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.BASE_DAT'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FECHA' style='position:absolute; left:1034px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FECHA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-USUARIO' style='position:absolute; left:1034px; top:44px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.USUARIO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-FORMA' style='position:absolute; left:788px; top:68px; width: 156px; height:24px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.FORMA'></app-input-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='BASE-LOGO' style='position:absolute; left:12px; top:2px; width: 460px; height:84px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='BASE.LOGO'></app-input-item>
</div>
<div *ngIf='currentCanvas == "PAGE_1"' class='form-elem item' data-canvas-name='PAGE_1' id='BASE-IMPRIMIR' style='position:absolute; left:1010px; top:34px; width: 34px; height:32px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='BASE.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-AYUDA' style='position:absolute; left:1124px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.AYUDA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LASTR' style='position:absolute; left:1016px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LASTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-FIRSTR' style='position:absolute; left:980px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.FIRSTR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-KEY_EXIT' style='position:absolute; left:1160px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.KEY_EXIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ABAJO' style='position:absolute; left:1088px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ABAJO'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-ARRIBA' style='position:absolute; left:1052px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.ARRIBA'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-IMPRIMIR' style='position:absolute; left:692px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.IMPRIMIR'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-DELETE_RECORD' style='position:absolute; left:764px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.DELETE_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-NEXT_BLOCK' style='position:absolute; left:944px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.NEXT_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-LIST' style='position:absolute; left:872px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.LIST'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-EDIT' style='position:absolute; left:800px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.EDIT'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-CLEAR_RECORD' style='position:absolute; left:836px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.CLEAR_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-SAVE' style='position:absolute; left:620px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.SAVE'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-INSERT_RECORD' style='position:absolute; left:728px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.INSERT_RECORD'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-QUERY_FIND' style='position:absolute; left:656px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.QUERY_FIND'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-PREV_BLOCK' style='position:absolute; left:908px; top:0px; width: 36px; height:36px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PREV_BLOCK'></app-button-item>
</div>
<div *ngIf='currentCanvas == "TOOLBAR"' class='form-elem item' data-canvas-name='TOOLBAR' id='TOOLBAR-BUTTON_HELP' style='position:absolute; left:222px; top:2px; width: 102px; height:26px; border: 1px solid green;'>
  <app-input-item [(ngModel)]='TOOLBAR.BUTTON_HELP'></app-input-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-PRINT' style='position:absolute; left:756px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.PRINT'></app-button-item>
</div>
<div *ngIf='currentCanvas == ""' class='form-elem item' id='TOOLBAR-HELP' style='position:absolute; left:504px; top:28px; width: 32px; height:28px; border: 1px solid green;'>
  <app-button-item [(ngModel)]='TOOLBAR.HELP'></app-button-item>
</div>
</div>
